<div id="advanced-search-overlay" class="modal-ooi modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Advanced Search</h1>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="adv_map"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4" id="adv-geospatial" data-path="stub">geo</div>
                    <div class="span4" id="adv-vertical" data-path="stub">vert</div>
                    <div class="span4" id="adv-temporal" data-path="stub">temp</div>
                </div>
            </div>
            <div class="span3">
                sidebar
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btn-cancel" data-dismiss="modal" class="btn-blue btn-cancel">Cancel</button>
        <button id="btn-adv-search" class="btn-blue btn-save">Search</button>
    </div>
</div>

