<div class="select_all">
	<input class="checkAllFacilities" type="checkbox"/> Select All
</div>
<div class="list_facilities">
	<form action="">
		<% _.each(resources, function(resource) { %>
            <input type="checkbox" value="<%= resource._id %>"/><div class="resourceLink" data-id="<%= resource._id %>"> <%= resource.name %></div><br/>
        <% }) %>
    </form>
</div>


<script>
    $(function(){
        $(".list_facilities .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Org/face/"+resource_id+"/";
            IONUX.ROUTER.navigate('');
            IONUX.ROUTER.navigate(url, {trigger:true});
            $('#mapButtonHidden').click();
        });
    });
</script>