<% if (_.isEmpty(collection)) { %>
    Nothing here.
<% } else { %>
    
<table class="table">
    <% _.each(collection, function(item){ %>
        <tr>
            <td><%= item.name %></td>
            <td><a href="/<%= resource_type %>/face/<%= item._id %>/">Face</a></td>
            <td><a href="/<%= resource_type %>/status/<%= item._id %>/">Status</a></td>
            <td><a href="/<%= resource_type %>/related/<%= item._id %>/">Related</a></td>
            <% if (resource_type == 'InstrumentDevice') { %>
            <td><a href="/<%= resource_type %>/command/<%= item._id %>/">Command</a></td>
            <% }; %>
        </tr>
    <% }); %>
</table>
<% } %>
