<div id="create-account-overlay" class="modal-ooi modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Create Account</h1>
    </div>
    <div class="modal-body">
        <p>Registration is a two-step process.</p>
        <p>STEP 1: Press "Get Credentials" below to login with CILogon.</p>
        <p>STEP 2: CILogon will redirect you here to complete your user registration.</p>
    </div>
    <div class="modal-footer">
        <button id="create-account-cancel" data-dismiss="modal" class="btn-general btn-cancel">Cancel</button>
        <button id="get-credentials" class="btn-blue btn-save">Get Credentials</button>
    </div>
</div>

