<div id="xheader">&nbsp;</div>
<div id="top">
  <div id="view-controls" class="placeholder">view-controls</div>
  <div id="xsearch" class="placeholder">search</div>
</div>

<div id="main">
  <div id="left">
    <div id="site-navigation">
      <h3>Sites</h3>
      <div id="site-list"></div>
    </div>
    <div id="data-asset-filter" class="">
      <h3>Data/Assets</h3>
      <div>
        Data <input type="radio" name="" />
        Asset <input type="radio" name="" checked />
      </div>
      <div>
        <p>
          Orgs<br />
          Platforms<br />
          Instruments
        </p>
      </div>
    </div>
  </div>
  <div id="content">
    Content
  </div>
</div>
