<h3><%= title %></h3>
<div id="list">
  <ul>
  <% _.each(resources, function(nested_resources, san) { %>
    <li>
      <%= san %>
      <ul>
        <% _.each(nested_resources, function(resource) { %>
          <li>
            <a href="/map/<%= resource._id %>">
              <% if (resource.local_name) { %>
                <%= resource.local_name %>
              <% } else { %>
                <%= resource.name %>
              <% }; %>
            </a>
          </li>
        <% }); %>
      </ul>
    </li>
  <% }) %>
  </ul>
</div>