<h3><%= title %></h3>
<div class="panelize">
  <div id="list">
    <% _.each(resources, function(nested_resources, san) { %>
      <ul class="map-ul">
        <li ><a class="primary-link" href="#"><%= san %></a><a href="#" class="secondary-link pull-right">&nbsp;</a></li>
      </ul>
      <!-- TODO: nest and style parent nodes appropriately. This is temporary. -->
      <ul class="map-nested-ul">
          <% _.each(nested_resources, function(resource) { %>
            <li data-resource-id="<%= resource._id %>" class="">
              <a class="primary-link" href="/map/<%= resource._id %>">
                <% if (resource.local_name) { %>
                  <%= resource.local_name %>
                <% } else { %>
                  <%= resource.name %>
                <% }; %>
              </a>
            </li>
          <% }); %>
        </ul>
    <% }) %>
  </div>
</div>