<h3><%= title %></h3>
<div class="panelize">
  <ul class="resource-ul">
    <% _.each(resources, function(resource) { %>
      <li class="resource-link" data-resource-id="<%= resource._id %>">
        <a title="View list of resources" class="primary-link" href="/resources/<%= resource._id %>"><%= resource.name %></a>
        <a title="View facility page" class="secondary-link pull-right" style="width:16px;height:16px;" href="/<%= resource.type_ %>/face/<%= resource._id%>/">&nbsp;</a>
      </li>
    <% }) %>
  </div>
</ul>
