<h1>Data Definition Process: <%= name %> </h1>

<div class="row">
	<div class="span3">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<h4>Identification</h4>
			<p>
				Name: <%= name %><br />
				ID: <%= _id %><br />
				Registered:
			</p>
		
			<h4>Description</h4>
			<p><%= description %></p>
		
			<h4>Contact Information</h4>
			<p>placeholder</p>

			<h4>Additional Information</h4>
			<p>
				Module: <%= module %><br />
				Class name: <%= class_name %>
			</p>
		<section>
	</div>	
	
	<div class="span7">
		<section class="wrapper">
			<h3 class="wrapper-heading">Algorithm</h3>
			<p>Placeholder...</p>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Stream Definition Inputs</h3>
			<p>Placeholder...</p>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Stream Definition Outputs</h3>
			<p>Placeholder...</p>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Used-In</h3>
			<p>Placeholder...</p>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Policies</h3>
			<p>Placeholder...</p>
		</section>
	</div>
</div>