<h1>Data Product: <%= name %></h1>
<div class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
					
			<h4>Identification</h4>
			<p>Identification placeholder</p>
		
			<h4>Location</h4>
			<p>Location placeholder</p>
		
			<h4>Description</h4>
			<p>Description placeholder</p>
		
			<h4>Contact</h4>
			<p>Contact placeholder</p>
		
			<h4>Additional Informtion</h4>
			<p>
				Data Product Level:<br />
				Data Product Quality Control Level: <br />
				Data Product Version Status:<br />
				CDM Data Type:
			</p>
		</section>
	</div>	
	
	<div class="span8">
		<div class="row">
			<div class="span4">
				<div id="chart_div" style="width:100%;height:300px"></div>
			</div>
			<div class="span4">
				<form>
					<div id="chart_ui_div" style="width:100%;height:300px"></div>
				</form>
			</div>
		</div>


		<section class="wrapper">
			<h3 class="wrapper-heading">Data</h3>

			<section class="wrapper">
				<h3 class="wrapper-heading">Data Information</h3>
			</section>
		</section>
		
		<!-- end data -->
		<section class="wrapper">
			<h3 class="wrapper-heading">Processing</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Processes used to produce data product</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Updated</th>
					</tr>
					<% _.each(input_process, function(obj) { %>
						<tr>
							<td><%= obj.name %></a></td>
							<td><%= obj.description %></td>
							<td><%= obj.ts_updated %></td>
						</tr>
					<% }); %>
				</table>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Processes that use this data product</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Updated</th>
					</tr>
					<% _.each(output_process, function(obj) { %>
						<tr>
							<td><%= obj.name %></a></td>
							<td><%= obj.description %></td>
							<td><%= obj.ts_updated %></td>
						</tr>
					<% }); %>
				</table>
			</section>
		</section>
	</div>
</div>
