<h1>Collection: Data Products</h1>

<div id="lca-collections" class="row-fluid">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span10 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Data Products</h3>
			<table id="data-products-container" class="table" width="100%">
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
				</thead>
                <tbody>
			    <% _.each(collection, function(obj) { %>
						<tr>
							<td>
							    <a href="/data_products/<%= obj._id %>/"><%= obj.name %></a> 
							    (<a href="/data_products/dyn/<%= obj._id %>/">Dyn</a>) 
							    (<a href="/data_products/hybrid/<%= obj._id %>/">Hybrid</a>)
							</td>
							<td><%= obj.description %></td>
							<td><%= obj.ts_updated %></td>
						</tr>
			    <% }); %>
			    </tbody>
			</table>		
		</section>
	</div>
</div>
