<h1>Data Product: (name of data product)</h1>

<div class="row">
	<div class="span2">
		<h3>Information</h3>
		
		<h4>Identification</h4>
		<p>Identification placeholder</p>
		
		<h4>Location</h4>
		<p>Location placeholder</p>
		
		<h4>Description</h4>
		<p>Description placeholder</p>
		
		<h4>Contact</h4>
		<p>Contact placeholder</p>
		
		<h4>Additional Informtion</h4>
		<p>
			Data Product Level:<br />
			Data Product Quality Control Level: <br />
			Data Product Version Status:<br />
			CDM Data Type:
		</p>
	</div>	
	
	<div class="span8">

		<h3>Data</h3>
		<h5>Data Information</h5>
		<input type="checkbox" name="Persistant" value="" id="">
		
		<!-- end data -->

		<h3>Variables</h3>
		<p>List of variable names</p>
		
		<h3>Processes</h3>
		<p>DataTable - Processes used to produce data product.</p>
		<p>DataTable - Processes that use this data product.</p>
		
		<h3></h3>
	</div>
</div>