<div class="datatable-container">
  <div class="datatable-filters">
   <div class="filter-header"><span class='show-hide-filters hidden filter_passive'></span><br/></div>
   <!--<div class="filter-header"><button class='show-hide-filters hidden'>FILTER</button><br/></div>-->
   <div class="filter-controls"><button class='filters-reset'>RESET</button><button class='filters-apply'>APPLY</button></div>
   <div class="filter-items"></div>
  </div>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
</div>
