<div class="datatable-container">
  <div class="datatable-filters">
   <div class="filter-header">All Sensors<button class='show-hide-filters hidden'>FILTER</button></div>
   <div class="filter-controls"><button class='filters-apply'>APPLY</button><button class='filters-reset'>RESET</button></div>
   <div class="filter-items">
    <!--
    <div class="filter-item">
      <select size="1" name=""><option value="LastComm" selected="selected">Last Communication</option><option value="PID">Platform Id</option></select>
      <select size="1" name=""><option value="NT" selected="selected">Newer Than</option><option value="C">Contains</option></select>
      <input type="text" value="12:03:07 12.00.00">
      <span class="filter-add">+</span><span class="filter-remove">-</span>
    </div>

    <div class="filter-item">
      <select size="1" name=""><option value="PID" selected="selected">Platform Id</option><option value="LastComm">Last Communication</option></select>
      <select size="1" name=""><option value="C" selected="selected">Contains</option><option value="NT">Newer Than</option></select>
      <input type="text" value="274508">
      <span class="filter-add">+</span><span class="filter-remove">-</span>
    </div>
    -->
   </div>
  </div>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"></table>
</div>
