<div class="modal-header">
  <h1><%= headline %></h1>
</div>
<div class="modal-body error">
  <% _.each(error_objs, function(error_obj) { %>
    <% if (error_obj.is_html) { %>
    <%= error_obj.Message %>
    <% } else { %>
    <h4><%- error_obj.Message %></h4>
    <% } %>
    <% if (_.has(error_obj, 'Trace')) { %>
      <pre class="error-trace">
        <%- error_obj.Trace %>
      </pre>
    <% } %>
  <% }) %>
  <% if (force_logout) { %>
  <p>Your credentials have expired. You must sign in again to continue.</p>
  <% } %>
  <p style="margin-top:15px;"><a class="btn-general external" target="_blank" href="mailto:helpdesk@oceanobservatories.org">Email Helpdesk</a></p>
</div>
<div class="modal-footer">
  <% if (force_logout) { %>
    <button id="relogin" class="btn-blue">Sign In</button>
    <button id="cancel_relogin" class="btn-blue">Continue as Guest</button>
  <% } else if (open_modal) { %>
    <button class="btn-blue" data-dismiss="modal">OK</button>
  <% } else { %>
    <button id="back" class="btn-blue" data-dismiss="modal">Back</button>
    <button id="dashboard" class="btn-blue" data-dismiss="modal">Dashboard</button>
    <button class="btn-blue" data-dismiss="modal">Close</button>
  <% } %>
</div>
