<% if (data) { %>
  <div class=row-fluid">
    <div class="span4 text-short-label">Min Depth:</div>
    <div class="span4 text-short-value"><%= data.geospatial_vertical_min %></div>
    <div class="span4 text-short-value">m</div>
  </div>
  <div style="clear:both;"></div>
  <div class="row-fluid">
    <div class="span4 text-short-label">Max Depth:</div>
    <div class="span4 text-short-value"><%= data.geospatial_vertical_max %></div>
    <div class="span4 text-short-value">m</div>
  </div>
  <div style="clear:both;"></div>
<% } %>