<% if (data) { %>
  <div class="row-fluid">
    <div class="span4 text-short-label">Latitude:</div>
    <% if (data.geospatial_latitude_limit_north === data.geospatial_latitude_limit_south ) { %>
        <div class="span4 text-short-value"><%= data.geospatial_latitude_limit_north %></div>
    <% } else{ %>
        <div class="span4 text-short-value"><%= data.geospatial_latitude_limit_north %>, <%= data.geospatial_latitude_limit_south %></div>
    <% } %>
    <div class="span4 text-short-value">N</div>
  </div>
  <div style="clear:both;"></div>

  <div class="row-fluid">
    <div class="span4 text-short-label">Longitude:</div>
    <% if (data.geospatial_longitude_limit_west === data.geospatial_longitude_limit_east ) { %>
        <div class="span4 text-short-value"><%= data.geospatial_longitude_limit_west %></div>
    <% } else{ %>
        <div class="span4 text-short-value"><%= data.geospatial_longitude_limit_west %>, <%= data.geospatial_longitude_limit_east %></div>
    <% } %>
    <div class="span4 text-short-value">E</div>
  </div>
  <div style="clear:both;"></div>
<% } %>