<h4><%= label %></h4>
<div class="temporal-from">
    From:<br />
    <input type="text" class="textfield_geo" value="<%= temporal_from %>" disabled /> <i class="icon-calendar icon-white"></i>
</div>
<div class="temporal-to">
    To:<br />
    <input type="text" class="textfield_geo" value="<%= temporal_to %>" disabled /> <i class="icon-calendar icon-white"></i>
</div>

<% if (typeof(integration_info) != 'undefined') { %>
    <div class="integration_info">
        <%= integration_info %>
    </div>
<% }; %>