<h4><%= label %></h4>
<div class"row-fluid">

<% if (data) { %>
    <div class="span12 geo-north geo-textfield">
        <div class="input-prepend">
            <span class="add-on">N</span>
            <input class="textfield_geo" name="north" type="number" size="11" maxlength="11" step="any" disabled value="<%= data.geospatial_latitude_limit_north %>"/>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="input-prepend">
            <span class="add-on">W</span>
            <input class="textfield_geo" name="west" type="number" size="11" maxlength="11" step="any" disabled value="<%= data.geospatial_longitude_limit_west %>"/>
        </div>
    </div>
    <div class="span6 geo-east">
        <div class="input-append">
            <input class="textfield_geo" name="east" type="number" size="11" maxlength="11" step="any" disabled value="<%= data.geospatial_longitude_limit_east %>"/>
            <span class="add-on">E</span>
        </div>
    </div>
    </div>
</div>
<div class"row-fluid">
    <div class="span12 geo-south geo-textfield">
        <div class="input-prepend">
            <span class="add-on">S</span>
            <input class="textfield_geo" name="south" type="number" size="11" maxlength="11" step="any" disabled value="<%= data.geospatial_latitude_limit_south %>"/><br />
        </div>
    </div>
    </div>
</div>

<% } %>

<% if (typeof(integration_info) != 'undefined') { %>
    <div class="integration_info">
        <%= integration_info %>
    </div>
<% }; %>
