<h4><%= label %></h4>
<% if (data) { %>
  <div class="vertical-bounds">
    Vertical Positive: <span class="label"><div class="vertical-bounds-positive toggle_sealevel_result" style="width:20px;display:inline-block;position:relative;">&nbsp;</div><span>DOWN</span></span><br />
    <input type="number" class="textfield_geo" name="vertical-lower-bound" value="<%= data.geospatial_vertical_min %>" disabled />
    to
    <input type="number" class="textfield_geo" name="vertical-upper-bound" value="<%= data.geospatial_vertical_max %>" disabled />
  </div>
<% } %>
