<h4><%= label %></h4>
<div class="temporal-from control-group" title="Constrain search Last-Modified time from">
    <label class="control-label" for="temporal-from-ctrl">From:</label>
    <input type="text" name="temporal-from-ctrl" class="textfield_geo" value="<%= temporal_from %>" disabled /> <i class="icon-calendar icon-white"></i>
</div>
<div class="temporal-to" title="Constrain search Last-Modified time to">
    <label class="control-label" for="temporal-to-ctrl">To:</label>
    <input type="text" name="temporal-to-ctrl" class="textfield_geo" value="<%= temporal_to %>" disabled /> <i class="icon-calendar icon-white"></i>
</div>
