<h1>Collection: Frame of References</h1>

<div id="lca-collections" class="row">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span8 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Frame Of References</h3>

			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Updated</th>
				</tr>
					<% _.each(collection, function(o) { %>
						<% _.each(o, function(obj) { %>
						<tr>
							<td><a href="/frame_of_references/<%= obj._id %>/"><%= obj.name %></a></td>
							<td><%= obj.description %></td>
							<td><%= obj.type_ %></td>
							<td><%= obj.ts_updated %></td>
						</tr>
					<% }); %>
					<% }); %>
			</table>
		</section>
	</div>
</div>

