<div class="row-fluid">
	<div class="span3">&nbsp;</div> <!-- keep page title aligned over content -->
	<div class="span9">
		<h1 id="page_name"></h1>
	</div>
</div>

<div class="row-fluid">
	<!-- Content column #1 -->
	<div class="span3">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="">Information</a></li>
		</ul>
		<div class="tab-content">
			<div id="2060003"></div> <!-- Location -->
			<div id="2060002"></div> <!-- Identification -->
			<div id="2060005"></div> <!-- Contacts -->
			<div id="2060046"></div> <!-- Description -->
		</div>
 	</div>
	<!-- Content column #2 -->
	
	<div class="span9">
        <div class="row-fluid">
    		<div class="span10">
        		<ul class="nav nav-tabs">
        			<li class="active"><a data-toggle="tab" href="">Data</a></li>
        		</ul>
        		<div class="tab-content">
        			<div class="row-fluid">
        				<div class="span4">
        					<div id="2060006"></div> <!-- Latest Reading -->
        					<div id="2060007"></div> <!-- Identification -->
        				</div>
        				<div class="span8">
        					<div id="2060008"></div> <!-- Data (chart) -->
        				</div>
        			</div>
        		</div>
    		</div>
    	</div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#administration">Administration</a></li>
			<li><a data-toggle="tab" href="#frames-of-reference">Frames of Reference</a></li>
			<li><a data-toggle="tab" href="#vocabulary">Vocabulary</a></li>
		</ul>
		<div class="tab-content">
			<div id="administration" class="tab-pane active">
				<div class="row-fluid">
					<div class="span3">
						<div id="2060009"></div> <!-- Platform -->
					</div>
					<div class="span3">
						<div id="2060022"></div> <!-- Data Interface -->
					</div>
					<div class="span3">
						<div id="2060023"></div> <!-- Command -->
					</div>
					<div class="span3">
						<div id="2060011"></div> <!-- Management -->
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<div id="2060010"></div> <!-- Documentation -->
					</div>
					<div class="span3">
						<div id="2060025"></div> <!-- Specifications -->
					</div>
					<div class="span3">
						<div id="2060026"></div> <!-- Power -->
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h3>Policies</h3>
						<div id="2060024"></div>
					</div>
				</div>
			</div>
			
			<div id="frames-of-reference" class="row-fluid tab-pane">
				<h3>Frames of Reference (Placeholder)</h3>
			</div>

			<div id="vocabulary" class="row-fluid tab-pane">
				<h3>Vocabulary (Placeholder)</h3>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#recent-events">Recent Events</a></li>
			<li><a data-toggle="tab" href="#planned-events">Planned Events</a></li>
		</ul>
		<div class="tab-content">
			<div id="recent-events" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060027"></div> <!-- Recent Events -->
				</div>
			</div>
			
			<div id="planned-events" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060028"></div> <!-- Planned Events -->
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#science-sensors">Science Sensors</a></li>
			<li><a data-toggle="tab" href="#engineering-sensors">Engineering Sensors</a></li>
		</ul>
		<div class="tab-content">
			<div id="science-sensors" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060029"></div> <!-- Science Sensors -->
				</div>
			</div>
			
			<div id="engineering-sensors" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060030"></div> <!-- Engineering Sensors -->
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#status-overview">Status Overview</a></li>
		</ul>
		<div class="tab-content">
			<div id="status-overview" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060047" class="span2"></div> <!-- Power Status Overview -->
					<div id="2060048" class="span2"></div> <!-- Communications Status Overview -->
					<div id="2060049" class="span2"></div> <!-- Data Status Overview -->
					<div id="2060050" class="span2"></div> <!-- Location Overview -->
					<div id="2060051" class="span2"></div> <!-- Messages -->
				</div>
			</div>
		</div>
	</div> <!-- Content column #2 -->
</div>
