<div class="row-fluid">
	<div class="span3">&nbsp;</div> <!-- keep page title aligned over content -->
	<div class="span9">
		<h1>User</h1>
	</div>
</div>

<div class="row-fluid">
	<!-- Content column #1 -->
	<div class="span3">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#data-products">Information</a></li>
		</ul>
		<div class="tab-content">
		    <div id="2060095"></div>
		    <div id="2060107"></div>
		    <div id="2060109"></div>
		</div>
 	</div>
	<!-- Content column #2 -->
	<div class="span9">
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#">Administration</a></li>
		</ul>
		<div class="tab-content">
		    <div id="2060108"></div> <!-- Profile -->
		    <div id="2060110"></div> <!-- Account Information -->
		    <div id="2060111"></div> <!-- Account Settings -->
		    <div id="2060112"></div> <!-- Roles -->
		    <div id="2060113"></div> <!-- Policies -->
		    <div id="2060117"></div> <!-- Notification Settings -->
		    <div id="2060119"></div> <!-- Preferences -->
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="recent-events">Recent Events</a></li>
			<li class="active"><a data-toggle="tab" href="planned-events">Planned Events</a></li>
		</ul>
		<div class="tab-content">
			<div id="recent-events" class="tab-pane active">
				<div class="row-fluid">
					<div class="span12">
						<div id="2060114"></div> <!-- Recent Events -->
					</div>
				</div>
			</div>
			<div id="planned-events" class="tab-pane">
				<div class="row-fluid">
					<div class="span12">
						<div id="2060115"></div> <!-- Planned Events -->
					</div>
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="resources">Resources</a></li>
		</ul>
		<div class="tab-content">
			<div id="resources" class="tab-pane active">
				<div class="row-fluid">
					<div class="span12">
						<div id="2060116"></div> <!-- Resources -->
					</div>
				</div>
			</div>
		</div>
		
	</div> <!-- Content column #2 -->
</div>
