<div class="row-fluid">
	<div class="span2">&nbsp;</div> <!-- keep page title aligned over content -->
	<div class="span10">
		<h1>Platform</h1>
	</div>
</div>

<div class="row-fluid">
	<!-- Content column #1 -->
	<div class="span2">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#information">Information</a></li>
		</ul>
		<div class="tab-content">
			<div id="2060033"></div> <!-- Location -->
			<div id="2060031"></div> <!-- Identification -->
			<div id="2060059"></div> <!-- Contacts -->
			<div id="2060055"></div> <!-- Description -->
		</div>
 	</div>
	<!-- Content column #2 -->
	<div class="span10">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#data">Administration</a></li>
		</ul>
		<div class="tab-content">
			<div id="data" class="tab-pane active">
				<div class="row-fluid">
					<div id="2060032" class="span3"></div> <!-- Data Interface -->
					<div id="2060034" class="span3"></div> <!-- Specifications -->
					<div id="2060035" class="span3"></div> <!-- Power -->
					<div id="2060036" class="span3"></div> <!-- Management -->
				</div>
				<div class="row-fluid">
					<div id="2060037" class="span3"></div> <!-- Controller -->
					<div id="2060038" class="span3"></div> <!-- GPS Systems -->
					<div id="2060039" class="span3"></div> <!-- Communications Systems -->
					<div id="2060064" class="span3"></div> <!-- Documentation -->
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h3>Policies</h3>
						<div id="2060063"></div> <!-- Policies -->
					</div>
				</div>
				<div class="row-fluid">
					<div id="2060066" class="span3"></div> <!-- Command -->
					<div id="2060068" class="span3"></div> <!-- Observatory -->
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#instruments">Instruments</a></li>
		</ul>
		<div class="tab-content">
			<div id="instruments" class="row-fluid tab-pane active">
				<div id="2060040"></div> <!-- Instruments -->
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#status-bar">Status Bar</a></li>
		</ul>
		<div class="tab-content">
			<div id="status-bar" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060054"></div> <!-- Status Bar -->
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#data">Data</a></li>
		</ul>
		<div class="tab-content">
			<div id="data" class="row-fluid tab-pane active">
				<div class="span3">
					<div id="2060060"></div> <!-- Latest Readings -->
				</div>
				<div class="span3">
					<div id="2060061"></div> <!-- Data Information -->
				</div>
				<div class="span3">
					<div id="2060062"></div> <!-- Data -->
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#recent-events">Recent Events</a></li>
			<li><a data-toggle="tab" href="#planned-events">Planned Events</a></li>
		</ul>
		<div class="tab-content">
			<div id="recent-events" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060069"></div> <!-- Recent Events -->
				</div>
			</div>
			
			<div id="planned-events" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060072"></div> <!-- Planned Events -->
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#engineering-sensors">Engineering Sensors</a></li>
		</ul>
		<div class="tab-content">
			<div id="engineering-sensors" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060072"></div> <!-- Engineering Sensors -->
				</div>
			</div>
		</div>
	</div> <!-- Content column #2 -->
</div>
