<div class="row-fluid">
	<div class="span3">&nbsp;</div> <!-- keep page title aligned over content -->
	<div class="span9">
		<h1 id="page_name"></h1>
	</div>
</div>

<div class="row-fluid">
	<!-- Content column #1 -->
	<div class="span3">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="">Information</a></li>
		</ul>
		<div class="tab-content">
			<div id="2060123"></div> <!-- Identification -->
			<div id="2060124"></div> <!-- Data Bounds -->
			<div id="2060125"></div> <!-- Contacts -->
			<div id="2060126"></div> <!-- Description -->
		</div>
 	</div>
	<!-- Content column #2 -->
	
	<div class="span9">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="">Project Information</a></li>
		</ul>
		<div class="tab-content">
			<div class="row-fluid">
				<div class="span4">
					<div id="2060127"></div> <!-- Project Information -->
				</div>
				<div class="span4">
					<div id="2060129"></div> <!-- License Information -->
				</div>
				<div class="span4">
					<div id="2060153"></div> <!-- Curation Information -->
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="">Data</a></li>
		</ul>
		<div class="tab-content">
			<div id="administration" class="tab-pane active">
				<div class="row-fluid">
					<div class="span3">
						<div id="2060128"></div> <!-- Latest Readings -->
					</div>
					<div class="span9">
						<div id="2060130"></div> <!-- Data -->
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div id="2060133"></div> <!-- Variables Information -->
					</div>
				</div>
				<div class="row-fluid">
				    <div class="span6">
                        <div id="2060156"></div> <!-- Data Information -->
				    </div>
				    <div class="span6">
				       <div id="2060155"></div> <!-- Download Information -->
				    </div>
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#recent-events">Recent Events</a></li>
			<li><a data-toggle="tab" href="#planned-events">Planned Events</a></li>
		</ul>
		<div class="tab-content">
			<div id="recent-events" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060131"></div> <!-- Recent Events -->
				</div>
			</div>
			
			<div id="planned-events" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060132"></div> <!-- Planned Events -->
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#supplements">Supplements</a></li>
			<li><a data-toggle="tab" href="#versions">Versions</a></li>
		</ul>
		<div class="tab-content">
			<div id="supplements" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060158"></div> <!-- Supplements -->
				</div>
			</div>
			<div id="supplements" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060159"></div> <!-- Versions -->
				</div>
			</div>
		</div>
	</div> <!-- Content column #2 -->
</div>
