<div class="row-fluid">
	<div class="span2">&nbsp;</div> <!-- keep page title aligned over content -->
	<div class="span10">
		<h1>Observatory</h1>
	</div>
</div>

<div class="row-fluid">
	<!-- Content column #1 -->
	<div class="span2">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#data-products">Information</a></li>
		</ul>
		<div class="tab-content">
			<div id="2060074"></div> <!-- Location -->
			<div id="2060075"></div> <!-- Identification -->
			<div id="2060076"></div> <!-- Contacts -->
			<div id="2060077"></div> <!-- Description -->
		</div>
 	</div>
	<!-- Content column #2 -->
	<div class="span10">
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#data-products">Data Products</a></li>
			<li><a data-toggle="tab" href="#data-processes">Data Processes</a></li>
		</ul>
		<div class="tab-content">
			<div id="data-products" class="tab-pane active">
				<div class="row-fluid">
					<div class="span12">
						<div id="2060082"></div> <!-- Data Products -->
					</div>
				</div>
			</div>
			
			<div id="data-processes" class="row-fluid tab-pane">
				<div class="row-fluid">
					<div class="span12">
						<div id="2060084"></div>
					</div>
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#administration">Administration</a></li>
			<li><a data-toggle="tab" href="#reference">Reference</a></li>
		</ul>
		<div class="tab-content">
			<div id="administration" class="row-fluid tab-pane active">
				<div id="2060093"></div>
				<div id="2060085"></div>
				<div id="2060086"></div>
			</div>
			
			<div id="reference" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060028"></div>
				</div>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#recent-events">Recent Events</a></li>
			<li><a data-toggle="tab" href="#planned-events">Planned Events</a></li>
		</ul>
		<div class="tab-content">
			<div id="recent-events" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060078"></div> <!-- Recent Events -->
				</div>
			</div>
			
			<div id="planned-events" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060079"></div> <!-- Planned Events -->
				</div>
			</div>
		</div>
		
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#platforms">Platforms Deployed</a></li>
			<li><a data-toggle="tab" href="#instruments">Instruments Deployed</a></li>
		</ul>
		<div class="tab-content">
			<div id="platforms" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060080"></div> <!-- Science Sensors -->
				</div>
			</div>
			
			<div id="instruments" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060088"></div> <!-- Engineering Sensors -->
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#platforms-not">Platforms Not Deployed</a></li>
			<li><a data-toggle="tab" href="#instruments-not">Instruments Not Deployed</a></li>
		</ul>
		<div class="tab-content">
			<div id="platforms-not" class="row-fluid tab-pane active">
				<div class="span12">
					<div id="2060090"></div> <!-- Science Sensors -->
				</div>
			</div>
			
			<div id="instruments-not" class="row-fluid tab-pane">
				<div class="span12">
					<div id="2060091"></div> <!-- Engineering Sensors -->
				</div>
			</div>
		</div>

	</div> <!-- Content column #2 -->
</div>
