<h1>Instrument: (instrument name)</h1>

<div class="row">
	<div class="span2">
		<h3>Information</h3>
		
		<h4>Identification</h4>
		<p>Identification placeholder</p>
		
		<h4>Location</h4>
		<p>Location placeholder</p>
		
		<h4>Description</h4>
		<p>Description placeholder</p>
		
		<h4>Provenance</h4>
		<p>Provenance placeholder</p>
	</div>	
	
	<div class="span8">
		
		<div class="btn-group">
			<a class="btn" href="#">Instrument Command</a>
			<a class="btn dropdown-toggle" data-toggle="dropdown" href=""><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Start Direct Access</a></li>
				<li><a id="start-instrument-agent-instance" href="#">Start Instrument Agent Instance</a></li>
			</ul>
		</div> <!-- div.btn-group -->



		<div class="instrument-commands" style="display: none;">
			<form>
			<div class="command">
				<label>Command</label>
				<select>
					<option value='initialize'>Initialize (start driver)</option>
					<option value='capabilities'>Capabilities</option>
					<option value='activate'>Activate (start logger and connect to instrument)</option>
					<option value='deactivate'>Deactivate (stop logger and disconnect from instrument)</option>
					<option value='run'>Run (enter observatory-mode)</option>
					<option value='get'>Get parameters (get all configurable parameters)</option>
					<option value='set'>Set parameters (save changes to parameters)</option>
					<option value='start'>Start sampling (start auto-sample of data collection)</option>
					<option value='stop'>Stop sampling (stop auto-sample of data collection)</option>
				</select>
				
				<input type="submit" name="Send Command" class="btn btn-primary"/>
			</form>	
			</div>

			<div class="command">
				Command results
			</div>
		</div>
	</div>
	
	
</div>

