<h1>Collection: Instruments</h1>

<div id="lca-collections" class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span8">	
		<section class="wrapper">
			<h3 class="wrapper-heading">Instruments</h3>
			<table class="table datatable-ize" width="100%">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
				</tr>
				<% _.each(collection, function(obj) { %>
					<tr>
						<td><a href="/instruments/<%= obj._id %>/"><%= obj.name %></a></td>
						<td><%= obj.description %></td>
						<td><%= obj.ts_updated %></td>
					</tr>
			    <% }); %>
			</table>
		</section>
	</div>
</div>

<button class='btn create_new'>New Instrument</button>
<div id="instrument-new"></div>