<h1>Instruments List</h1>

<div id="lca-collections" class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<p>Placeholder...</p>

			<h3>Coverage</h3>
			<p>Placeholder...</p>

			<h3>Identification</h3>
			<p>Placeholder...</p>
		</section>
	</div>
		
	<div class="span8">	
		<section class="wrapper">
			<h3 class="wrapper-heading">Instruments</h3>
			<table class="table datatable-ize" width="100%">
				<tr>
					<th>Name</th>
				</tr>
				<% _.each(collection, function(obj) { %>
					<tr>
						<td><a href="/instruments/<%= obj._id %>/"><%= obj.name %></a></td>
					</tr>
			    <% }); %>
			</table>
		</section>
	</div>
</div>

<button class='btn create_new'>New Instrument</button>
<div id="instrument-new"></div>