<div class="modal-header">
  <h1>Accept/Reject Negotiation: <%= negotiation_id %></h1>
</div>
<div class="modal-body">
  <p>
    Please accept or reject this access/role proposal. If you would like to give a reason
    please enter it in the box below.
  </p>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="submitted">Request Submitted</label>
      <div class="controls">
        <input name="submitted" class="input-block-level" disabled value="<%= submitted %>" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="reason">Reason</label>
      <div class="controls">
        <textarea name="reason" rows="4" class="input-block-level"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="btn-accept" class="btn-blue">Accept</button>
  <button id="btn-reject" class="btn-blue">Reject</button>
  <button class="btn-general" data-dismiss="modal">Cancel</button>
</div>
