<section class="wrapper">
	<h3 class="wrapper-heading">New Frame of Reference</h3>
	<form class="form-horizontal">
		<legend>Identification</legend>
		<div class="control-group">
			<label for="name">Name</label>
			<div class="controls">
				<input class="xlarge" id="facility-name" name="name" />
			</div>
		</div>		
		<fieldset>
			<legend>Description</legend>
			<div class="control-group">
				<label for="description">Description</label>
				<div class="controls">
					<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
		<legend>Geospatial Constraint</legend>
		<div class="control-group">
			<label for="name">geospatialverticalmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatialverticalmin" name="geospatial_constraint__geospatialverticalmin" />
			</div>
		</div>
		<div class="control-group">
			<label for="name">geospatiallonresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallonresolution" name="geospatial_constraint__geospatiallonresolution" />
			</div>
		</div>
		<div class="control-group">
			<label for="description">geospatiallatunits</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallatunits" name="geospatial_constraint__geospatiallatunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatialverticalpositive</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatialverticalpositive" name="geospatial_constraint__geospatialverticalpositive" />
			</div>
		</div>
		
		<div class="control-group">	
			<label for="description">geospatialverticalmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatialverticalmax" name="geospatial_constraint__geospatialverticalmax" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonunits</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallonunits" name="geospatial_constraint__geospatiallonunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">maxbottomdepth</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__maxbottomdepth" name="geospatial_constraint__maxbottomdepth" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatialverticalresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatialverticalresolution" name="geospatial_constraint__geospatialverticalresolution" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallatmax" name="geospatial_constraint__geospatiallatmax" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallonmin" name="geospatial_constraint__geospatiallonmin" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">depthunits</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__depthunits" name="geospatial_constraint__depthunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallatresolution" name="geospatial_constraint__geospatiallatresolution" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallonmax" name="geospatial_constraint__geospatiallonmax" />
			</div>
		</div>
		
		<div class="control-group">	
			<label for="description">depthverticalpositive</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__depthverticalpositive" name="geospatial_constraint__depthverticalpositive" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__geospatiallatmin" name="geospatial_constraint__geospatiallatmin" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">minbottomdepth</label>
			<div class="controls">
				<input class="xlarge" id="geospatial_constraint__minbottomdepth" name="geospatial_constraint__minbottomdepth" />
			</div>
		</div>

		<div class="form-actions">
			<input class="btn" type="submit" value="Create Frame of Reference" />
			<input class="cancel btn" type="cancel" value="Cancel" />
		</div>
	</form>
</section>
