<h1>New Marine Facilty</h1>
<form action="#" method="post" enctype="multipart/form-data">
	
	<fieldset>
		<legend>Identification</legend>
		<div class="clearfix">
			<label for="picture">Picture</label>
			<div class="input">
				<input class="input-file" id="picture" name="information_resource[picture]" type="file">
			</div>
		</div>
		<div class="clearfix">
			<label for="name_input">Name</label>
			<div class="input">
				<input class="xlarge" id="information_resource[name]" name="name_input" >
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Location</legend>
		<div class="clearfix">
			<label for="map">Map</label>
			<div class="input">
				<input class="input-file" id="map" name="map_input_temp_name" type="file">
			</div>
		</div>
		<p>Locations TBD.</p>
	</fieldset>

	<fieldset>
		<legend>Description</legend>
		<div class="clearfix">
			<label for="description">Description</label>
			<div class="input">
				<textarea class="xxlarge" id="description" name="information_resource[description]" rows="3"></textarea>
			</div>
		</div>
	</fieldset>
	
	
	<fieldset>
		<legend>Provenance</legend>
		<div class="clearfix">
			<label for="owner">Owner</label>
			<div class="input">
				<input class="xlarge" id="owner" name="contact[name]">
			</div>
		</div>
		<div class="clearfix">
			<label for="email">Email</label>
			<div class="input">
				<input class="xlarge" id="email" name="contact[email]">
			</div>
		</div>
		<div class="clearfix">
			<label for="phone">Phone</label>
				<div class="input">
				<input class="xlarge" id="phone" name="contact[phone]">
			</div>
		</div>
		<div class="clearfix">
			<label for="pi">PI</label>
			<div class="input">
				<input class="xlarge" id="pi" name="contact[pi]">
			</div>
		</div>
		<div class="clearfix">
			<label for="email_temp">Email</label>
			<div class="input">
				<input class="xlarge" id="email_temp" name="email_temp">
			</div>
		</div>
		<div class="clearfix">
			<label for="phone_temp">Phone</label>
			<div class="input">
				<input class="xlarge" id="phone_temp" name="phone_temp">
			</div>
		</div>
	</fieldset>
	
	
</form>