<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
	<section class="wrapper">
		<h3 class="wrapper-heading">New Platform Device</h3>
		<fieldset>
			<legend>Identification</legend>
			<div class="control-group">
				<label for="name">Name</label>
				<div class="controls">
					<input class="xlarge" id="name" name="name" />
				</div>
			</div>		
			<fieldset>
				<legend>Description</legend>
				<div class="control-group">
					<label for="description">Description</label>
					<div class="controls">
						<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Location</legend>
				<div class="control-group">
					<label for="description">Location</label>
					<div class="controls">
						<select id="marine_facility_id"></select>
						<select id="logical_platform_id" style="display: none;"></select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Platform Models</legend>
				<div class="control-group">
					<label for="description">Platform Model</label>
					<div class="controls">
						<select id="platform_model_id"></select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Platform Device Details</legend>
				<div class="control-group">
					<label for="description">Serial Number</label>
					<div class="controls">
						<input class="xlarge" id="serial_number" name="serial_number" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Model</label>
					<div class="controls">
						<input class="xlarge" id="model" name="model" />
					</div>
				</div>
				<div class="control-group">	
					<label for="description">Manufacture Date</label>
					<div class="controls">
						<input class="xlarge" id="manufacture_date" name="manufacture_date" />
					</div>
				</div>
			</fieldset>
		</fieldset>
		<div class="form-actions">
			<input class="btn" type="submit" value="Create Platform Device" />
			<input class="btn cancel" type="cancel" value="Cancel" />
		</div>
	</section>
</form>