<section class="wrapper">
	<h3 class="wrapper-heading">New Frame of Reference</h3>
	<form class="form-horizontal">
		<legend>Identification</legend>
		<div class="control-group">
			<label for="name">Name</label>
			<div class="controls">
				<input class="xlarge" id="facility-name" name="name" />
			</div>
		</div>		
		<fieldset>
			<legend>Description</legend>
			<div class="control-group">
				<label for="description">Description</label>
				<div class="controls">
					<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
		<legend>Geospatial Constraint</legend>
		<div class="control-group">
			<label for="name">geospatialverticalmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatialverticalmin" name="geospatialverticalmin" />
			</div>
		</div>
		<div class="control-group">
			<label for="name">geospatiallonresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallonresolution" name="geospatiallonresolution" />
			</div>
		</div>
		<div class="control-group">
			<label for="description">geospatiallatunits</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallatunits" name="geospatiallatunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatialverticalpositive</label>
			<div class="controls">
				<input class="xlarge" id="geospatialverticalpositive" name="geospatialverticalpositive" />
			</div>
		</div>
		
		<div class="control-group">	
			<label for="description">geospatialverticalmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatialverticalmax" name="geospatialverticalmax" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonunits</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallonunits" name="geospatiallonunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">maxbottomdepth</label>
			<div class="controls">
				<input class="xlarge" id="maxbottomdepth" name="maxbottomdepth" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatialverticalresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatialverticalresolution" name="geospatialverticalresolution" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallatmax" name="geospatiallatmax" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallonmin" name="geospatiallonmin" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">depthunits</label>
			<div class="controls">
				<input class="xlarge" id="depthunits" name="depthunits" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatresolution</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallatresolution" name="geospatiallatresolution" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallonmax</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallonmax" name="geospatiallonmax" />
			</div>
		</div>
		
		<div class="control-group">	
			<label for="description">depthverticalpositive</label>
			<div class="controls">
				<input class="xlarge" id="depthverticalpositive" name="depthverticalpositive" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">geospatiallatmin</label>
			<div class="controls">
				<input class="xlarge" id="geospatiallatmin" name="geospatiallatmin" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">minbottomdepth</label>
			<div class="controls">
				<input class="xlarge" id="minbottomdepth" name="minbottomdepth" />
			</div>
		</div>

		<div class="form-actions">
			<input class="btn" type="submit" value="Create Frame of Reference" />
			<input class="cancel btn" type="cancel" value="Cancel" />
		</div>
	</form>
</section>
