<section class="wrapper">
	<h3 class="wrapper-heading">New Instrument Device</h3>
	<form class="form-horizontal">
		<legend>Identification</legend>
		<div class="control-group">
			<label for="name">Name</label>
			<div class="controls">
				<input class="xlarge" id="facility-name" name="name" />
			</div>
		</div>		
		<fieldset>
			<legend>Description</legend>
			<div class="control-group">
				<label for="description">Description</label>
				<div class="controls">
					<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
		<legend>Instrument Details</legend>
		<div class="control-group">
			<label for="name">Lot Number</label>
			<div class="controls">
				<input class="xlarge" id="lot_number" name="lot_number" />
			</div>
		</div>
		<div class="control-group">
			<label for="name">Datum Characterization</label>
			<div class="controls">
				<input class="xlarge" id="datum_characterization" name="datum_characterization" />
			</div>
		</div>
		<div class="control-group">
			<label for="description">Manufacture Date</label>
			<div class="controls">
				<input class="xlarge" id="manufacture_date" name="manufacture_date" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Firmware Version</label>
			<div class="controls">
				<input class="xlarge" id="firmware_version" name="firmware_version" />
			</div>
		</div>

		<div class="form-actions">
			<input class="btn" type="submit" value="Create Instrument Device" />
			<input class="cancel btn" type="cancel" value="Cancel" />
		</div>
	</form>
</section>
