<section class="wrapper">
	<h3 class="wrapper-heading">New Instrument Model</h3>
	<form class="form-horizontal">
		<legend>Identification</legend>
		<div class="control-group">
			<label for="name">Name</label>
			<div class="controls">
				<input class="xlarge" id="facility-name" name="name" />
			</div>
		</div>		
		<fieldset>
			<legend>Description</legend>
			<div class="control-group">
				<label for="description">Description</label>
				<div class="controls">
					<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
				</div>
			</div>
		</fieldset>
		<legend>Instrument Details</legend>
		<div class="control-group">
			<label for="name">Baud Supported</label>
			<div class="controls">
				<input class="xlarge" id="baud_supported" name="baud_supported" />
			</div>
		</div>
		<div class="control-group">
			<label for="name">Baud Default</label>
			<div class="controls">
				<input class="xlarge" id="baud_default" name="baud_default" />
			</div>
		</div>
		<div class="control-group">
			<label for="description">Writable Storage</label>
			<div class="controls">
				<input class="xlarge" id="writable_storage" name="writable_storage" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Secondary Interface</label>
			<div class="controls">
				<input class="xlarge" id="secondary_interface" name="secondary_interface" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Data Record Description</label>
			<div class="controls">
				<input class="xlarge" id="data_record_description" name="data_record_description" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Instrument Family</label>
			<div class="controls">
				<input class="xlarge" id="instrument_family" name="instrument_family" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Model Label</label>
			<div class="controls">
				<input class="xlarge" id="model_label" name="model_label" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Reference Url</label>
			<div class="controls">
				<input class="xlarge" id="reference_url" name="reference_url" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Primary Interface</label>
			<div class="controls">
				<input class="xlarge" id="primary_interface" name="primary_interface" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Model Label</label>
			<div class="controls">
				<input class="xlarge" id="model_label" name="model_label" />
			</div>
		</div>
		<div class="control-group">	
			<label for="description">Model Label</label>
			<div class="controls">
				<input class="xlarge" id="model_label" name="model_label" />
			</div>
		</div>
		<fieldset>
			<legend>Manufacturer</legend>
			<div class="control-group">
				<label for="description">Name</label>
				<div class="controls">
					<input class="xlarge" id="manufacturer__name" name="manufacturer__name" />
				</div>
			</div>
			<div class="control-group">
				<label for="description">Email</label>
				<div class="controls">
					<input class="xlarge" id="manufacturer__email" name="manufacturer__name" />
				</div>
			</div>
			<div class="control-group">
				<label for="description">Website</label>
				<div class="controls">
					<input class="xlarge" id="manufacturer__website" name="manufacturer__website" />
				</div>
			</div>
			<div class="control-group">
				<label for="description">Phone</label>
				<div class="controls">
					<input class="xlarge" id="manufacturer__phone" name="manufacturer__phone" />
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<input class="btn" type="submit" value="Create Instrument Model" />
			<input class="cancel btn" type="cancel" value="Cancel" />
		</div>
	</form>
</section>
