<h1>User Registration</h1>

<div class="row">
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Register with OOICI</h3>
			<form class="form-horizontal">

				<!-- NAME -->
				<div class="control-group">
					<label class="control-label" for="contact__name">Name</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__name" value="" id="contact__name" />
						<p class="help-block">Please enter your full name.</p>
					</div>
				</div>

				<!-- EMAIL -->
				<div class="control-group">
					<label class="control-label" for="contact__email">Email</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__email" value="" id="contact__email" />
					</div>
				</div>
				
				<!-- PHONE -->
				<div class="control-group">
					<label class="control-label" for="contact__phone">Phone</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__phone" value="" id="contact__phone" />
					</div>
				</div>

				<!-- ADDRESS -->
				<div class="control-group">
					<label class="control-label" for="contact__address">Address</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__address" value="" id="contact__address" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="contact__city">City</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__city" value="" id="contact__city" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="contact__postal_code">Postal Code</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="contact__postal_code" value="" id="contact__postal_code" />
					</div>
				</div>
				
				<div class="form-actions">
					<input type="submit" name="submit_btn" value="Register" id="submit_btn" class="btn" />
					<input type="submit" name="cancel_btn" value="Cancel" id="cancel_btn" class="btn cancel" />
				</div>
			</form>
		</section>
	</div>
</div>

