<h1>User Registration</h1>

<div class="row">
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Register with OOICI</h3>
			<form class="form-horizontal">

				<!-- NAME -->
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="name" value="<%= name %>" id="name" />
						<p class="help-block">Please enter your full name.</p>
					</div>
				</div>

				<!-- EMAIL -->
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="email" value="<%= email %>" id="email" />
					</div>
				</div>
				
				<!-- PHONE -->
				<div class="control-group">
					<label class="control-label" for="phone">Phone</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="phone" value="<%= phone %>" id="phone" />
					</div>
				</div>

				<!-- ADDRESS -->
				<div class="control-group">
					<label class="control-label" for="address">Address</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="address" value="<%= address %>" id="address" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="city">City</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="city" value="<%= city %>" id="city" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="postalcode">Postal Code</label>
					<div class="controls">
						<input class="input-xlarge" type="text" name="postalcode" value="<%= postalcode %>" id="postalcode" />
					</div>
				</div>
				
				<div class="form-actions">
					<input type="submit" name="submit_btn" value="Register" id="submit_btn" class="btn" />
					<input type="submit" name="cancel_btn" value="Cancel" id="cancel_btn" class="btn cancel" />
				</div>
			</form>
		</section>
	</div>
</div>

