<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
	<section class="wrapper">
		<h3 class="wrapper-heading">New Platform Model</h3>
		<fieldset>
			<legend>Identification</legend>
			<div class="control-group">
				<label for="name">Name</label>
				<div class="controls">
					<input class="xlarge" id="name" name="name" >
				</div>
			</div>		
			<fieldset>
				<legend>Description</legend>
				<div class="control-group">
					<label for="description">Description</label>
					<div class="controls">
						<textarea class="xlarge" id="description" name="description" rows="3"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="description">OOI Node Type</label>
					<div class="controls">
						<input class="xlarge" id="OOI_node_type" name="OOI_node_type" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Platform Type</label>
					<div class="controls">
						<input class="xlarge" id="platform_type" name="platform_type" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Maximum Crew</label>
					<div class="controls">
						<input class="xlarge" id="maximum_crew" name="maximum_crew" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Shore Networked</label>
					<div class="controls">
						<input class="xlarge" id="shore_networked" name="shore_networked" />
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Manufacturer</legend>
				<div class="control-group">
					<label for="description">Name</label>
					<div class="controls">
						<input class="xlarge" id="manufacturer__name" name="manufacturer__name" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Email</label>
					<div class="controls">
						<input class="xlarge" id="manufacturer__email" name="manufacturer__name" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Website</label>
					<div class="controls">
						<input class="xlarge" id="manufacturer__website" name="manufacturer__website" />
					</div>
				</div>
				<div class="control-group">
					<label for="description">Phone</label>
					<div class="controls">
						<input class="xlarge" id="manufacturer__phone" name="manufacturer__phone" />
					</div>
				</div>
			</fieldset>
		</fieldset>
		<div class="form-actions">
			<input class="btn" type="submit" value="Create Platform Model" />
			<input class="cancel btn" type="cancel" value="Cancel" />
		</div>
	</section>
</form>