<div id="no-configured-agent-instance-overlay" class="modal-ooi modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>No Agent Configured</h1>
    </div>
    <div class="modal-body">
        <p>It appears that an agent has not been configured for this instance, therefore you will not be able to send any commands.</p>
    </div>
    <div class="modal-footer">
        <button id="no-configured-agent-instance" class="btn-blue btn-ok">Ok</button>
    </div>
</div>

