<h2>Collection: Observatories</h2>

<div id="lca-collections" class="row-fluid">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span10 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Observatories</h3>
			<table id="observatories-container" class="table" width="100%">
				<thead>
					<th>Observatory</th>
					<th>Institution</th>
					<th>Description</th>
					<th>Contact</th>
				</thead>
				<tbody>
			    <% _.each(collection, function(obj) { %>
						<tr>
							<td>
								<a href="/observatories/<%= obj._id %>/"><%= obj.name %></a> 
								(<a href="/observatories/dynamic/<%= obj._id %>/">Dynamic</a>) 
								(<a href="/observatories/hybrid/<%= obj._id %>/">Hybrid</a>)
							</td>
							<td>Placeholder</td>
							<td><%= obj.description %></td>
							<td>Placeholder</td>
						</tr>
			    <% }); %>
			    </tbody>
			</table>		
		</section>
	</div>
</div>

