<!-- included in observatory_facepage and observatory_model -->

<ul id="platforms-instruments-sensors-tabs" class="nav nav-tabs">
  	<li class="active"><a href="#platforms-tab" data-toggle="tab">Platforms</a></li>
  	<li><a href="#instruments-tab" data-toggle="tab">Instruments</a></li>
	<li><a href="#sensors-tab" data-toggle="tab">Sensors</a></li>
</ul>

<div class="tab-content">
  	<div class="tab-pane active" id="platforms-tab">Platforms placeholder</div>
  	<div class="tab-pane" id="instruments-tab">Instruments placeholder</div>
	<div class="tab-pane" id="sensors-tab">Sensors placeholder</div>
</div>

