<a href="/observatories">Back to Observatories</a>

<h2>Observatory Facepage</h2>



<div id="obsevatory-facepage" class="row">
	<div class="span2">
		<!-- Observatory Identification -->
		
		{% include 'partials/observatory_identification.html' %}
		
		<h4>Location</h4>
		<p>Location placeholder</p>
		
		<h4>Description</h4>
		<p>Description placeholder</p>
		
		<h4>Provenance</h4>
		<p>Provenance placeholder</p>
	</div>
	
	<div class="span8">
		<h1>Data Products</h1>
		<table class="table">
			<% _.each(data_products, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.dataset_id %></td>
					<td><%= obj.data_product_level %></td>
					<td><%= obj.ts_updated %></td>
					<td><%= obj.CDM_data_type %></td>
				</tr>
			<% }); %>
		</table>
		
		
		<h1>Platforms</h1>
		<table class="table">
			<% _.each(platforms, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		
		<h1>Instruments</h1>
		<table class="table">
			<% _.each(instruments, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		<h1>Events</h1>
		
		<h2>Recent Events</h2>
		<table class="table">
			<% _.each(events, function(obj) { %>
				<tr>
					<td><%= obj.origin %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		<h2>User Requests</h2>
		
		<table class="table">
			<% _.each(user_requests, function(obj) { %>
				<tr>
					<td><%= obj.origin %></td>
					<td><%= obj.description %></td>
					<td><%= obj.status %></td>
					<td><%= obj.status_description %></td>
					<td><%= obj.type %></td>
					<td><%= obj.user_id %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		
		
		
		<h1>Administration</h1>
		<h2>Participants</h2>
		<table class="table">
			<% _.each(participants, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.email %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		
		<h2>Policies</h2>
		<table class="table">
			<% _.each(policies, function(obj) { %>
				<tr>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		
		<h1>Software</h1>
		<h2>Instrument Agents</h2>
		<table class="table">
			<% _.each(instrument_agents, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.agent_version %></td>
					<td><%= obj.client_module %></td>
					<td><%= obj.connection_method %></td>
					<td><%= obj.driver_class %></td>
					<td><%= obj.driver_class_client %></td>
					<td><%= obj.driver_class_model %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>

		<h2>Data Process Definitions</h2>
		<table class="table">
			<% _.each(data_process_defintions, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.class_name %></td>
					<td><%= obj.module %></td>
					<td><%= obj.process_source %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		<h1>Definition</h1>
		
		<h2>Platform Models</h2>
		<table class="table">
			<% _.each(platform_models, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.manufacturer %></td>
					<td><%= obj.ooi_node_type %></td>
					<td><%= obj.platform_type %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>

		<h2>Instrument Models</h2>
		<table class="table">
			<% _.each(instrument_models, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.manufacturer %></td>
					<td><%= obj.instrument_class %></td>
					<td><%= obj.instrument_family %></td>
					<td><%= obj.model_label %></td>
					<td><%= obj.primary_interface %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		
		
		
		
		<!-- Data products and processes tabs -->
		<ul id="data-tabs" class="nav nav-tabs">
			<li class="active"><a href="#data-products-tab" data-toggle="tab">Data Products</a></li>
			<li><a href="#data-processes-tab" data-toggle="tab">Data Processes</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="data-products-tab">Data products placeholder</div>
			<div class="tab-pane" id="data-processes-tab">Data processes placeholder</div>
		</div>	
		
		<br /><br /> <!-- TODO: Remove these layout hacks -->
		
		<!-- Administration, recent and planned events tabs -->
		<ul id="admin-events-tabs" class="nav nav-tabs">
			<li class="active"><a href="#administration-tab" data-toggle="tab">Administration</a></li>
			<li><a href="#recent-events-tab" data-toggle="tab">Recent Events</a></li>
			<li><a href="#planned-events-tab" data-toggle="tab">Planned Events</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="administration-tab">Administration placeholder</div>
			
			<div class="tab-pane" id="recent-events-tab">
				{% include 'partials/recent_events.html' %}
			</div>
			
			<div class="tab-pane" id="planned-events-tab">
				{% include 'partials/planned_events.html' %}
			</div>
		</div>
		
		<!-- Observatory physical resources -->
		
		{% include 'partials/observatory_physical_resources.html' %}
		
	</div>
	
</div> <!-- div#obsevatory-facepage -->