<h2>Observatories</h2>

<div id="lca-collections" class="row">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<p>Placeholder</p>

			<h3>Coverage</h3>
			<p>Placeholder</p>

			<h3>Identification</h3>
			<p>Placeholder...</p>
		</section>
	</div>
		
	<div class="span8 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Observatories</h3>
			<table id="observatories-container" class="table datatable-ize" width="100%">
				<tr>
					<th>Observatory</th>
					<th>Institution</th>
					<th>Description</th>
					<th>Contact</th>
				</tr>

			    <% _.each(collection, function(obj) { %>
						<tr>
							<td><a href="/observatories/<%= obj._id %>/"><%= obj.name %></a></td>
							<td><%= obj.institution.name %></td>
							<td><%= obj.description %></td>
							<td><%= obj.contact.name %></td>
						</tr>
			    <% }); %>
			</table>		
		</section>
	</div>
</div>


<button class='btn create_new'>New Observatory</button>
<div id="observatories-new"></div>
