<h2>Observatory Details</h2>
<div class="row">
	{% include 'partials/observatory_indentification.html' %}
</div>

<div class="row">
	{% include 'partials/observatory_physical_resources.html' %}
</div>

<div class="row">
	<div class="span1">
		<h3>Observatory Pages:</h3>
		<ul>
			<li><a href="#">Facepage</a></li>
			<li><a href="#">Related</a></li>
			<li><a href="#">Status</a></li>
		</ul>
	</div>
	
	<div class="span1">
		<h3>Observatory Actions:</h3>
		<ul>
			<li><a href="#">Action 1</a></li>
			<li><a href="#">Action 2</a></li>
			<li><a href="#">Action 3</a></li>
		</ul>
	</div>
</div>
