<div class="row">
  <div class="span8">
    <h1>Observatory: <%= name %></h1>
  </div>
  <div class="span2" style="text-align: right;">
    <a href="/observatories/<%= _id %>/edit/" class="btn">Edit</a>	
	</div>
</div>
<div id="obsevatory-facepage" class="row">
	<div class="span2">		

		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			
			<section class="wrapper">
				<h3 class="wrapper-heading">Identification</h3>
				<p>
					<strong>Name: </strong><%= name %><br />
					<span style="word-wrap: break-word"><strong>ID: </strong><%= _id %></span>
				</p>
			</section>
			
			<section class="wrapper">
				<h3 class="wrapper-heading">Location</h3>
					<strong>North: </strong><%= geospatial_constraint.geospatiallatmin %><br/>
					<strong>South: </strong><%= geospatial_constraint.geospatiallatmax %><br />
					<strong>East: </strong><%= geospatial_constraint.geospatiallonmin %><br />
					<strong>West: </strong><%= geospatial_constraint.geospatiallonmax %>
				</p>
			</section>
			
			<section class="wrapper">
				<h3 class="wrapper-heading">Description</h3>
				<p>
					<%= description %>
				</p>
			</section>

			<section class="wrapper">
				<h3 class="wrapper-heading">Contact</h3>
				<p>
				</p>
			</section>

			<section id="enroll" class="wrapper <%= visibility %>">
				<h3 class="wrapper-heading">Enroll</h3>
				<input type="submit" class="btn btn-success enroll" value="Enroll Me"/>
			</section>

		</section>

	</div>
	
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Data Products</h3>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Data Product Level</th>
					<th>CDM Data Type</th>
					<th>Updated</th>
				</tr>

			</table>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Platforms</h3>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
				</tr>
			</table>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Instruments</h3>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
				</tr>
			</table>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Administration</h3>

			<section class="wrapper">
				<h3 class="wrapper-heading">Participants</h3>
				<p></p>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Updated</th>
					</tr>
					</table>
			</section>
			
			<section class="wrapper">
				<h3 class="wrapper-heading">Roles</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Updated</th>
					</tr>
				</table>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Policies</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Updated</th>
					</tr>
				</table>
				
			</section>
		</section>
		
		<section id="user-requests-container" class="wrapper">
			<h3 class="wrapper-heading">User Requests</h3>
			<table class="table">
			  <tr><th>Name</th><th>Description</th><th>Status</th><th>User ID</th><th>Updated</th><th></th><th></th></tr>
			</table>
            <p class="loading">Loading...</p>
		</section>
		
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Software</h3>

			<section class="wrapper">
				<h3 class="wrapper-heading">Instrument Agents</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Agent Version</th>
						<th>Drive Module</th>
						<th>Connection Method</th>
						<th>Driver Class</th>
						<th>Driver Class Client</th>
						<th>Driver Class Model</th>
						<th>Updated</th>
					</tr>
				</table>
			</section>
		
			<section class="wrapper">
				<h3 class="wrapper-heading">Data Process Definitions</h3>

				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Class Name</th>
						<th>Module</th>
						<th>Updated</th>
					</tr>
				</table>
			</section>
		</section>

		<section class="wrapper">
			<h3 class="wrapper-heading">Definitions</h3>

			<section class="wrapper">
				<h3 class="wrapper-heading">Platform Models</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Manufacturer</th>
						<th>OOI Node Type</th>
						<th>Platform Type</th>
						<th>Updated</th>
					</tr>
				</table>			
			</section>
		
			<section class="wrapper">
				<h3 class="wrapper-heading">Instrument Models</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Manufacturer</th>
						<th>Instrument Class</th>
						<th>Instrument Family</th>
						<th>Model Label</th>
						<th>Updated</th>
					</tr>
				</table>			
			</section>
		
			<section class="wrapper">
				<h3 class="wrapper-heading">Frames Of Reference</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Type</th>
						<th>Updated</th>
					</tr>
				</table>
			</section>
		</section>
	</div>
	
</div> <!-- div#obsevatory-facepage -->
