<!-- included in observatory_facepage and observatory_modal -->

<table class="table datatable-ize" width="100%">
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Event</th>
		<th>Description</th>
		<th>Notes</th>
		<th>Initiated by</th>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
	<tr>
		<td>yy-mm-dd hh:mm</td>
		<td>planned event type</td>
		<td>event name</td>
		<td>event description</td>
		<td>event notes</td>
		<td>event initiation</td>
	</tr>
</table>