<h1>Platform: <%= name %></h1>

<div id="platform-facepage" class="row">
	<div class="span2">
		<p>
			<strong>Name: </strong><%= name %><br />
			<strong>ID: </strong><%= _id %><br />
		</p>
		
		<p>
			<strong>Model: </strong><%= model %><br />
			<strong>SN#: </strong><%= serial_number %><br />
			<strong>Manufacture Date: </strong><%= manufacture_date %><br />
		</p>
		
		<h4>Description</h4>
		<p><%= description %></p>
	</div>
	
	
	<div class="span8">
		
		<div>
			<h4>Deployments</h4>
			<p>Placeholder...</p>
		</div>
		
		
	</div>
</div>