<h1>Collections: Platforms</h1>

<div id="lca-collections" class="row-fluid">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span10">
		<section class="wrapper">
			<h3 class="wrapper-heading">Platforms</h3>
			<table id="platforms-table" class="table" width="100%">
				<thead>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
				</thead>
				<tbody>
				<% _.each(collection, function(obj) { %>
					<tr>
						<td>
							<a href="/platforms/<%= obj._id %>/"><%= obj.name %></a> 
							(<a href="/platforms/dynamic/<%= obj._id %>/">Dynamic</a>) 
							(<a href="/platforms/hybrid/<%= obj._id %>/">Hybrid</a>)
						</td>
						<td><%= obj.description %></td>
						<td><%= obj.ts_updated %></td>
					</tr>
			    <% }); %>
			    </tbody>
			</table>
		</section>
	</div>
</div>

