<h1>Platform: <%= name %></h1>

<div id="platform-facepage" class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Identification</h3>
				<p>
					<strong>Name: </strong><%= name %><br />
					<span style="word-wrap: break-word"><strong>ID: </strong><%= _id %></span><br />
				</p>
			</section>
			
			<section class="wrapper">
				<h3 class="wrapper-heading">Model Info</h3>
				<p>
					<strong>Model: </strong><%= model %><br />
					<strong>SN#: </strong><%= serial_number %><br />
					<strong>Manufacture Date: </strong><%= manufacture_date %><br />
				</p>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Description</h3>
				<p>
					<%= description %>
				</p>
			</section>

			<section class="wrapper">
				<h3 class="wrapper-heading">Contact</h3>
				<p>
					<strong>Owner:</strong> <%= owner.contact.name %><br />
					<strong>Email:</strong> <a href="mailto:<%= owner.contact.mail %>"><%= owner.contact.email %></a>
				</p>
			</section>
		</section>
	</div>
	
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Deployments</h3>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Updated</th>
				</tr>
				<% _.each(deployments, function(obj) { %>
					<tr>
						<td><%= obj.name %></td>
						<td><%= obj.description %></td>
						<td><%= obj.type_ %></td>
						<td><%= obj.ts_updated %></td>
					</tr>
				<% }); %>
			</table>
		</section>
		<section class="wrapper">
			<h3 class="wrapper-heading">Administration</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Platform Agent</h3>
				<!-- <table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Type</th>
						<th>Updated</th>
					</tr>
						<tr>
							<td><%= obj.name %></td>
							<td><%= obj.description %></td>
							<td><%= obj.type_ %></td>
							<td><%= obj.ts_updated %></td>
						</tr>
				</table> -->
			</section>


			<!-- <section class="wrapper">
				<h3 class="wrapper-heading">Policies</h3>
				<p>...</p>
			</section> -->
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Instruments</h3>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Updated</th>
				</tr>
				<% _.each(instruments, function(obj) { %>
					<tr>
						<td><a href="/instruments/<%= obj._id %>/"><%= obj.name %></a></td>
						<td><%= obj.description %></td>
						<td><%= obj.type_ %></td>
						<td><%= obj.ts_updated %></td>
					</tr>
				<% }); %>
			</table>
		</section>
		
		<section class="wrapper">
			<h3 class="wrapper-heading">Frames of Reference</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Children</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Type</th>
						<th>Updated</th>
					</tr>
					<% _.each(subordinates, function(key) { %>
						<% _.each(key, function(obj) { %>
							<tr>
								<td><a href="/frame_of_references/<%= obj._id %>/"><%= obj.name %></a></td>
								<td><%= obj.description %></td>
								<td><%= obj.type_ %></td>
								<td><%= obj.ts_updated %></td>
							</tr>
						<% }); %>
					<% }); %>
				</table>
			</section>
		
			<section class="wrapper">
				<h3 class="wrapper-heading">Parents</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Type</th>
						<th>Updated</th>
					</tr>
					<% _.each(superiors, function(key) { %>
						<% _.each(key, function(obj) { %>
							<tr>
								<td><a href="/frame_of_references/<%= obj._id %>/"><%= obj.name %></a></td>
								<td><%= obj.description %></td>
								<td><%= obj.type_ %></td>
								<td><%= obj.ts_updated %></td>
							</tr>
						<% }); %>
					<% }); %>
			</section>
		</section>
	</div>
</div>