<h1>Platform Model: <%= name %></h1>

<div class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
					
			<section class="wrapper">
				<h3 class="wrapper-heading">Identification</h3>
				<p>
					<strong>Name: </strong><%= name %><br />
					<span style="word-wrap: break-word"><strong>ID: </strong><%= _id %></span>
				</p>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Description</h3>
				<p>
					<%= description %>
				</p>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Contact</h3>
				<p>
					<strong>Owner:</strong> <%= owner.contact.name %><br />
					<strong>Email:</strong> <a href="mailto:<%= owner.contact.mail %>"><%= owner.contact.email %></a>
				</p>
			</section>
		</section>
	</div>
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Placeholder</h3>
			
		</section>
	</div>
</div>