<h1>Collections: Platform Models</h1>

<div id="lca-collections" class="row">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span8 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Platforms</h3>
			<table class="table datatable-ize" width="100%">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Updated</th>
					<!-- <th>Primary Measurements</th>
					<th>Data Products</th>
					<th>Platforms</th>
					<th>Instruments</th>
					<th>Participants</th>
					<th>Registered</th>
					<th>Uptime (days)</th> -->
				</tr>
				<% _.each(collection, function(obj) { %>
					<tr>
						<td><a href="/platforms/<%= obj._id %>/"><%= obj.name %></a></td>
						<td><%= obj.description %></td>
						<td><%= obj.ts_updated %></td>
					</tr>
			    <% }); %>
			</table>
		</section>
	</div>
</div>

