<h2>Platform Facepage</h2>

<div id="platform-facepage" class="row">
	<div class="span2">
		<h3>Information</h3>
		
		<h4>Identification</h4>
		<p>Identification placeholder</p>
		
		<h4>Location</h4>
		<p>Location placeholder</p>
		
		<h4>Description</h4>
		<p>Description placeholder</p>
		
		<h4>Provenance</h4>
		<p>Provenance placeholder</p>
	</div>
	
	<div class="span8">
		
		<!-- Data products and processes tabs -->
		<ul id="data-tabs" class="nav nav-tabs">
		  <li class="active"><a href="#data-tab" data-toggle="tab">Data</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="data-tab">Platform data placeholder</div>
		</div>	
		
		<br /><br /> <!-- TODO: Remove these layout hacks -->
		
		<!-- Administration, recent and planned events tabs -->
		<ul id="admin-events-tabs" class="nav nav-tabs">
		  <li class="active"><a href="#administration-tab" data-toggle="tab">Administration</a></li>
		  <li><a href="#recent-events-tab" data-toggle="tab">Recent Events</a></li>
		<li><a href="#planned-events-tab" data-toggle="tab">Planned Events</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="administration-tab">Administration placeholder</div>
		  <div class="tab-pane" id="recent-events-tab">partials/recent_events.html goes here</div>
		<div class="tab-pane" id="planned-events-tab">partials/planned_events.html goes here</div>
		</div>
		
		<br /><br /> <!-- TODO: Remove these layout hacks -->
		
		<!-- Platforms, instruments and sensors tabs -->
		<ul id="instruments-sensors-tabs" class="nav nav-tabs">
		  	<li class="active"><a href="#instruments-tab" data-toggle="tab">Instruments</a></li>
			<li><a href="#sensors-tab" data-toggle="tab">Sensors</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="instruments-tab">Instruments placeholder</div>
		<div class="tab-pane" id="sensors-tab">Sensors placeholder</div>
		</div>
	</div>
</div> <!-- div#platform-facepage -->
