<h1>Platform: <%= name %></h1>

<div id="platform-facepage" class="row">
	<div class="span2">
		<p><image src="<%= thumbnail %>"/></p>
		
		<p>
			<strong>Name: </strong><%= name %><br />
			<strong>ID: </strong><%= _id %><br />
		</p>
		
		<p>
			<strong>Model: </strong><%= model %><br />
			<strong>SN#: </strong><%= serial %><br />
			<strong>Manufacturer: </strong><%= manufacturer %><br />
			<strong>Manufacture Date: </strong><%= manufacture_date %><br />
		</p>
		
		<h4>Description</h4>
		<p><%= description %></p>
	</div>
	
	
	<div class="span8">
		
		<div>
			<h4>Deployments</h4>
			<p>Placeholder...</p>
		</div>
		
		<h4>Agents</h4>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Configuration</th>
			</tr>
			<% _.each(agents, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.configuration %></td>
				</tr>
			<% }); %>
		</table>
		
		
		<h4>Instruments</h4>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Updated</th>
			</tr>
			<% _.each(instruments, function(obj) { %>
				<tr>
					<td><%= obj._id %></td>
					<td><%= obj.name %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>

		<h4>Recent Events</h4>
		<table class="table">
			<tr>
				<th>Origin</th>
				<th>Description</th>
				<th>Updated</th>
			</tr>
			<% _.each(events, function(obj) { %>
				<tr>
					<td><%= obj.origin %></td>
					<td><%= obj.description %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
		
		<h4>User Requests</h4>
		<table class="table">
			<tr>
				<th>Origin</th>
				<th>Description</th>
				<th>Status</th>
				<th>Status Description</th>
				<th>Type</th>
				<th>User ID</th>
				<th>Updated</th>
			</tr>
			<% _.each(user_requests, function(obj) { %>
				<tr>
					<td><%= obj.origin %></td>
					<td><%= obj.description %></td>
					<td><%= obj.status %></td>
					<td><%= obj.status_description %></td>
					<td><%= obj.type %></td>
					<td><%= obj.user_id %></td>
					<td><%= obj.ts_updated %></td>
				</tr>
			<% }); %>
		</table>
	</div>
</div>