<h1>Platforms</h1>

<div id="lca-collections" class="row">
	<div class="span2 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<p>Information placeholder</p>

			<h3>Coverage</h3>
			<p>Coverage placeholder</p>

			<h3>Identification</h3>
			<p>Identification placeholder</p>
		</section>
	</div>
		
	<div class="span8 test">
		<section class="wrapper">
			<h3 class="wrapper-heading">Platforms</h3>
			<table class="table datatable-ize" width="100%">
				<tr>
					<th>Name</th>
					<!-- <th>Primary Measurements</th>
					<th>Data Products</th>
					<th>Platforms</th>
					<th>Instruments</th>
					<th>Participants</th>
					<th>Registered</th>
					<th>Uptime (days)</th> -->
				</tr>
				<% _.each(collection, function(obj) { %>
					<tr>
						<td><a href="/platforms/<%= obj._id %>/"><%= obj.name %></a></td>
					</tr>
			    <% }); %>
			</table>
		</section>
	</div>
</div>

<button class='btn create_new'>New Platform</button>
<div id="platform-new"></div>


