<div id="resource-add-event-overlay" class="modal-ooi modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Add Operator Event</h1>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" id="description" name="description" class="input-block-level" maxlength="128" />
                    <span class="help-inline">Enter a descriptive message for this event (max 128 chars)</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="add-event-ok" class="btn-blue btn-save">OK</button>
        <button id="add-event-cancel" data-dismiss="modal" class="btn-blue btn-cancel">Cancel</button>
    </div>
</div>

