<div class="sidebar-map">
	<img src="/static/img/r2/placeholder_map.png" />
</div>
<div id="search-production" class="sidebar-search">
  <input id="search-input" class="textfield-search" type="text" /><br />
  <a class="btn-advanced-search" href="#">Advanced Search</a>  
</div>
<div class="sidebar-nav">
  <h5>Data Resources</h5>
  <ul class="main-nav">
    <li class="sprite data_product_mini"><a href="/DataProduct/list/">Data Product</a></li>
    <li class="spite data_product_mini"><a href="/DataProcessDefinition/list/">Data Process Definition</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>OOI Resources</h5>
  <ul class="main-nav">
    <li class="sprite observatory_mini"><a href="/Org/list/">Observatory</a></li>
    <li class="sprite platform_mini"><a href="/PlatformDevice/list/">Platform</a></li>
    <li class="sprite platform_mini"><a href="/PlatformModel/list/">Platform Model</a></li>
    <li class="sprite instrument_mini"><a href="/InstrumentDevice/list/">Instrument</a></li>
    <li class="sprite instrument_mini"><a href="/InstrumentModel/list/">Instrument Model</a></li>
    <li class="sprite resource_mini"><a href="/UserInfo/list/">User</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>Site Resources</h5>
  <ul class="main-nav">
    <li class="sprite resource_mini"><a href="/Observatory/list/">Observatory Site</a></li>
    <li class="sprite resource_mini"><a href="/Subsite/list/">Subsite</a></li>
    <li class="sprite resource_mini"><a href="/PlatformSite/list/">Platform Site</a></li>
    <li class="sprite resource_mini"><a href="/InstrumentSite/list/">Instrument Site</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>OOI Resources</h5>
  <ul class="main-nav">
    <li class="sprite resource_mini"><a href="/Resource/list/">Resource</a></li>
    <li class="sprite resource_mini"><a href="/UserRole/list/">Information Resource</a></li>
    <li class="sprite resource_mini"><a href="/DataProcess/list/">Taskable Resource</a></li>
    <li class="sprite resource_mini"><a href="/NotificationRequest/list/">Notification Request</a></li>
    <li class="sprite resource_mini"><a href="/SensorModel/list/">SensorModel</a></li>
  </ul>
</div>