<div class="sidebar-map">
	<img src="/static/img/r2/placeholder_map.png" />
</div>
<div class="sidebar-search">
  <input id="sidebar-search" class="textfield-search" type="text" /><br />
  <a class="btn-advanced-search" href="#">Advanced Search</a>  
</div>
<div class="sidebar-nav">
  <h5>Data Resources</h5>
  <ul class="main-nav">
    <li><div class="data_product_mini nav-icon"></div><a href="/DataProduct/list/">Data Product</a></li>
    <li><div class="data_product_mini nav-icon"></div><a href="/DataProcessDefinition/list/">Data Process Definition</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>OOI Resources</h5>
  <ul class="main-nav">
    <li><div class="observatory_mini nav-icon"></div><a href="/Org/list/">Observatory</a></li>
    <li><div class="platform_mini nav-icon"></div><a href="/PlatformDevice/list/">Platform</a></li>
    <li><div class="platform_mini nav-icon"></div><a href="/PlatformModel/list/">Platform Model</a></li>
    <li><div class="instrument_mini nav-icon"></div><a href="/InstrumentDevice/list/">Instrument</a></li>
    <li><div class="instrument_mini nav-icon"></div><a href="/InstrumentModel/list/">Instrument Model</a></li>
    <li><div class="resource_mini nav-icon"></div><a href="/UserInfo/list/">User</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>Site Resources</h5>
  <ul class="main-nav">
    <li><div class="site_mini nav-icon"></div><a href="/Observatory/list/">Observatory Site</a></li>
    <li><div class="site_mini nav-icon"></div><a href="/Subsite/list/">Subsite</a></li>
    <li><div class="site_mini nav-icon"></div><a href="/PlatformSite/list/">Platform Site</a></li>
    <li><div class="site_mini nav-icon"></div><a href="/InstrumentSite/list/">Instrument Site</a></li>
  </ul>
</div>
<div class="sidebar-nav">
  <h5>OOI Resources</h5>
  <ul class="main-nav">
    <li><div class="resource_mini nav-icon"></div><a href="/Resource/list/">Resource</a></li>
    <li><div class="resource_mini nav-icon"></div><a href="/UserRole/list/">Information Resource</a></li>
    <li><div class="resource_mini nav-icon"></div><a href="/DataProcess/list/">Taskable Resource</a></li>
    <li><div class="resource_mini nav-icon"></div><a href="/NotificationRequest/list/">Notification Request</a></li>
    <li><div class="resource_mini nav-icon"></div><a href="/SensorModel/list/">SensorModel</a></li>
  </ul>
</div>