<div id="signin-from-expired-session-overlay" class="modal-ooi modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Expired Session</h1>
    </div>
    <div class="modal-body">
        <p>It appears that your session has expired.  As a result, certain resources, actions, and website functionality may be unavailable. Click the Sign In button to reauthenticate yourself.</p>
    </div>
    <div class="modal-footer">
        <button id="signin-from-expired-session-cancel" data-dismiss="modal" class="btn-general btn-cancel">Cancel</button>
        <button id="signin-from-expired-session" class="btn-blue btn-save">Sign In</button>
    </div>
</div>

