<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#">Command</a></li>
</ul>
<div class="tab-contents">
    <div class="row-fluid">
        <div class="span8">

          <h3>Commands</h3>
          <table id="cmds" class="command-tbl">
            <tbody></tbody>
          </table>
          
          <!-- 
          <h3>Agent Parameters</h3>
          <table id="agent-params" class="table_ooi">
            <tbody></tbody>
          </table>
          -->

          <h3>Resource Parameters</h3>
          <div id="resource-form"></div>
          <table id="resource-params" class="table_ooi">
            <tbody></tbody>
          </table>

        </div> <!--.span8 -->

        <div class="span4">
        	<div class="attr_block">
                <h3>Command Results</h3>
        		<div class="command-output"> </div>
        	</div>
        </div>
    </div> <!-- row-fluid -->
</div> <!-- tab-contents -->
