<h1>Collection: Users</h1>

<div id="lca-collections" class="row-fluid">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<strong>Resources in List: </strong><span id="row-count"></span>
		</section>
	</div>
		
	<div class="span10">
		<section class="wrapper">
			<h3 class="wrapper-heading">Users</h3>
			<table id="users-container" class="table" width="100%">
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>Credential Subject</th>
				</thead>
                <tbody>
                    <!-- Sample row -->
                    <tr>
						<td><a href="/users/demo-user-facepage/">Marty McFly</a></td>
						<td>marty@marty.com</td>
						<td>&nbsp;</td>
					</tr>
                    <!-- Sample row end -->
			    <% _.each(collection, function(obj) { %>
						<tr>
							<td><a href="/users/<%= obj._id %>/"><%= obj.user_info.contact.name %></a></td>
							<td><%= obj.user_info.contact.email %></td>
							<td><%= obj.name %></td>
						</tr>
			    <% }); %>
			    </tbody>
			</table>		
		</section>
	</div>
</div>
