<div id="user-profile-overlay" class="modal-ooi modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h1>ION Account Information</h1>
  </div>
  <div class="modal-body">
    <div class="form-container"></div>
  </div>
  <div class="modal-footer">
    <button id="save-resource" class="btn-blue btn-save">Save</button>
    <button id="cancel-edit" type="button" data-dismiss="modal" class="btn-blue btn-cancel">Cancel</button>
  </div>
</div>
