<h1>User: </h1>

<div class="row">
	<div class="span2">
		<section class="wrapper">
			<h3 class="wrapper-heading">Information</h3>
			<p>...</p>
		</section>
	</div>
	<div class="span8">
		<section class="wrapper">
			<h3 class="wrapper-heading">Resource Access</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Resources</h3>
				<p>...</p>
			</section>
		</section>
		<section class="wrapper">
			<h3 class="wrapper-heading">Administration</h3>
			<section class="wrapper">
				<h3 class="wrapper-heading">Roles</h3>
				<p>...</p>
			</section>
			<section class="wrapper">
				<h3 class="wrapper-heading">Policies</h3>
				<p>...</p>
			</section>
		</section>
	</div>
</div>