{% extends "resource_browser/base.html" %}

{% block content %}
	<div class="grid_20 alpha beta basic_wrapper_style rounded_5">
		
		{% if resource_type and resources %}
			<h1>Listing {{ resource_type }}</h1>	
		{% endif %}
		
		{% if resources %}
			<table id="resource-table" width="100%">
				<thead>
					<th>ID</th>
					<th>Name</th>
					<th>Raw Updated</th>
					<th></th>
					<th></th>
					<th></th>
				</thead>
				{% for resource in resources %}
					<tr>
						<td>{{ resource._id }}</td>
						<td>{{ resource.name }}</td>
						<td>{{ resource.ts_updated }}</td>
						<td><a href="/resources/show/{{resource._id}}?type={{ resource_type }}">Show</a></td>
						<td><a href="/resources/edit/{{resource._id}}?type={{ resource_type }}">Edit</a></td>
						<td><a href="/resources/delete/{{resource._id}}?type={{ resource_type }}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h1>Please select a resource type on the right...</h1>
		{% endif %}
	</div>

	<div class="clear">&nbsp;</div>
{% endblock content %}
