.info-level {
  background: green;
  color: white;
}





/* LISTS */

.list-item {
  line-height: 20px;
}



body, p, h1, h2, h3, h4, h5, h6 {
  color: #ccc;
  font-family: Signika Negative;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-color:#000;
}

#container {
  padding-top: 82px;
}

#ooi-logo {
  margin-top: 15px;
}

.v00 ul {
  display: none;
}

.textfield {
  width: 100%;
  color: #666666;
  font-size: 11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border: solid #999 1px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(25%,#e6e3e6), color-stop(25%,#e6e3e6), color-stop(100%,#ffffff)); 
  background: -moz-linear-gradient(center top, #e0e0e0 0%, #e6e3e6 25%, #e6e3e6 25%, #ffffff 100%);
}

a.btn-advanced-search {
  color:#999; font-size:11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top:2px;
  padding-bottom: 1px;
  padding-right:10px;
  padding-left: 10px;
  margin-bottom:5px;
  margin-top:10px;
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border: solid #808080 1px;   
  background:#333333;
  background:-webkit-gradient (linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), color-stop(100%,#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

a.btn-advanced-search:hover {background: #666666; color:#fff; border: solid #fff 1px;}
a.btn-advanced-search:active {background: #333333; color:#fff; border: solid #fff 1px;} 

.navigation {
  padding-top: 43px;
  text-align: right;
}

a.btn-navigation {
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;   
  padding-left: 10px; 
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  border: solid #00354C 1px; 
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0079AF), to(#025C99)); 
  background: -moz-linear-gradient(top, #0079AF, #025C99);
}

a.btn-navigation:hover {background: #0079AF;}
a.btn-navigation:active {background: #025C99;}

a.btn-navigation-plain {
/*  font-family: Signika Negative; */
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;
  padding-left: 5px;
  text-decoration: none; 
  text-transform: uppercase;
  border: solid transparent 1px; 
}


.label {
/*  text-transform: uppercase;*/
  background: transparent;
  color: #666;
  font-weight: normal;
}


.not-aligned {
  color: #933;
}

.btn-group {
  float: right;
  position: relative;
  top: 4px;
  right: 4px;
}

.btn-group a {
  padding: 0;
  font-size: 11px;
  margin: 0;
}

.dropdown-menu li {
  color: black;
}

.controls {
  padding-top: 10px;
}

#chart-placeholder {
  text-align: center;
  padding: auto;
}

/* Temp header */
#header {
  background: #004978 url('/static/img/lca-header.png') no-repeat 0 0;
  height: 72px;
}

.heading {
  border-bottom: solid 1px #666;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.heading h1, h2 {
  font-family: Signika Negative; 
  font-size: 18px; 
  font-weight: 300;
  color: #CCCCCC;
  text-transform: uppercase;
}

.heading h2, .heading h3, .heading div {
  display: inline;
  margin-right: 10px;
}

h2 {
  color: #999;
  font-size: 18px;
}

/*h3 {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
*/
.wrapper-heading {
  color: #666;
  margin: 15px 0;
}

/* Left-hand navigation */
.sidebar-map {
  text-align: center;
  margin: 15px 0;
}

.sidebar-map img {
  border: solid 1px #444;
}

/*#sidebar-search {
  background: #ccc;
  border: solid 1px #444;
  padding: 12px;
  width: 100%;
}
*/
.sidebar-section {
  border-top: solid 1px #333;
  display: block;
  padding-top: 7px;
  margin-top: 7px;
/*  text-transform: uppercase;*/
  font-weight:400; 
  font-size:10px; 
  letter-spacing:2px;
  color:#CCCCCC;
  
}

.sidebar ul {background: red;}

.sidebar ul li a {color: white;}

.main-nav {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0 0 0 16px;
}

.main-nav li a {
  font-weight:300; 
  font-size:13px; 
  color:#CCCCCC;
  margin-left:3px;
}

.main-nav li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-nav li a:active {
  color: #666666;
  text-decoration: none;
}

.table {
  background: #1e1e1e;
}

.table th td, .table thead tr, .table tr th {
  background: #4d4d4d;
  color: #ccc;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.table tr td {
  border: none;
  font-size: 12px;
}

.table tr:nth-child(even) {
  background: #333;
}

.attr_block {
  background: #1e1e1e;
  color: #ccc;
  padding-bottom: 15px;
  margin: 0;
}



.v01 h3, .v01 .block h3,
.v02 h3, .v02 .block h3 {
  background: #4D4D4D; 
  border-left:#666666 solid 1px; 
  border-top:#666666 solid 1px; 
  -webkitbox-shadow: 1px 1px #000000; 
  -mozbox-shadow: 1px 1px #000000; 
  box-shadow: 1px 1px #000000; 
  padding: 5px 10px 5px 10px; 
  letter-spacing: 3px; 
  font-size:10px; 
  font-weight: 600; 
  color:#CCCCCC;
  text-transform: uppercase;
}


.tab-pane .row-fluid {
  padding: 0;
}

.v01 .block, .v02 .block { 
  background:#1E1E1E;
/*  padding: 5px 30px 5px 10px; */
  color:#CCCCCC; 
  font-size:12px; 
  font-weight:300; 
  line-height:20px;
  border-left:#333333 solid 1px; 
  -webkit-box-shadow: 1px 1px #000000; 
  -moz-box-shadow: 1px 1px #000000;
  box-shadow: 1px 1px #000000;
  margin-bottom: 20px;
}

.v01 .block div,
.v02 .block div {
  margin: 0;
/*  margin: 5px 30px 5px 10px;*/
}

.attr_block p {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.map_block {}

.map_block img {
  border: solid 1px #333;
  width: 90%;
  margin: 15px auto;
}

ul.nav {margin: 0;}

/*ul.nav-tabs > li.active a {
    background-color:#333;
}
*/
ul.nav {
/*  border-bottom: #999 solid 1px;*/
  margin-top: 15px;
}

/*ul.nav li a:link {
  color: #666;
}*/

.nav-tabs, .nav {
  border-bottom: none;
}

.nav-tabs > li {
  border: none;
  margin-bottom: 0;
}

.nav-tabs li a {
  background: #1A1A1A;
  /*-webkit-box-shadow: 1px 1px #333333 inset;
  -moz-box-shadow: 1px 1px #333333 inset;
  box-shadow: 1px 1px #333333 inset;*/  
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 30px 5px 10px;
  font-family: Signika;
  font-size: 15px;
  color: #808080;
  letter-spacing:1px;
  margin-right:10px;
  /*width:115px;*/
}

.nav-tabs li.active a:link { 
  border: none;
  background-color: #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), color-stop(80%,#808080), color-stop(80%,#808080), to(#333333)); 
  background-image: -moz-linear-gradient(center top, #999999 0%, #808080 80%, #808080 80%, #333333 100%);
  /*-webkit-box-shadow: 1px 1px #999999 inset;
  -moz-box-shadow: 1px 1px #999999 inset;
  box-shadow: 1px 1px #999999 inset;*/
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  text-shadow: 1px 1px 0px #333333;
  padding:5px 30px 5px 10px;
  font-family: Signika;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing:1px;
  margin-right: 10px;
  /*width:115px;*/
  border: none;
}

.nav-tabs li a:hover {
  background-color: #1A1A1A;
  color:#999;
  text-shadow:none;
  border-color: transparent;
}
.nav-tabs li a:active {color:#999; background:#FFF;}

.btn-footer {
  font-family: Signika Negative;
  color: #999999;
  font-size:11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right:10px;
  padding-bottom:4px;
  padding-left:10px;
  text-decoration: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: solid #808080 1px;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), to(#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

.btn-footer:hover {
  background: #666666; border: solid #FFFFFF 1px; color: #FFFFFF;
}

.btn-footer:active {
  font-family: Signika Negative;
  color: #F2F2F2;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: solid #B3B3B3 1px;
  background: #666666;
}