
/* SIDEBAR */

.sidebar-map {
  text-align: center;
  margin: 15px 0;
}
.sidebar-map img {
  border: solid 1px #444;
}

.sidebar-nav {
  margin: 10px 0;
  border-top: solid 1px #444;
}

.sidebar-nav h5 {
  padding-top: 7px;
  text-transform: uppercase;
  font-weight:400; 
  font-size:10px; 
  letter-spacing:2px;
  color:#CCCCCC;  
}


.main-nav {
  list-style-type: none;
  margin: 0 0 10px;
}

.main-nav li {
  margin: 3px;
  padding-left: 16px;
  position: relative;
}

.main-nav li a {
  width: 100%;
  font-weight:300; 
  font-size:13px; 
  color:#CCCCCC;
  margin-left:3px;
  background: black;
}

.main-nav li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-nav li a:active {
  color: #666666;
  text-decoration: none;
}

.nav-icon {
  width:  15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;  
}

.sidebar-welcome {
  border-top: solid 1px #444;
  margin-top: 15px;
  padding-top: 15px;
}
.sidebar-welcome p {
  color: #999;
  font-size: 12px;
}
.sidebar-welcome p.blue-text {color: #35a1e8;}

.sidebar-logos { margin: 25px 0;}

.sidebar-logo {padding: 15px 23px;margin-right:10px;}

/* END SIDEBAR */

.dataTables_scrollHeadInner {
  margin:0;
  width: 100%;
}

.dataTables_scrollHeadInner table {
  margin:0;
}
.list-item {
  display: block;
}

.map_ooi img {
max-width: none;
}

.table_ooi td {
 white-space:nowrap; 
}


.block .btn-group {
  top: 3px;
}

.block .btn-group .btn {
/*  padding: -6px;*/
  color: red;
  line-height: 14px;
  background: transparent;
  border: none;
  color: #ccc;
  text-shadow: none;
  box-shadow: none;
}

.block .btn .caret  {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ccc;
  margin-left: 2px;
  opacity: 1;
  filter: alpha(opacity=30);
  content: "\2193";
}

.v02 .row-fluid {
  background: #1E1E1E;
  border-left:#333333 solid 1px; 
  -webkit-box-shadow: 1px 1px #000000; 
  -moz-box-shadow: 1px 1px #000000;
  box-shadow: 1px 1px #000000;
  
}

.textfield_geo {
  text-align: center;
}

.image_ooi {
/*  width: 60px;
  height: 60px;
*/  
  padding: 3px 10px;
  display: block;
  color: transparent;
}

.image_ooi span {
  position: relative;
  padding: 4px 8px 4px 4px;
  top: -5px;
/*  left: 0px;*/
}


/* Development CSS overrides */
.integration_info {
  display: none;
}

.info-level {
  background: green;
  color: white;
}

/* LISTS */

.list-item {
  line-height: 20px;
}


/* HTML */

body, p, h1, h2, h3, h4, h5, h6 {
  color: #ccc;
  font-family: Signika Negative;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-color:#000;
}

/* BLOCK/ATTRIBUTE STYLES*/

h4, .h4-span {
  color: #CCC;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

#container {
  padding-top: 60px;
}

#ooi-logo {
  margin-top: 15px;
}

.v00 ul {
  display: none;
}

.textfield-search {
  width: 100%;
  color: #666666;
  font-size: 11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border: solid #999 1px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(25%,#e6e3e6), color-stop(25%,#e6e3e6), color-stop(100%,#ffffff)); 
  background: -moz-linear-gradient(center top, #e0e0e0 0%, #e6e3e6 25%, #e6e3e6 25%, #ffffff 100%);
}

.textfield {
  width: 100%;
  color: #666666;
  font-size: 11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border: solid #999 1px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(25%,#e6e3e6), color-stop(25%,#e6e3e6), color-stop(100%,#ffffff)); 
  background: -moz-linear-gradient(center top, #e0e0e0 0%, #e6e3e6 25%, #e6e3e6 25%, #ffffff 100%);
}

a.btn-footer, a.btn-advanced-search {
  color:#999; font-size:11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top:2px;
  padding-bottom: 1px;
  padding-right:10px;
  padding-left: 10px;
  margin-bottom:5px;
  margin-top:10px;
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border: solid #808080 1px;   
  background:#333333;
  background:-webkit-gradient (linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), color-stop(100%,#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

a.btn-advanced-search:hover {background: #666666; color:#fff; border: solid #fff 1px;}
a.btn-advanced-search:active {background: #333333; color:#fff; border: solid #fff 1px;} 

a.btn-footer {
  margin-right: 10px;
  width: 100px;
}

.footer {
/*  width: 100%;*/
  background: #000;
/*  height: 50px;*/
  text-align: right;
/*  padding-top: 15px;*/
}

.user-nav {
  padding-top: 43px;
  text-align: right;
}

a.btn-navigation {
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;   
  padding-left: 10px; 
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  border: solid #00354C 1px; 
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0079AF), to(#025C99)); 
  background: -moz-linear-gradient(top, #0079AF, #025C99);
}

a.btn-navigation:hover {background: #0079AF;}
a.btn-navigation:active {background: #025C99;}

a.btn-navigation-plain {
/*  font-family: Signika Negative; */
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;
  padding-left: 5px;
  text-decoration: none; 
  text-transform: uppercase;
  border: solid transparent 1px; 
}


.label {
/*  text-transform: uppercase;*/
  background: transparent;
  color: #666;
  font-weight: normal;
}


.not-aligned {
  color: #933;
}

.btn-group {
  float: right;
  position: relative;
  top: 4px;
  right: 4px;
}

.btn-group a {
  padding: 0;
  font-size: 11px;
  margin: 0;
}

.dropdown-menu li {
  color: black;
  cursor:pointer;
  padding:2px 6px;
  margin:0px;
}
.dropdown-menu li:hover {
  font-weight:bold;
  background-color:#ddd;
}

.controls {
  padding-top: 10px;
}

#chart-placeholder {
  text-align: center;
  padding: auto;
}

/* Temp header */
#header {
  background: #004978 url('/static/img/banner.png') no-repeat 0 0;
  height: 70px;
}

.heading {
  border-bottom: solid 1px #666;
  padding-bottom: 15px;
  margin: 15px 0 15px;
}


.wrapper {
  min-height: 100%;
  margin-bottom: 180px;
}


#footr {
  background: black;
  position: fixed;
  bottom:0;
/*  margin-top: -150px;*/
  height: 30px;
  clear: both;
  padding-top: 13px;
  width: 100%;
}

.heading h1, h2 {
  font-family: Signika Negative; 
  font-size: 18px; 
  font-weight: 300;
  color: #CCCCCC;
  text-transform: uppercase;
}

.heading h2, .heading h3, .heading div {
  display: inline;
  margin-right: 10px;
}

h2 {
  color: #999;
  font-size: 18px;
}

/*h3 {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
*/
.wrapper-heading {
  color: #666;
  margin: 15px 0;
}


.table {
  background: #1e1e1e;
}

.table th td, .table thead tr, .table tr th {
  background: #4d4d4d;
  color: #ccc;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.table tr td {
  border: none;
  font-size: 12px;
}

.table tr:nth-child(even) {
  background: #333;
}

.attr_block {
  background: #1e1e1e;
  color: #ccc;
  padding-bottom: 15px;
  margin: 0;
}



.v01 h3, .v01 .block h3,
.v02 h3, .v02 .block h3 {
  background: #4D4D4D; 
/*  border-left:#666666 solid 1px; */
  border-top:#666666 solid 1px; 
  -webkitbox-shadow: 1px 1px #000000; 
  -mozbox-shadow: 1px 1px #000000; 
/*  box-shadow: 1px 1px #000000; */
  padding: 0px 10px 0px 10px; 
  letter-spacing: 3px; 
  font-size:9px; 
  font-weight: 600;
  line-height: 18px;
  color:#CCCCCC;
  text-transform: uppercase;
}

.block h3 {
  white-space: nowrap;
}

.tab-pane .row-fluid {
  padding: 0;
}

.v01 .block, .v02 .block { 
  background:#1E1E1E;
/*  padding: 5px 30px 5px 10px; */
  color:#CCCCCC; 
  font-size:12px; 
  font-weight:300; 
  line-height:20px;
  margin-bottom: 20px;
}

.v01 .block div,
.v02 .block div {
  margin: 0;
/*  margin: 5px 30px 5px 10px;*/
}

.attr_block p {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.map_block {}

.map_block img {
  border: solid 1px #333;
  width: 90%;
  margin: 15px auto;
}

ul.nav {margin: 0;}

/*ul.nav-tabs > li.active a {
    background-color:#333;
}
*/
ul.nav {
/*  border-bottom: #999 solid 1px;*/
  margin-top: 15px;
}

/*ul.nav li a:link {
  color: #666;
}*/

.nav-tabs, .nav {
  border-bottom: none;
}

.nav-tabs > li {
  border: none;
  margin-bottom: 0;
}

.nav-tabs li a {
  background: #1A1A1A;
  /*-webkit-box-shadow: 1px 1px #333333 inset;
  -moz-box-shadow: 1px 1px #333333 inset;
  box-shadow: 1px 1px #333333 inset;*/  
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 30px 5px 10px;
  font-family: Signika;
  font-size: 13px;
  color: #808080;
  letter-spacing:1px;
  margin-right:10px;
  /*width:115px;*/
}

.nav-tabs li.active a:link { 
  border: none;
  background-color: #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), color-stop(80%,#808080), color-stop(80%,#808080), to(#333333)); 
  background-image: -moz-linear-gradient(center top, #999999 0%, #808080 80%, #808080 80%, #333333 100%);
  /*-webkit-box-shadow: 1px 1px #999999 inset;
  -moz-box-shadow: 1px 1px #999999 inset;
  box-shadow: 1px 1px #999999 inset;*/
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
/*  text-shadow: 1px 1px 0px #333333;*/
  padding:5px 30px 5px 10px;
  font-family: Signika;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing:1px;
  margin-right: 10px;
  /*width:115px;*/
  border: none;
}

.nav-tabs li a:hover {
  background-color: #1A1A1A;
  color:#999;
  text-shadow:none;
  border-color: transparent;
}
.nav-tabs li a:active {color:#999; background:#FFF;}

.btn-footer {
  font-family: Signika Negative;
  color: #999999;
  font-size:11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right:10px;
  padding-bottom:4px;
  padding-left:10px;
  text-decoration: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: solid #808080 1px;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), to(#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

.btn-footer:hover {
  background: #666666; border: solid #FFFFFF 1px; color: #FFFFFF;
}

.btn-footer:active {
  font-family: Signika Negative;
  color: #F2F2F2;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: solid #B3B3B3 1px;
  background: #666666;
}

.modal {
    padding:10px;
}
.modal-backdrop.fade {
  opacity:0.5;
}
