table.table thead tr th {
    cursor:pointer;
}
table.table tr.even td {
    background-color:#282828;
}
table.table tr.odd td {
    background-color:#1E1E1E;
}
.datatable-container {
    border:1px solid #4f4f4f;
}
.dataTables_wrapper {
    background-color:#5D5D5D;
}
.dataTables_wrapper label {
    color:#ccc;
}
.dataTable {
    border:none;
    clear:both;
}
.dataTables_filter {
    float:right;
    margin:10px;
    margin-bottom:0px;
}
.dataTables_filter label {
    margin-bottom:0px;
}
.dataTables_filter input {
    display:inline;
}
.dataTables_length {
    float:left;
    margin:15px 0px 0px 10px;
}
.dataTables_length select {
    display:inline;
    margin-bottom:0px;
}
.dataTables_paginate a {
    cursor:pointer;
    margin:2px 4px 2px 0px;
    color:#ccc;
}
.table-bordered tr th {
    border-left:1px solid #6f6f6f;
}
.filter-header {
    background-color:#4D4D4D;
    text-transform:uppercase;
    padding:4px 8px;
}

.filter-header button {
    float:right;
    position:relative;
    top:-1px;
    padding:1px;
    font-size:10px;
}

.filter-controls {
    display:none;
    float:right;
    position:relative;
    top:5px;
}
.filter-controls button {
    margin:4px 8px;
}

.filter-items {
    display:none;
    background-color:#4d4d4d;
    border-bottom:1px solid #6f6f6f;
    border-top:1px solid #6f6f6f;
}
.filter-item {
    font-size:10px;
    margin:0px 0px 0px 10px;
    padding:8px 0px 6px 0px;
}
.filter-item select {
    margin:0px 10px 0px 0px;
}
.filter-item input {
    margin:0px;
}
.filter-item .filter-add,.filter-remove {
    font-size:18px;
    padding:0px 6px;
    margin:5px;
    background-color:#6f6f6f;
    cursor:pointer;
    position:relative;
    top:4px;
}
.status_indicator_sprite {
    background-image:url(/static/img/status_indicator_sprite.png);
    width:15px;
    margin:5px 0px 0px 6px;
}


