.notifications th {
  text-align: left;
}

.notifications tbody tr td {
  padding: 5px;
}
.notifications tbody tr:nth-child(even) {
  background: #333;
}

.notifications tbody tr:nth-child(odd) {
  background: #222;
}


#sidebar-search {
height: 12px;
width: 80%;
}

.edit-resource-btns {
  margin: 10px 0;
  padding: 10px 0;
  border-top: solid 1px #333;
}

label:before {
  padding: 5px;
}

label {
  margin-top: 9px;
  color: #ddd;
}

fieldset {
  margin-top: 20px;
}

.controls input {
  padding: 5px;
  color: #ccc;
  height: 25px;
  background: #333;
  border: solid 1px #666;
  box-shadow: none;
  -webkit-box-shadow: none;
}



.table-heading {
  font-family: Signika Negative; 
  position:relative;
  top:0;
  left:0;
  width:75%;
  float:left;
  letter-spacing: 3px;
  font-size: 9px;
  font-weight: 600;
  line-height: 18px;
  color: #CCC;
  text-transform: uppercase;
}

/* Chart */

#chart-placeholder {
  text-align: center;
  padding: auto;
}

.checkbox-input label {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  cursor:pointer;
}


#chart {
  border: none;
  padding: none;
}

table.google-visualization-table-table {
  color: #333;
  width: 100%;
  font-size: 12px;
}

/*.chart-google {
  color: #333;
  position: relative;
*/}

#graph_ui_div {
  font-family: Signika Negative;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
}

#graph_div {
  width: 80%;
  margin-right: 165px;
  height: 300px;
}


/* Table */




/* Attribute Group */
.v01 .text-short-label, .v02 .text-short-label {
  text-transform: uppercase;
  color:#CCCCCC; 
  font-size:9px; 
  font-weight:300; 
  line-height:20px;
}

.v01 .text-short-value, .v02 .text-short-value {
  color:#CCCCCC; 
  font-size:12px; 
  font-weight:300; 
  line-height:20px; 
}

/* Information Level Filtering */
.level-two {
  display: none;
}

.show-all .level-two {
  display: block;
}

.v00 {
  padding: 15px 0 30px;
  border-bottom: solid 1px #444;
}

.heading h1, h2 {
  font-family: Signika Negative; 
  font-size: 18px; 
  font-weight: 300;
  color: #CCCCCC;
  text-transform: uppercase;
}

.heading h2, .heading h3, .heading div {
  display: inline;
}


.heading-left .text_static_ooi {
  font-size: 15px; 
  font-weight: 300; 
  color: #CCCCCC;	
  text-transform: uppercase;
  margin-right: 2px;
  overflow: hidden;
  white-space:nowrap;
}

.heading-left .text_short_ooi { 
  font-size: 16px; 
  font-weight: 600; 
  color: #CCCCCC;  
  text-transform: uppercase;
  white-space:nowrap;
}

.heading-right {
  text-align: right;
}

.heading-right .text_short_ooi {
  color: #666;
  margin-right: 15px;
}

.heading-right .icon_ooi {display:none;}
.heading-right .btn-group {
  text-align: left;
}



.content-wrapper {
  padding: 10px;
}

/* SIDEBAR */

.sidebar-map {
  text-align: center;
  margin: 15px 0;
}
.sidebar-map img {
  border: solid 1px #444;
}

.sidebar-nav {
  margin: 10px 0;
  border-top: solid 1px #444;
}

.sidebar-nav h5 {
  padding-top: 7px;
  text-transform: uppercase;
  font-weight:400; 
  font-size:10px; 
  letter-spacing:2px;
  color:#CCCCCC;  
}

.main-nav {
  list-style-type: none;
  margin: 0 0 10px;
}

.main-nav li {
  margin: 3px;
  padding-left: 16px;
  position: relative;
}

/*.main-nav li:before {
  background-image: url(/static/img/css_sprite_pepper.png);
  background-position: 0px -60px;
  content: '';
  height: 15px;
  width: 15px;
  left:0;
  display:block;
  position:absolute;
}
*/

.main-nav li a {
  width: 100%;
  font-weight:300; 
  font-size:13px; 
  color:#CCCCCC;
  margin-left:3px;
  background: black;
}

.main-nav li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-nav li a:active {
  color: #666666;
  text-decoration: none;
}

.nav-icon {
  width:  15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;  
}

.sidebar-welcome {
  border-top: solid 1px #444;
  margin-top: 15px;
  padding-top: 15px;
}
.sidebar-welcome p {
  color: #999;
  font-size: 12px;
}
.sidebar-welcome p.blue-text {color: #35a1e8;}

.sidebar-logos { margin: 25px 0;}

.sidebar-logo {padding: 15px 23px;margin-right:10px;}

/* END SIDEBAR */

.dataTables_scrollHeadInner {
  margin:0;
  width: 100%;
}

.dataTables_scrollHeadInner table {
  margin:0;
}
.list-item {
  display: block;
}

.map_ooi img {
max-width: none;
}

.table_ooi td {
 white-space:nowrap; 
}


/* ---------------------------------------------------------------
ACTION MENU STYLING
Intentionally verbose and redundant until styles are determined
for heading, group and block elements.
--------------------------------------------------------------- */

/*
 HEADING
*/

.v00 .block .btn-group.open .btn.dropdown-toggle {
  color: #ccc;
  background-color: transparent;
}

.v00 .block .btn-group .btn {
  font-size: 14px;
  text-transform:uppercase;
  background: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding:0;
  margin:0 3px 0 0;
  color: #666;
}

.v00 .block .btn-group .btn .caret  {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
  margin-left: 2px;
  content: "\2193";
}

.v00 .block .btn-group.open .btn.dropdown-toggle {
  color: #ccc;
  background-color: transparent;
}

.v00 .block .btn-group.open .btn .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ccc;
}

/*
 GROUP
*/

.group .btn-group.open .btn.dropdown-toggle {
  color: #ccc;
  background-color: transparent;
}

.group .btn-group .btn {
  font-size: 12px;
  text-transform:uppercase;
  background: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding:0;
  margin:0 3px 0 0;
  color: #666;
}

.group .btn-group .btn .caret  {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
  margin-left: 2px;
  content: "\2193";
}

.group .btn-group.open .btn.dropdown-toggle {
  color: #ccc;
  background-color: transparent;
}

.group .btn-group.open .btn .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ccc;
}

/*
 BLOCK
*/

.block .btn-group.open .btn.dropdown-toggle {
  color: #ccc;
  background-color: transparent;
}

.block .btn-group .btn {
  font-size: 10px;
  text-transform:uppercase;
  background: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding:0;
  margin:0 3px 0 0;
  color: #ccc;
}

.block .btn-group .btn .caret  {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ccc;
  margin-left: 2px;
  content: "\2193";
}

.block .btn-group.open .btn.dropdown-toggle {
  color: #fff;
  background-color: transparent;
}

.block .btn-group.open .btn .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}


/* OVERRIDE DEFAULT BOOTSTRAP RADIUS */
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

ul.dropdown-menu {
  background: #222;
  border: solid 1px #333;
  margin: 1px 0 0;
}

ul.dropdown-menu li {
  padding: 2px 5px;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ccc;
}

ul.dropdown-menu li:hover {
  color: #ddd;
  background: #202020;
}

/* ---------------------------------------------------------------
/ ACTION MENU STYLING
--------------------------------------------------------------- */

.v02 .row-fluid {
  background: #1E1E1E;
/*  border-left:#333333 solid 1px; 
  -webkit-box-shadow: 1px 1px #000000; 
  -moz-box-shadow: 1px 1px #000000;
  box-shadow: 1px 1px #000000;
*/  
}

.block .row-fluid {
  border-left:none;
  -webkit-box-shadow:none; 
  -moz-box-shadow:none;
  box-shadow:none
}

.image_ooi {
/*  width: 60px;
  height: 60px;
*/  
  padding: 3px 10px;
  display: block;
  color: transparent;
}

.image_ooi span {
  position: relative;
  padding: 4px 8px 4px 4px;
  top: -5px;
/*  left: 0px;*/
}


/* Development CSS overrides */
.integration_info {
  display: none;
}

.info-level {
  background: green;
  color: white;
}

/* LISTS */

.list-item {
  line-height: 20px;
}


/* HTML */

body, p, h1, h2, h3, h4, h5, h6 {
  color: #ccc;
  font-family: Signika Negative;
/*  -webkit-font-smoothing: none;
  font-smoothing: none;
*/}

body {
  background-color:#000;
}

/* BLOCK/ATTRIBUTE STYLES*/

h1 {
  font-size: 18px; 
  font-weight: 300;
  color: #CCCCCC;
  text-transform: uppercase;
}

h4, .h4-span {
  color: #CCC;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

#container {
  padding-top: 60px;
}

#ooi-logo {
  margin-top: 15px;
}

.v00 ul {
  display: none;
}


#search-production {
  position:relative;
}

.btn-input-search {
  cursor:pointer;
  position:absolute;
  top:11px;
  right:20px;
}

.textfield-search {
  width: 100%;
  color: #666666;
  font-size: 11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 25px;
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border: solid #999 1px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(25%,#e6e3e6), color-stop(25%,#e6e3e6), color-stop(100%,#ffffff)); 
  background: -moz-linear-gradient(center top, #e0e0e0 0%, #e6e3e6 25%, #e6e3e6 25%, #ffffff 100%);
}

.textfield {
  width: 100%;
  color: #666666;
  font-size: 11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border: solid #999 1px; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(25%,#e6e3e6), color-stop(25%,#e6e3e6), color-stop(100%,#ffffff)); 
  background: -moz-linear-gradient(center top, #e0e0e0 0%, #e6e3e6 25%, #e6e3e6 25%, #ffffff 100%);
}

input.btn-general, button.btn-general, a.btn-general, a.btn-footer, a.btn-advanced-search {
  color:#999; font-size:11px;
  font-weight:400;
  letter-spacing:2px;
  padding-top:2px;
  padding-bottom: 1px;
  padding-right:10px;
  padding-left: 10px;
  margin-bottom:5px;
  margin-top:10px;
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid #808080 1px;   
  background:#333333;
  background:-webkit-gradient (linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), color-stop(100%,#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

input.btn-general:hover, button.btn-general:hover, a.btn-general:hover, a.btn-advanced-search:hover {background: #666666; color:#fff; border: solid #fff 1px;}
input.btn-general:active, button.btn-general:active, a.btn-general:active, a.btn-advanced-search:active {background: #333333; color:#fff; border: solid #fff 1px;} 

a.btn-footer {
  margin: 0px 5px;
  width: 100px;
}

.footer .active {
  color: #FFFFFF;
  border: solid #FFFFFF 1px;
  background: #999999;
  padding-right: 5px;
}

.footer {
/*  width: 100%;*/
  background: #000;
/*  height: 50px;*/
  text-align: right;
/*  padding-top: 15px;*/
}

/* version display in footer */
.footer-version {
  margin: 0px 5px;
}

.current-user {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.user-nav {
  padding-top: 20px;
  text-align: right;
}

input.btn-blue, button.btn-blue, a.btn-navigation {
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;   
  padding-left: 10px; 
  text-decoration: none; 
  text-transform: uppercase;
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  border-radius: 7px;
  border: solid #00354C 1px; 
  background: #025C99;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0079AF), to(#025C99)); 
  background: -moz-linear-gradient(top, #0079AF, #025C99);
}

input.btn-blue:hover, button.btn-blue:hover, a.btn-navigation:hover {background: #0079AF;}
input.btn-blue:active, button.btn-blue:active, a.btn-navigation:active {background: #025C99;}

a.btn-navigation-plain {
/*  font-family: Signika Negative; */
  color: #FFFFFF; 
  font-size: 11px; 
  font-weight: 400; 
  letter-spacing: 2px; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px;
  padding-left: 5px;
  text-decoration: none; 
  text-transform: uppercase;
  border: solid transparent 1px; 
}


.label {
/*  text-transform: uppercase;*/
  background: transparent;
  color: #666;
  font-weight: normal;
}


.not-aligned {
  color: #933;
}

.controls {
  padding-top: 10px;
}


/* Temp header */
#header {
  background: #004978 url('/static/img/banner.png') no-repeat 0 0;
  border-bottom: solid 1px #0079af;
  height: 70px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 180px;
}


#footer {
  background: black;
  position: fixed;
  bottom:0;
/*  margin-top: -150px;*/
  height: 30px;
  clear: both;
  padding-top: 13px;
  width: 100%;
}


h2 {
  color: #999;
  font-size: 18px;
}

.wrapper-heading {
  color: #666;
  margin: 15px 0;
}


.table {
  background: #1e1e1e;
}

.table th td, .table thead tr, .table tr th {
  background: #4d4d4d;
  color: #ccc;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.table tr td {
  border: none;
  font-size: 12px;
}

.table tr:nth-child(even) {
  background: #333;
}

.attr_block {
  background: #1e1e1e;
  color: #ccc;
  padding-bottom: 15px;
  margin: 0;
}



.v01 h3, .v01 .block h3,
.v02 h3, .v02 .block h3 {
  background: #4D4D4D; 
  border-top:#666666 solid 1px; 
  -webkitbox-shadow: 1px 1px #000000; 
  -mozbox-shadow: 1px 1px #000000; 
  padding: 0px 10px 0px 10px; 
  letter-spacing: 3px; 
  font-size:9px; 
  font-weight: 600;
  line-height: 18px;
  color:#CCCCCC;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.block h3 {
  white-space:nowrap;  
}

.tab-pane .row-fluid {
  padding: 0;
}

.v01 .block, .v02 .block { 
  background:#1E1E1E;
/*  padding: 5px 30px 5px 10px; */
  color:#CCCCCC; 
  font-size:12px; 
  font-weight:300; 
  line-height:20px;
  margin-bottom: 20px;
}

.v01 .block div,
.v02 .block div {
  margin: 0;
/*  margin: 5px 30px 5px 10px;*/
}

.attr_block p {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.map_block {}

.map_block img {
  border: solid 1px #333;
  width: 90%;
  margin: 15px auto;
}

ul.nav {margin: 0;}
/*ul.nav-tabs > li.active a {
    background-color:#333;
}
*/
ul.nav {
/*  border-bottom: #999 solid 1px;*/
  margin-top: 15px;
}

/*ul.nav li a:link {
  color: #666;
}*/

.nav-tabs, .nav {
  border-bottom: none;
}

.nav-tabs > li {
  border: none;
  margin-bottom: 0;
}


.nav-tabs li a {
  background: #1A1A1A;
  /*-webkit-box-shadow: 1px 1px #333333 inset;
  -moz-box-shadow: 1px 1px #333333 inset;
  box-shadow: 1px 1px #333333 inset;*/  
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 30px 5px 10px;
  font-family: Signika;
  font-size: 13px;
  color: #808080;
  letter-spacing:1px;
  margin-right:10px;
  margin-bottom: 0;
  /*width:115px;*/
}

.nav-tabs li.active a:link { 
  border: none;
  background-color: #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), color-stop(80%,#808080), color-stop(80%,#808080), to(#333333)); 
  background-image: -moz-linear-gradient(center top, #999999 0%, #808080 80%, #808080 80%, #333333 100%);
  /*-webkit-box-shadow: 1px 1px #999999 inset;
  -moz-box-shadow: 1px 1px #999999 inset;
  box-shadow: 1px 1px #999999 inset;*/
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
/*  text-shadow: 1px 1px 0px #333333;*/
  padding:5px 30px 5px 10px;
  font-family: Signika;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing:1px;
  margin-right: 10px;
  margin-bottom:0;
  /*width:115px;*/
  border: none;
}

.nav-tabs li a:hover {
  background-color: #1A1A1A;
  color:#999;
  text-shadow:none;
  border-color: transparent;
}
.nav-tabs li a:active {color:#999; background:#FFF;}

.btn-footer {
  font-family: Signika Negative;
  color: #999999;
  font-size:11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right:10px;
  padding-bottom:4px;
  padding-left:10px;
  text-decoration: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border: solid #808080 1px;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), color-stop(75%,#333333), color-stop(75%,#333333), to(#2e2e2e));
  background: -moz-linear-gradient(center top, #3d3d3d 0%, #333333 75%, #333333 75%, #2e2e2e 100%);
}

.btn-footer:hover {
  background: #666666; border: solid #FFFFFF 1px; color: #FFFFFF;
}

.btn-footer:active {
  font-family: Signika Negative;
  color: #F2F2F2;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: solid #B3B3B3 1px;
  background: #666666;
}

.modal-ooi {
  background: #1E1E1E;
  border: solid 1px #333;
}

.modal-ooi .close {
  color: #444;
  opacity: 1;
  text-shadow: none;
}

.modal-ooi h1 {
  font-size:15px;
  line-height: 15px;
}

.modal-ooi .modal-header, 
.modal-ooi .modal-body,
.modal-ooi .modal-footer {
  background: #1E1E1E;
  border-color: #333;
}

.modal-ooi .modal-footer {
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

.modal-ooi .modal-footer .loading {
  display:none;
}


/*.modal-ooi .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: none;
  background: transparent;
  
  opacity: 0.0;
  filter: alpha(opacity=0);
  
  border:none;
  box-sizing:none;
}
.modal-ooi .close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
*/


.modal-backdrop.fade {
  opacity:0.1;
}

.modal-select {
  font-size: 13px;
}




#event-types tbody tr:nth-child(even) td {
  background:#1e1e1e;
}

#event-types tbody tr:nth-child(odd) td {
  background:#333333;
}

.error {
  margin: 15px 0;
}

.error h1 {
  line-height: 24px;
}

.error-buttons {
  margin: 15px 0;
}

.error-trace {
  color: #999;
  border-top: solid 2px #222;
  padding: 15px 0;
  margin: 20px 0;
}

/* support for right-sided dropdowns,
 * added in bootstrap 2.0.2 */
.pull-right .dropdown-menu:after {
  left: auto;
  right: 21px;    /* adjusts the tip of the pointer, this is custom for the
                     help menu but needs adjustment on a per use basis */
}
.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}

/* link colors in dropdowns
 * @TODO: too specific of a selector
 */
.dropdown-menu .btn-navigation-plain {
  color: inherit;
}

/* Version modal overlay specific settings */
#version-overlay {
  text-align: left;
}

/* User Profile modal has different form requirements */
#user-profile-overlay fieldset {
  margin-top: 0px;
}

#user-profile-overlay .control-group {
  margin-bottom: 0px;
}

#user-profile-overlay .control-label {
    padding-top: 9px;
}

#user-profile-overlay input {
  width: 90%;
}

#user-profile-overlay .bbf-object {
  margin-left: -180px;
}

#user-profile-overlay #variables ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;    /* otherwise help blocks take up vertical */
}

#user-profile-overlay #variables ul li input {
  width: inherit;
  margin: 0px;
  padding: 0px;
}

#user-profile-overlay #variables ul li label {
  display: inline-block;
  margin: 5px;
}

#user-profile-overlay legend {
  margin-bottom: 0px;
  border-bottom-width: 0px;

}

#user-profile-overlay legend + .control-group {
  margin-top: 0px;
}

#user-profile-overlay .control-group > .controls:first-child {
  padding-top: 0px;
}

#user-profile-overlay form {
  margin-bottom: 0px;
}

#user-profile-overlay form.form-inline {
  margin-bottom: 5px;
}

#user-profile-overlay form[name='phones'] input[name="phone_number"] {
  width: 100px;
  margin-right: 5px;
}

#user-profile-overlay form[name='phones'] select[name="phone_type"] {
  width: 100px; 
  margin-right: 5px;
}

#user-profile-overlay form[name='phones'] input[name="sms"] {
  width: inherit; 
  margin: 0px 5px;
}

#user-profile-overlay .bbf-del {
  margin-top: 5px;
}
