body {
  background-color: #ccc;
}

#header {
  background: #004978 url('/static/img/lca-header.png') no-repeat 0 0;
  height: 72px;
}

#container {
  margin-top:100px;
}

#marine-facilities-container {
  display:none;
}

.page-title {margin-bottom: 20px}

/*.test {background: #ccc;}*/
/*.test2 {background: #999;}*/


#observatory-modal {
  width:900px;
  margin-left:-450px;
  padding:20px;
}

.viewcontainer h1 {
  font-size: 24px;
}

section.wrapper {
  border: solid 1px #ccc;
  background: #fff;
  padding: 10px;
  margin: 30px 0 0;
}

section.wrapper h3.wrapper-heading {
  background: #ccc;
  font-size: 11px;
  margin: -25px 0 10px 0;
  padding: 0 15px;
/*  position: relative;*/
  height: 24px;
  line-height: 24px;
/*  display: inline;*/
  text-transform: uppercase;
}

.e-borders {
  background: white;
  border: solid 1px #ddd;
}

.e-borders table {
}

.e-border h3 {
  font-size: 14px;
  font-weight: normal;
}

table tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #eee  ;
}



.command, .command-output {
  border: solid 1px #ccc;
  background: white;
  margin: 15px 0;
  padding: 15px;
}

.invisible {
    display:none;
}
