body {
  background: #eee;
}

#header {
  background: #004978 url('/static/img/lca-header.png') no-repeat 0 0;
  height: 72px;
}

#container {
  margin-top:100px;
}

#marine-facilities-container {
  display:none;
}

.page-title {margin-bottom: 20px}

/*.test {background: #ccc;}*/
/*.test2 {background: #999;}*/


#observatory-modal {
  width:900px;
  margin-left:-450px;
  padding:20px;
}

.e-borders {
  background: white;
  border: solid 1px #ddd;
}

.e-borders table {
}

.e-border h3 {
  font-size: 14px;
  font-weight: normal;
}

table tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #eee  ;
}