/*.row-fluid:after {
  clear: none;
}
*/
html, body {
  height: 100%;
}


/* New Dashboard styles to be integrated */

.placeholder {
  background: #000;
  opacity: .2;
  text-transform: uppercase;
  font-size: 10px;
}

/*
= = = = = = = = = = = = = = = = = = = = 
  BASIC LAYOUT STRUCTURE
= = = = = = = = = = = = = = = = = = = = 
*/

#xheader {
  height: 69px;
  border-bottom: solid 1px black;
  background: #004978 url('/static/img/banner.png') no-repeat 0 0;
  z-index: 15;
}

#top {
/*  
  width: 100%;
  position: fixed;
  top: 70px;
*/  
  background: #333;
  height: 35px;
  border-top: solid 1px #9a9a9a;
  border-bottom: solid 1px #000;
  z-index: 2;
}


#main {
  background:;
  position: absolute;
  top: 107px;
  left: 0;
  height: 100%;
  width: 100%;
}

#left {
/*
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 107px;
*/
/*  width: 100%;*/
  background: #1e1e1e;
  border-right: solid 1px #000;
  height: 100%;
  min-height: 100%;
  z-index: 1;
  float: left;
}

#left h3 {
  margin: 0;
  padding: 0;
  background: #4d4d4d;
  color: #D1D3D4;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 10px;
  font-weight: 400;
  padding: 5px 10px;
  border-top: solid 1px #9a9a9a;
  border-bottom: solid 1px #000;
/*  border-right: solid 1px #000;*/
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px #000000;
}

#content {
/*  
  position: absolute;
  margin-left: 201px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  top: 110px;
  left: 201px;
*/
  height: 100%;
  margin-left: 201px;
}

#map_canvas {
  width: 100%;
  height: 400px;
/*  width:100%;
  height:50%;*/
}

#map_canvas img {
  max-width: none;
}


/*
= = = = = = = = = = = = = = = = = = = = 
  TOP ELEMENTS
= = = = = = = = = = = = = = = = = = = = 
*/

#view-controls {
/*  float: left;*/
/*  width: 200px;*/
}

#xsearch {
  float: left;
  width: 200px;
}

/*
= = = = = = = = = = = = = = = = = = = = 
  SIDE
= = = = = = = = = = = = = = = = = = = = 
*/

.btn-view {
  text-shadow: -1px -1px 1px #000000;
  margin: 0px;
  border-top: solid 1px #666;
  border-left: solid 1px #666;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  color: #d3d3d3;
  text-transform: uppercase;
  width: 48%;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  height: 42px;
  background: -moz-linear-gradient(top,  #4d4d4d 0%, #333333 50%, #272727 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(50%,#333333), color-stop(100%,#272727)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4d4d4d 0%,#333333 50%,#272727 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4d4d4d 0%,#333333 50%,#272727 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4d4d4d 0%,#333333 50%,#272727 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4d4d4d 0%,#333333 50%,#272727 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
}

.btn-view.active {
  color: #fff;
  background: #2d658c; /* Old browsers */
  background: -moz-linear-gradient(top,  #2d658c 0%, #034971 50%, #09273c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d658c), color-stop(50%,#034971), color-stop(100%,#09273c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2d658c 0%,#034971 50%,#09273c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2d658c 0%,#034971 50%,#09273c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2d658c 0%,#034971 50%,#09273c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2d658c 0%,#034971 50%,#09273c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d658c', endColorstr='#09273c',GradientType=0 ); /* IE6-9 */
}

.btn-view.active:hover {
  background: #6692a9; /* Old browsers */
  background: -moz-linear-gradient(top,  #6692a9 0%, #2d658c 50%, #034971 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6692a9), color-stop(50%,#2d658c), color-stop(100%,#034971)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6692a9 0%,#2d658c 50%,#034971 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6692a9 0%,#2d658c 50%,#034971 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6692a9 0%,#2d658c 50%,#034971 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #6692a9 0%,#2d658c 50%,#034971 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6692a9', endColorstr='#034971',GradientType=0 ); /* IE6-9 */
}


.btn-view:hover {
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #4d4d4d 50%, #272727 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(50%,#4d4d4d), color-stop(100%,#272727)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#4d4d4d 50%,#272727 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#4d4d4d 50%,#272727 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#4d4d4d 50%,#272727 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#4d4d4d 50%,#272727 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
  color: #fff;
}

/*
= = = = = = = = = = = = = = = = = = = = 
  MAP FILTER CSS MASKS
= = = = = = = = = = = = = = = = = = = = 
*/


#map-filter #data-filter {
  display: none;
}

#map-filter.data-filter #data-filter {
  display: block;
}

#map-filter.data-filter #asset-filter {
  display: none;
}


#select-facility {
  background: #222;
  color: #666;
  border-radius: 7px;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
}

#spinner {
  margin-top: 50px;
}

