/*
ooinet-04.css  proto=ooinetLayout04.css
by Peter Rosti
last edited 05-29 04-22 04-14 04-09 03-06 03-05 2014-03-03

This layout uses calc() to set height and width values
Note: calc must have spaces in the formula, to accomodate IE bug,
like this: calc(100% - 100px), instead of like this: calc(100%-100px)
DIVS in their native state stretch in WIDTH but not in HEIGHT, so heights have to be handled very specifically for calculated
heights to work at all.
height:100% on both HTML and BODY are REQUIRED because percentages cascade from ancestor to descendant. Even leaving it off html
and just putting it on body only will cause the height calculations contained within the body to fail.
*/

html, body {
 height:100%;
 font-family: Arial;
 font-size: 12px; 
 background-color: #DBDEE5;
}

body {
 position:relative;
 margin:0px;
 padding:0px;
}

a:focus, object:focus {outline:none; -moz-outline-style:none}

#header2 {
 position:fixed;
 top:0px;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:72px;
 z-index: 50;
}

#header2 img[id=img_a] {
 position: absolute;
 left: 0px;
 top: 0px;
 z-index: -1;
 height: 72px;
 width: 100%;
}

#adminMenu {
  color:white;
  position:absolute;
  bottom:0px;
  right:0px;
  margin:0px 5px;
  width:800px;
  height:20px;
  text-align:right;
  z-index:4;
  overflow:hidden;
  'outline:1px solid #F00;
}

.adminMenuTab {
  display:inline-block;
    color:#fff;
  height:19px;
  padding:0px 8px;
  max-width:120px;
  line-height:19px;
  text-align:center;
  z-index:8;
  /* background-color:#3b5e7e;
  border-color:#5687AF;
  border-style:solid;
  border-width:1px 1px 0px 1px;
  border-radius:4px 4px 0px 0px; */
}

.adminMenuTab:hover {
  color:#ABCEEA;
  cursor:pointer;
  cursor:hand;
}

#headerLinks {
  color: white;
  position: absolute;
  bottom: 3px;
  right: 0px;
  width: 400px;
  height: 20px;
  line-height: 20px;
  z-index: 4;
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#headerLinks a {
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  margin-right: 5px;
}

#headerLinks a:after {
  margin-left: 5px;
  color: #004972;
  content: "|";
}

#mainSubheader {
 background-color: #DBDEE5;
 position:fixed;
 top:72px;
 left:275px;
 margin:0px;
 padding:0px;
 width:calc(100% - 275px);
 height:32px;
 z-index:0;
 display:block;
}

#main {
 position:absolute;
 top:104px;
 /*top:141px;*/
 left:275px;
 padding:0px;
 margin:0px;
 background-color: transparent;
 /* background-color: #DBDEE5; */
 height:calc(100% - 104px);
 /*height:calc(100% - 141px);*/
 width:calc(100% - 275px);
 z-index:0;
 display:block;
 overflow-x:hidden /* required to prevent horizontal scroll */
 overflow:auto; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
 otherwise there will be 2 vertical scroll bars (might be a browser bug). */
}

#mainFull {
 position:absolute;
 top:72px;
 left:275px;
 padding:0px;
 margin:0px;
 height:calc(100% - 72px);
 width:calc(100% - 275px);
 z-index:0;
 display:none;
 overflow:auto;
}

 a:link, a:visited {
   color: #000;
   text-decoration: none;
   		font-weight:normal;
 }

/* legacy facepage */

#legacyFacePage {
  position: relative;
  width: 100%;
  background: #384d68;
}

a.paginate_disabled_previous, a.paginate_disabled_next {
    text-decoration: none;
    background: none repeat scroll 0% 0% #96A8BC;
    cursor: not-allowed;
    text-shadow: none;
    margin-right: 3px;}

/* salt.css and bootstrap tabbed navigation overrides */
.nav-tabs li a:hover, .nav-tabs li.active a:link, .nav-tabs > li > a, 
.nav-tabs li a, .nav-tabs > li, .nav-tabs, .nav, ul.nav, ul.nav {text-align: center}
ul.nav {margin: 0;}
ul.nav {margin-top: 15px;}
.nav-tabs, .nav {border-bottom: none;}
.nav-tabs > li {border: none;margin-bottom: 0;}
.nav-tabs li a {
  background-color:#FFF;
  border: none;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  padding: 5px 30px 3px 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #444;
  letter-spacing:0px;
  margin-right:10px;
  margin-bottom: 0;
}
.nav-tabs > li > a {line-height: 16px; padding: 4px 14px;}
.nav-tabs li.active a:link { 
  border: none;
  background: #384d68; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  border:none;
  padding: 4px 14px;
  font-size: 13px;
  color:#BCBEC0;
  line-height: 16px;
  letter-spacing:0px;
  margin-right: 10px;
  margin-bottom:0;
  color: #FFF;
  text-shadow: none;
}
.nav-tabs li a:hover {
  border: none;
  background-color: #bcc1ce;
  color: #000;
}

.row-fluid .span8 {width: 67%;}
.v02 .block h3 {
	padding: 5px 6px 5px 5px;
	line-height: 11px;
	background: #7b99b5; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #7b99b5 58%, #607187 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(58%,#7b99b5), color-stop(100%,#607187)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #7b99b5 58%,#607187 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #7b99b5 58%,#607187 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #7b99b5 58%,#607187 100%); /* IE10+ */
	background: linear-gradient(135deg,  #7b99b5 58%,#607187 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b99b5', endColorstr='#607187',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
.v02 .block {
	margin:0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ffffff 0%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
.tab-content {
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #384D68;
    background: none repeat scroll 0% 0% #FFF;
}

#dynamic-container {  /* same as main */
  position:relative;
  /*
  top:0px;
  left:0px;
  */
  padding:0px;
  margin:0px;
  /* height:calc(100% - 104px); */
  height: 100%;
  min-height: 300px;
  /* width:calc(100% - 275px); */
  width: calc(100% - 5px);
  z-index:8;
  overflow:auto; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
  otherwise there will be 2 vertical scroll bars (might be a browser bug). */
  background-color: transparent;
  /* background-color: #DBDEE5; */
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}

#left2 {
 background-color: #384d68;
 position:absolute;
 top:104px;
 left:0px;
 height:calc(100% - 104px);
 width:275px;
 overflow: auto;
 z-index: 10;
}

#leftSubheader {
 background-color: #dbdee5;
 position:fixed;
 top:72px;
 left:0px;
 margin:0px;
 padding:0px;
 width:275px;
 height:32px;
 z-index:0;
}

#upperMain {
 position:absolute;
 top:0px;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:60%;
 z-index:4;
 overflow:auto;
}

#lowerMain {
 position:absolute;
 top:60%;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:40%;
 background-color:#DBDEE5;
 z-index:4;
 /* overflow:auto; */
 overflow:hidden;
}

.innerMain {
  position:relative;
  margin:0px;
  padding:0px;
  width:100%;
  z-index:4;
  overflow:auto;
}

#upperLeft {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

#middleLeft {
  position:absolute;
  top:33%;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

#lowerLeft {
  position:absolute;
  top:66%;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

.innerLeft {
  position:relative;
  margin:0px;
  padding:0px;
  width:100%;
  z-index:4;
  overflow:auto;
}

#searchBar {
  position: absolute;
  top: 20px;
  left: 0px;
}

#navLeftMinimizeArrow{
  position: absolute;
  left: 250px;
  top: 104px;
  /*width: 14px;height: 14px;*/
  z-index: 1000;
}

#navLeftMinimizeArrow #searchChevron{
  cursor: pointer;
  width: 20px; height: 25px;
  background: url('../img/leftMinimizeArrow.png') no-repeat center;
  right:0px;
  background-position: 5px 6px;
}

#navLeftMinimizeArrow.collapsed {
  top: 82px;
  left: 275px;
  background-color:#384d68;
  color:#fff;
  line-height: 16px;
  padding: 3px 7px 3px 7px;
  border-radius: 0px 6px 0px 0px;
  margin-left:0px;
  width: 53px
  /* background-position:90%; */
  /*  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translate(0px, 9px) rotate(90deg) translate(0px, 19px);*/
}

#navLeftMinimizeArrow.collapsed #searchChevron {
	transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	position:absolute;
	top: -1px;
	right: -1px;
	background-image: url('../img/leftMinimizeArrow.png') bottom no-repeat;
	background-position:4px 0px 0px 75px;
}

#login {
 color: #abceea;
 position: absolute;
 top: 10px;
 right: 4px;
 text-align: right;
 padding: 0px;
 margin: 0px;
 width: 340px;
 height: 20px;
 z-index: 8;
 line-height: 20px;
 'outline:1px solid #000; /* temp */
}

.current-user {margin-right:6px}


/* ---------------------------------------------------------------
 TEMP USER-NAV - ALL BLUE BUTTONS TO GET THIS STYLE EVENTUALLY
--------------------------------------------------------------- */

#login a.btn-navigation {
 border-radius: 3px;
 font-size: 12px;
 font-weight: 300;
 letter-spacing: 0px;
 color: #FFF;
 padding: 6px;
 background-color:transparent;
}

#login a.btn-navigation:hover {
  text-decoration:underline;
}

/* Add margin to Bootstrap span btn group */
#login .dropdown {
 margin-left: 3px;
}

a.btn-navigation-plain {
 color: #FFFFFF;
 font-size: 11px;
 font-weight: 400;
 letter-spacing: 2px;
 padding-top: 5px;
 padding-right: 10px;
 padding-bottom: 5px;
 padding-left: 5px;
 text-decoration: none;
 text-transform: uppercase;
 border: solid transparent 1px;
}

.hamburger:before {
  content: '';
  width: 16px;
  height: 20px;
  left: 8px;
  display:block;
  position: absolute;
  background-image: url(/static/img/salt_sprite.png);
  background-position: -180px -180px;
}

.hamburger:hover:before {
  content: '';
  width: 16px;
  height: 20px;
  left: 8px;
  display:block;
  position: absolute;
  background-image: url(/static/img/salt_sprite.png);
  background-position: -240px -180px;
}

.btn-group.open .hamburger:before {
  background-position: -240px -180px;
}

/* EDIT RESOURCE - HAMBURGER ICON */

#searchResultsTabContainer a.btn {
	display: inline-block;
	padding: 3px 12px;
	margin:2px auto auto auto;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
	color: #333;
	background-color: #F5F5F5;
	/* background-image: linear-gradient(to bottom, #FFF, #E6E6E6); */
	border-image: none;
	border-radius: 4px 4px 0px 0px;
	border-right:1px #e6e6e6 solid;
	border-left:1px #e6e6e6 solid;
	border-top:1px #e6e6e6 solid;
	border-bottom: none;
}
#searchResultsTabContainer a.btn:hover {
	display: inline-block;
	cursor: pointer;
	background-color: #ececec;
	border-radius: 4px 4px 0px 0px;
	border-right:1px #e6e6e6 solid;
	border-left:1px #e6e6e6 solid;
	border-top:1px #e6e6e6 solid;
	border-bottom: none;
}
searchResultsTabContainer .pull-right {
	float: right;
	margin-right: 3px;
}

.pull-right .dropdown-menu {
	left: auto;
	right: 0px;
}
#searchResultsTabContainer .hamburger:before{
	content: "";
	width: 16px;
	height: 20px;
	left: 8px;
	display: block;
	position: absolute;
	background-image: url('/static/img/salt_sprite.png');
	background-position: -180px -176px;
}
#searchResultsTabContainer .hamburger:hover:before{
  content: '';
  width: 16px;
  height: 20px;
  left: 8px;
  display:block;
  position: absolute;
  background-image: url(/static/img/salt_sprite.png);
  background-position: -240px -176px;
}



.btn-group.open .hamburger:before {background-position: -240px -180px;}
#searchResultsTabContainer .btn-group{height:28px}
.btn-group{height:20px}

ul.dropdown-menu {
	background: -moz-linear-gradient(left, #384d68 0%, #7b99b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#384d68), color-stop(100%,#7b99b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #384d68 0%,#7b99b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #384d68 0%,#7b99b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #384d68 0%,#7b99b5 100%); /* IE10+ */
	background: linear-gradient(to right, #384d68 0%,#7b99b5 100%); /* W3C */
	padding:4px 0px 4px 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:10px;
	font-weight:400;
	letter-spacing:1px;
	color:#FFF;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin:0px;
	list-style: none outside none;
	box-shadow: none;
	border: 0px solid #384d68;
	border-radius: 0px 0px 0px 6px;
	box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */

	/* background-clip: padding-box; box-shadow: 0px 5px 10px rgba(0, 0, 255, 0.2); */
}
ul.dropdown-menu li {
 padding: 0px 0px 0px 3px;
 font-size: 11px;
 text-transform: uppercase;
 cursor: pointer;
 color: #FFF;
 box-shadow: none;
}

ul.dropdown-menu li:hover {
 color: #fff;
 background: #00aedb;
 text-shadow: none;
 padding-right:3px;
}

.edit-group label, .edit-group select, label, input, button, select, textarea {
    font-weight: 300;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

/* ---------------------------------------------------------------
 END TEMP USER-NAV
--------------------------------------------------------------- */

/* left sidebar accordion */
.accordionContainer {
  position: absolute;
  top: 28px;
  left: 0px;
  padding-top: 0px;
  color: #fff;
  font-family: Arial;
  font-size: 12px; 
  width: 100%;
  height:calc(100% - 28px);
  display:block;
  overflow: auto;
}

.spatialDetails .accordionContainer {
  height: 272px;
}

.accordionControl {
  position: relative;
}

.accordionLabel {
  color: #FFF;
  padding: 0px;
  display: inline-block;
}

.leftAccordionContents {
  margin-left: 13px;
  /*position: relative;
  margin: 4px 0px 6px 16px;
  width: 238px;*/
}

.leftAccordionContents.align_left {
  margin-left:0;
}

.list_regions, .list_sites, .list_facilities, .listDataTypes, .listPlatformTypes{
  margin-left: 13px;
}

.list_sites a, .list_facilities a {
  color: #fff;
}

#saveButtons {
  position: absolute;
  top: 0px;
  right: 17px;
}

.navButton:hover {
  border: 1px solid #fff;
}

.navButton {
height: 18px;
line-height: 12px;
margin: 5px 7px 5px auto;
color: #FFF;
font-family: Arial;
font-size: 12px;
float: right;
border-radius: 5px;
border: 1px solid #9DDFF2;
background-color: #7B99B5;
}

.textRight {
  height: 18px;
  line-height: 12px;
  margin: 5px 7px 5px auto;
  /*text-align: right;*/
  background-color: #00aedb;
  color: #000;
  font-family: Arial;
  font-size: 12px; 
  overflow: none;
  float: right;
  border-radius: 5px;
  border: none;
}

#customSearchName {
  position: absolute;
  z-index: 8;
  display: none;
  top: 0px;
  left: 5px;
}

#customSearchName .customName {
  height: 16px;
  line-height: 15px;
  padding: 0px 2px;
  margin: 5px 5px 0 0;
  font-family: Arial;
  font-size: 12px;
}

#saveConfiguration {
  margin-top: 2px;
  position: absolute;
}

#saveConfiguration {
  display: none;
}

.leftAccordion {
  background-color: #3b5e7e;
  background: -webkit-gradient(linear, left top, right top, from(#5687AF), to(#3B5E7E));
  background: -webkit-linear-gradient(left, #5687AF, #3B5E7E);
  background: -moz-linear-gradient(left, #5687AF, #3B5E7E);
  background: -o-linear-gradient(left, #5687AF, #3B5E7E);
  padding: 4px 5px 4px 4px;
  /*width: 217px;*/
  margin-bottom: 5px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #5687AF;
  border-left: 0px;
  border-radius: 7px;
}

#booleanForm form {margin: 0px;}
#boolean_expression span {line-height:10px}
#booleanForm div.filter-item-holder {width: 162px; margin-left:0px}
#booleanForm div.filter-item {font-size: 10px; margin: 0px 0px 0px 0px; padding: 2px 0px 6px;}
#booleanForm select.booleanSelectContainer  {position: relative;left: 0px;top: 0px;border: 1px solid #384D68;-webkit-appearance: none;  -moz-appearance: none; background: #7e99b7 url(../img/left_select_arrow.png) no-repeat 100% center;width: 162px; text-indent: 0.01px; text-overflow: ""; color: #FFF;
border-radius: 3px;height: 18px;line-height: 16px;padding: 0px;margin:2px 0px 4px;color: #FFF;font-family: Arial;font-size: 12px;background-color: -webkit-gradient(linear, left top, right top, from(#88A9CC), to(#7890AC));background-color: -webkit-linear-gradient(left, #88A9CC, #7890AC);
background-color: -moz-linear-gradient(left, #88A9CC, #7890AC); background-color: -o-linear-gradient(left, #88A9CC, #7890AC);
}

#region article.leftAccordion {
  padding: 1px;
  /*width: 217px;*/
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #5687AF;
  border-left: 0px;
  border-radius: 4px;
}

.leftAccordion#spatial {
  padding: 4px;
  line-height: 16px;
}

.spatialDuration, .latlong {
  height: 16px !important;
  color: #969fa6;
  padding:0px;
}

.spatialDuration {
  width: 23px;
  text-align: center;
}

.latlong {
  width: 50px;
}

input.latlong {
	height: 16px;
	line-height: 12px;
	padding: 1px;
	margin-top: 0px;
	font-size: 12px;
}

.expandHide {
  display:inline-block;
}

.accordionTitle {
  cursor: pointer;
  height:12px;
  line-height:12px;
}

 input.keyword {
  width: calc(100% - 58px);
  margin-left: 4px;
  margin-bottom: 2px;
}

input.booleanInput {
  width: calc(100% - 58px);
  margin-left: 4px;
  margin-bottom: 2px;
}

#spatial input {
  height: 17px;
  padding: 0px;
  margin-top: -1px; /* necessary for alignment of spatial input alignment */
}

/* necessary for alignment of spatial input alignment */
input#south, input#west, input#north, input#east, input#radius {margin-top:-2px}
span#fromLabel {line-height:20px; margin:0px 0px -6px 0px; padding:0px}
span#veLabel {line-height:20px; margin:5px 0px -6px 0px; padding:0px}
span#toLabel {line-height:20px; margin:2px 0px -6px 0px; padding:0px}
p#radiusLabel {line-height:22px; margin:1px 0px -7px 0px; padding:0px}

select.dateMenu {width:55px;}
select.dateMenu.day {width:48px;}
select.dateMenu.hour {width:56px;}

.accordionContainer input {
  height: 16px;
  line-height: 15px;
  padding: 0px 2px;
  margin: 0px;
  font-family: Arial;
  font-size: 11px; 
}

.accordionContainer select {
  height: 16px;
  line-height: 16px;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  font-size: 11px; 
}

.leftNaviSelectContainer {
  position: relative;
  width: 160px;
  height: 16px;
  padding: 0px;
  border: 1px solid #384D68;
  border-radius: 3px;
  margin-bottom: 4px;
}

#booleanForm form {margin: 0px;}
#boolean_expression span {line-height:10px}
#booleanForm div.filter-item-holder {width: 162px; margin-left:0px}
#booleanForm div.filter-item {font-size: 10px; margin: 0px 0px 0px 0px; padding: 2px 0px 6px;}
#booleanForm select.booleanSelectContainer  {position: relative;left: 0px;top: 0px;border: 1px solid #384D68;-webkit-appearance: none;  -moz-appearance: none; background: #7e99b7 url(../img/left_select_arrow.png) no-repeat 100% center;width: 162px; text-indent: 0.01px; text-overflow: ""; color: #FFF;
border-radius: 3px;height: 18px;line-height: 16px;padding: 0px;margin:2px 0px 4px;color: #FFF;font-family: Arial;font-size: 12px;background-color: -webkit-gradient(linear, left top, right top, from(#88A9CC), to(#7890AC));background-color: -webkit-linear-gradient(left, #88A9CC, #7890AC);
background-color: -moz-linear-gradient(left, #88A9CC, #7890AC); background-color: -o-linear-gradient(left, #88A9CC, #7890AC);
}

.leftNaviNarrowSelectContainer {
position: relative;
height: 16px;
padding: 0px;
border: 1px solid #384D68;
border-radius: 3px;
margin-bottom: 4px;
display: inline-block;
}

.leftNaviNarrowSelectContainer {
  width: 40px;
  top: 9px;
  height:16px;
}

.leftNaviNarrowSelectArrow {
  width: 40px;
}

.leftNaviSelectArrow {
   width: 160px;
}

.leftNaviSelectArrow, .leftNaviNarrowSelectArrow{
  pointer-events:none;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 16px;
  background: transparent;
  background: url('../img/left_select_arrow.png') no-repeat right;
}

.leftNaviSelectContainer select {
  width: 160px;
}

.leftNaviNarrowSelectContainer select {
  width: 40px;
}

.leftNaviSelectContainer select, .leftNaviNarrowSelectContainer select{
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0px;  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  height: 16px !important;
  padding: 0px;
  color: #fff;
  font-size:12px;
  line-height: 16px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#88A9CC), to(#7890AC));
  background: -webkit-linear-gradient(left, #88A9CC, #7890AC);
  background: -moz-linear-gradient(left, #88A9CC, #7890AC);
  background: -o-linear-gradient(left, #88A9CC, #7890AC);
}

input.argument2 {
  height: 18px;
  border-top:#7D7D7D 1px solid;
  border-left:#7D7D7D 1px solid;
  border-bottom:#FFFFFF 1px solid;
  border-right:#FFFFFF 1px solid;
  background: #cdcdcd;
  padding: 0px 5px;
  font-size: 11px;
  font-weight: 500;
  width: 150px;
  color: #000;
}

.topSearchRadius {
  display: none;
}

input.noPlaceholderRadius {
  display: none;
}

.milesKilosMenu {
  display: none;
}

.leftAccordionContents select option {
  background-color: #88A9CC;
}

.leftAccordionContents h5 {
  line-height: 8px;
  font-size: 12px;
}

.labelThrough {
  display: block;
  margin:0px
}

.arrowDown { /* not called in another file */
  cursor: pointer;
  width: 0px;
  height: 2px;
  display: inline-block;
  padding: 0px;
  margin-bottom: -1px;
  margin-right: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fff;
}

.arrowDown.blue {
  position: absolute;
  left: 6px;
  top: 11px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #3e6586;
}

.arrowRight {
  cursor: pointer;
  width: 0px;
  height: 0px;
  display: inline-block;
  padding: 0px;
  margin-left: 2px;
  margin-right: 3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #fff;
}

.arrowRight.blue {
  position: absolute;
  left: 6px;
  top: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #3e6586;
}

#searchBarContainer {
  background-color: #3b5e7e;
  padding-left: 10px;
  border-radius: 3px;
}

#searchBarContainer h5 {
  color: #FFF;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-size:12px;
}

#mySearchesTabContent {
  padding-top: 20px;
}

.list_mysearches {
  list-style: none;
}

.list_mysearches a {
  color: #fff;
}

/* instrument view */

.instrument_list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.accordionDetailContainer {
  margin-top: -5px;
}

.vertical_extents {
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 0;
}

.select_all {
  margin-bottom: 10px;
}

.twoNavTabs {
  position: absolute;
  left: 5px;
  bottom: 0px;
  width: calc(100% - 5px);
}

.twoNavTab {
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #FFF;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.twoNavTabs .active {
  background-color: #384d68;
  color: #fff;
}

.resourceLink {
  cursor: pointer;
  display:inline-block;
  margin-left: 3px;
  font-weight: normal;
}

.resourceLink:hover{
  font-weight: bold;
}

.mapButtonSplit {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 45px;
  background: url('../img/map-button-02-03.png');
}

.mapButtonFull {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 88px;
  background: url('../img/map-button-01-03.png');
}

.mapButtonHidden {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 3px;
  background: url('../img/map-button-03-03.png');
}

#mapBounds2 {
  background: transparent;
}

.lowerMainContentContainer {
  position:absolute;
  top:28px;
  left:0px;
  height:calc(100% - 27px);
  width:100%;
  overflow:auto;
  background:#384d68;
}
#searchResultsContainer .jspVerticalBar {right: 4px;}
#searchResultsContainer .jspTrack {background: none;}
#searchResultsContainer .jspDrag {background: #88A9CC;}
.accordionContainer .jspVerticalBar {right: 4px;}
.accordionContainer .jspTrack {background: none;}
.accordionContainer .jspDrag {background: #88A9CC;}
.accordionContainerWhite {
  color: #000;
  position: relative;
  width:  calc(100% - 6px);
  margin: 3px;
  top: 0px;
  left: 0px;
  padding: 0px;
  overflow-x: hidden;
  z-index:8;
}
.accordionWhiteChevron {
  position: absolute;
  right: 22px;
  top: 7px;
}

.accordionWhitePin {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 14px;
  height: 14px;
  background: url('../img/tack1.png');
}

.pinned .accordionWhitePin {
  background: url('../img/tack2.png');
}

.icon-chevron { /* bootstrap */
  background-position: -288px -120px;
}

.collapsed .icon-chevron { /* bootstrap */
  background-position: -313px -119px;
}

.accordionWhite {
  position: relative;
  width: 100%;
  margin: 0px;
  margin-bottom: 3px;
  border: 0px solid #DBDEE5;
  border-radius: 5px;
  background-color:#FFFFFF;
}

/* regions */
.map-ul a {color: #fff;}

.accordionWhiteLabel {
  padding: 5px 8px;
  padding-left: 18px;
  border-radius: 5px;
  color:#3e6586;
  font-size:14px;
  font-weight: 300;
  background: rgb(249,249,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(221,221,221,1) 53%, rgba(214,214,214,1) 55%, rgba(239,239,239,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(53%,rgba(221,221,221,1)), color-stop(55%,rgba(214,214,214,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /*   Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* Opera 11.10+  */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}

.accordionWhiteLabel:hover {
	background: rgb(234,234,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(216,216,216,1) 51%, rgba(206,206,206,1) 51%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(51%,rgba(216,216,216,1)), color-stop(51%,rgba(206,206,206,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}

.accordionContents {
  padding: 5px;
  background: #fff;
}

/* admin */
.softwareNested, .modelNested, .marineSiteNested, .physicalNested, #lifecycleSoftware, #lifecycleDataProduct, #lifecycleModel, #lifecycleMarineSite {
  display: none;
}
.form-horizontal{padding: 20px 10px 10px;}
.form-horizontal fieldset {
    margin-top: 0px;
    width: 80%;
    border: 0px none;
    border-radius: 10px;
    padding: 0px;
    text-align: right;
}
.form-horizontal .control-group {
  display: block;
  width:60%;
  min-width:600px;
}

.form-horizontal .control-label {
  float: none;
  display: inline-block;
  width: 105px;
  vertical-align: top;
  font-size:13px
}

.form-horizontal .controls {
  margin-left: 10px;
  width: calc(100% - 130px);
  display: inline-block;
}
.controls {padding: 10px 0px 0px 0px}
#form-container .form-horizontal .controls select {width: 91.1%;}
#form-container .form-horizontal .controls input[type=checkbox] {width:42px}
#form-container .form-horizontal .controls input[type=text] {width: 88.5%; margin-left:32px}
#form-container .form-horizontal .controls input{width: 88.5%; margin-left:33px}
#form-container .form-horizontal .controls textarea {width: 88.5%;}

.form-horizontal .help-block {margin-bottom: 0;}
.help-block {color: #595959; font-style:italic}

.adminButtonGrey {
	display: inline-block;
	margin: 0 auto;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 4px 30px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF #7D7D7D #7D7D7D #FFF;
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	text-transform: capitalize;
	margin-right: 5px;
}

.adminButtonBlue {
	display: inline-block;
	margin: 0 auto;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 4px 30px;
	background-color: #3b5e7e;
	text-decoration: none;
	text-transform: capitalize;
	border: none;
	border-radius: 3px;
	margin-right: 5px;
}

.mainTabContainer {
  border-bottom: 2px solid #384d68;
  position:relative; 
  height:28px; 
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}
#createResourceOverlay .btn-save {
  right: 50%;
  top: 5px;
}

#legacyFacePageTab {
  position:absolute; 
  bottom:0px; 
  right:36px;
}

#createResourceOverlay {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 480px;
  width: 100%;
  z-index:8;
  overflow:hidden; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
  otherwise there will be 2 vertical scroll bars (might be a browser bug). */
  background-color: #F4F4F4;
}

#editResourceOverlay {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 480px;
  width: 100%;
  z-index:8;
  overflow:hidden; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
  otherwise there will be 2 vertical scroll bars (might be a browser bug). */
  background-color:#F4F4F4;
}

.editResourceForm {
  height: 100%;
  min-height: 100%;
  width: 60%;
  min-width: 600px;
  margin: 0px auto;
  background-color: none;
  border: 0px solid #efefef;
  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}

.adminHeader {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #7b99b5;
  border-top: none;
  border-bottom: none;
  height: 26px;
  width: 100%;
  padding: 5px 10px;
  color: #FFF;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  z-index: 1001;
  display: inherit;
}

.createResourceBody {
  height: 100%;
  min-height: 100%;
  width: 60%;
  min-width: 600px;
  margin: 5px auto;
  background-color: #F4F4F4;
  border: 0px solid #efefef;
  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}

.controls input, .controls textarea {
    padding: 5px;
    color: #555;
    min-height: 15px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #999;
    box-shadow: none;
    font-family: Helvetica,Arial,sans-serif Negative;
    font-size: 14px;
}

.createResourceFooter {
  position: relative;
  text-align:center;
  background-color: #F4F4F4;
  height: 36px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}
.editResourceFooter {
  position: relative;
  text-align:center;
  background-color: #F4F4F4;
  height: 36px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
}

