/*
ooinetLayout04.css
by Peter Rosti
last edited 2014-04-22

*/
#header2 {
}

#mainSubheader {
}

#main {
}

#dynamic-container {  /* DONT TOUCH THIS DIV same as main */
}

#left2 {
}

#leftSubheader {
}

#upperMain {
}

#lowerMain {
}

.innerMain {
}

#upperLeft {
}

#middleLeft {
}

#lowerLeft {
}

.innerLeft {
}