/*
1440px grid system ~ Core CSS.
20 Columns ~ Margin left: 0px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
/*  min-width: 960px;*/
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_20
{
/*  margin-left: auto;
    margin-right: auto;*/
	width: 1440px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_4_sidebar,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20 {
	display: inline;
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 20 Columns
--------------------------------------------------------------------------------*/
.container_20 .grid_1 {width: 62px;}
.container_20 .grid_2 {width: 134px;}
.container_20 .grid_3 {width: 206px;}
.container_20 .grid_4 {width: 278px;}
.container_20 .grid_5 {width: 350px;}
.container_20 .grid_6 {width: 422px;}
.container_20 .grid_7 {width: 494px;}
.container_20 .grid_8 {width: 566px;}
.container_20 .grid_9 {width: 638px;}
.container_20 .grid_10 {width: 710px;}
.container_20 .grid_11 {width: 782px;}
.container_20 .grid_12 {width: 854px;}
.container_20 .grid_13 {width: 926px;}
.container_20 .grid_14 {width: 998px;}
.container_20 .grid_15 {width: 1070px;}
.container_20 .grid_16 {width: 1142px;}
.container_20 .grid_17 {width: 1214px;}
.container_20 .grid_18 {width: 1286px;}
.container_20 .grid_19 {width: 1358px;}
.container_20 .grid_20 {width: 1430px;}

/* =Prefix Extra Space >> 20 Columns
--------------------------------------------------------------------------------*/
.container_20 .prefix_1 {padding-left: 72px;}
.container_20 .prefix_2 {padding-left: 144px;}
.container_20 .prefix_3 {padding-left: 216px;}
.container_20 .prefix_4 {padding-left: 288px;}
.container_20 .prefix_5 {padding-left: 360px;}
.container_20 .prefix_6 {padding-left: 432px;}
.container_20 .prefix_7 {padding-left: 504px;}
.container_20 .prefix_8 {padding-left: 576px;}
.container_20 .prefix_9 {padding-left: 648px;}
.container_20 .prefix_10 {padding-left: 720px;}
.container_20 .prefix_11 {padding-left: 792px;}
.container_20 .prefix_12 {padding-left: 864px;}
.container_20 .prefix_13 {padding-left: 936px;}
.container_20 .prefix_14 {padding-left: 1008px;}
.container_20 .prefix_15 {padding-left: 1080px;}
.container_20 .prefix_16 {padding-left: 1152px;}
.container_20 .prefix_17 {padding-left: 1224px;}
.container_20 .prefix_18 {padding-left: 1296px;}
.container_20 .prefix_19 {padding-left: 1368px;}

/* =Suffix Extra Space >> 20 Columns
--------------------------------------------------------------------------------*/
.container_20 .suffix_1 {padding-right: 72px;}
.container_20 .suffix_2 {padding-right: 144px;}
.container_20 .suffix_3 {padding-right: 216px;}
.container_20 .suffix_4 {padding-right: 288px;}
.container_20 .suffix_5 {padding-right: 360px;}
.container_20 .suffix_6 {padding-right: 432px;}
.container_20 .suffix_7 {padding-right: 504px;}
.container_20 .suffix_8 {padding-right: 576px;}
.container_20 .suffix_9 {padding-right: 648px;}
.container_20 .suffix_10 {padding-right: 720px;}
.container_20 .suffix_11 {padding-right: 792px;}
.container_20 .suffix_12 {padding-right: 864px;}
.container_20 .suffix_13 {padding-right: 936px;}
.container_20 .suffix_14 {padding-right: 1008px;}
.container_20 .suffix_15 {padding-right: 1080px;}
.container_20 .suffix_16 {padding-right: 1152px;}
.container_20 .suffix_17 {padding-right: 1224px;}
.container_20 .suffix_18 {padding-right: 1296px;}
.container_20 .suffix_19 {padding-right: 1368px;}

/* `Push Space >> 20 Columns
--------------------------------------------------------------------------------*/
.container_20 .push_1 {left: 72px;}
.container_20 .push_2 {left: 144px;}
.container_20 .push_3 {left: 216px;}
.container_20 .push_4 {left: 288px;}
.container_20 .push_5 {left: 360px;}
.container_20 .push_6 {left: 432px;}
.container_20 .push_7 {left: 504px;}
.container_20 .push_8 {left: 576px;}
.container_20 .push_9 {left: 648px;}
.container_20 .push_10 {left: 720px;}
.container_20 .push_11 {left: 792px;}
.container_20 .push_12 {left: 864px;}
.container_20 .push_13 {left: 936px;}
.container_20 .push_14 {left: 1008px;}
.container_20 .push_15 {left: 1080px;}
.container_20 .push_16 {left: 1152px;}
.container_20 .push_17 {left: 1224px;}
.container_20 .push_18 {left: 1296px;}
.container_20 .push_19 {left: 1368px;}

/* `Pull Space >> 20 Columns
--------------------------------------------------------------------------------*/
.container_20 .pull_1 {left: -72px;}
.container_20 .pull_2 {left: -144px;}
.container_20 .pull_3 {left: -216px;}
.container_20 .pull_4 {left: -288px;}
.container_20 .pull_5 {left: -360px;}
.container_20 .pull_6 {left: -432px;}
.container_20 .pull_7 {left: -504px;}
.container_20 .pull_8 {left: -576px;}
.container_20 .pull_9 {left: -648px;}
.container_20 .pull_10 {left: -720px;}
.container_20 .pull_11 {left: -792px;}
.container_20 .pull_12 {left: -864px;}
.container_20 .pull_13 {left: -936px;}
.container_20 .pull_14 {left: -1008px;}
.container_20 .pull_15 {left: -1080px;}
.container_20 .pull_16 {left: -1152px;}
.container_20 .pull_17 {left: -1224px;}
.container_20 .pull_18 {left: -1296px;}
.container_20 .pull_19 {left: -1368px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
