<div id="saveButtons">
 <button id="searchBtn" class="navButton">Search</button>
 <button id="saveSearch" class="navButton">Save this Search</button>
 <button id="resetBtn" class="navButton">Reset</button>
</div>
<div id="customSearchName"><input class="customName" type="text" placeholder="Name" /><button id="saveName" class="textRight">Save</button></div>
<div class="accordionContainer">
  <article class="leftAccordion accordion_fixed" id="keyword">
    <div class="accordionLabel">Keyword</div>
    <input id="keywordIn" class="keyword" type="text" placeholder="Keyword" style="display:inline-block;"/>
  </article>
</div>

<form id="searchForm">
  <input type="hidden" name="north" id="northFm"/>
  <input type="hidden" name="south" id="southFm"/>
  <input type="hidden" name="east" id="eastFm"/>
  <input type="hidden" name="west" id="westFm"/>
  <input type="hidden" name="vertical-lower-bound" id="lowerFm"/>
  <input type="hidden" name="vertical-upper-bound" id="upperFm"/>
  <input type="hidden" name="temporal-from-ctrl"  id="tempFromFm"/>
  <input type="hidden" name="temporal-to-ctrl" id="tempToFm"/>
  <input type="hidden" name="temporal-field-ctrl" id="temporal-field-ctrlFm"/>
  <input type="hidden" name="radius" id="radiusFm"/>
</form>

<form id="searchRadialForm">
  <input type="hidden" name="south" id="southFm2"/>
  <input type="hidden" name="west" id="westFm2"/>
  <input type="hidden" name="vertical-lower-bound" id="lowerFm2"/>
  <input type="hidden" name="vertical-upper-bound" id="upperFm2"/>
  <input type="hidden" name="temporal-from-ctrl"  id="tempFromFm2"/>
  <input type="hidden" name="temporal-to-ctrl" id="tempToFm2"/>
  <input type="hidden" name="temporal-field-ctrl" id="temporal-field-ctrlFm2"/>
  <input type="hidden" name="radius" id="radiusFm2"/>
</form>

<script type="text/template" id="block_data_type_list_tmpl">{% include 'block_data_type_list2.html' %}</script>
<script type="text/template" id="filter-item-tmpl">{% include 'block_boolean2.html' %}</script>
    
    <script>
		IONUX2.Views.DataTypesList = Backbone.View.extend({
			el: '#dataTypesList',
			template: _.template($('#block_data_type_list_tmpl').html()),
      events: {
        'click .checkAllTypes': 'select_all_types'
      },
			initialize: function() {
				this.model.on('change:data', this.render, this);
			},
      select_all_types: function(e) {
        var $check = $(e.currentTarget);
        if ($check.is(':checked')) {
          $('.listDataTypes').find('input').prop('checked', true);
        }
        else {
          $('.listDataTypes').find('input').prop('checked', false);
        }
      },
			render: function() {
				this.$el.html(this.template({resources: this.model.data}));
				return this;
			}
		});	
		
      $(function(){
        IONUX2.Views.leftAccordion = new IONUX2.Views.LeftAccordion(); /* CLEAN UP THIS NAMING !! */

        var accordions = {
          'spatial': {
              title: 'Spatial',
              id: 'spatial'
          },
          'temporal': {
            title: 'Temporal',
            id: 'temporal'
          },
          'facility': {
            title: 'Facility',
            id: 'orgSelector'
          },
          /*
           'region': {
            title: 'Region',
            id: 'region'
          },
          */
          'sites': {
            title: 'Sites',
            id: 'site'
          },
          'platform': {
            title: 'Platform Type',
            id: 'platformTypesList'
          },
          /*
          'instrument': {
            title: 'Instrument Type',
            id: 'instrument'
          */
            /* id: 'instrumentTypesList' */ /*SUBSTITUTE THIS */
          /*}, */
          
          'dataType': {
            title: 'Data Type',
            id: 'dataTypesList'
          },
          'booleanExpression': {
            title: 'Boolean Expression',
            id: 'boolean_expression'
          }
        };

        for (var accordion in accordions) {
          IONUX2.Views.leftAccordion.addAccordion(accordions[accordion].title, accordions[accordion].id);
        }

        IONUX2.Views.spatial = new IONUX2.Views.Spatial({model: IONUX2.Models.spatialModelInstance});
        IONUX2.Views.temporal = new IONUX2.Views.Temporal({model: IONUX2.Models.temporalModelInstance});
        /* IONUX2.Views.RegionList = new IONUX2.Views.Region({collection: IONUX2.Dashboard.Observatories }); */ /*DELETE THIS */
        IONUX2.Views.SitesList = new IONUX2.Views.Sites({collection: IONUX2.Dashboard.Observatories });
        IONUX2.Views.boolean = new IONUX2.Views.BooleanSearch();
		    IONUX2.Models.DataTypeListInstance = new IONUX2.Models.DataTypeList();
		    IONUX2.Views.DataTypesListInstance = new IONUX2.Views.DataTypesList({model: IONUX2.Models.DataTypeListInstance });
		    IONUX2.Models.DataTypeListInstance.fetch();
		    IONUX2.Collections.OrgsInstance = new IONUX2.Collections.Orgs();
		    IONUX2.Views.OrgSelectorInstance = new IONUX2.Views.OrgSelector({collection: IONUX2.Collections.OrgsInstance});
		    IONUX2.Collections.OrgsInstance.fetch();

        IONUX2.Views.boolean.render();

        $("#platformTypesList").html(IONUX2.getTemplate('templates/block_platform_types2.html'));

        $('.accordionContainer').sortable({
          items: "article:not(.accordion_fixed)",
          distance: 5
        });
        $('.accordionContainer').jScrollPane({autoReinitialise: true});

        $('#searchBtn').on('click', function(){
          search_clicked();
          IONUX2.setPageView("searchResults");
          if(IONUX2.getMapState() == "mapHidden"){
            IONUX2.setMapState('mapSplit');
          }
          if($('#legacyFacePageTab').hasClass('active')){
            $('#dataSearchResultsTab').click();
          }
        });

        $('#resetBtn').on('click', function(){
          disableMapEventHandling = true;
          IONUX2.clearSearchResults();

          // clear keyword
          $('#keywordIn').val("");

          // clear temporal
          $('#temporal select').val("0");

          // clear spatial
          var attribute = {};
          attribute["from_longitude"] = "";
          attribute["from_latitude"] = "";
          attribute["to_longitude"] = "";
          attribute["to_latitude"] = "";
          attribute["radius"] = "";
          IONUX2.Models.spatialModelInstance.updateAttributes(attribute);

          $("#southFm").val("");
          $("#westFm").val("");
          $("#northFm").val("");
          $("#eastFm").val("");
          $("#radiusFm").val("");

          // clear all checkboxes
          $('#searchTabContent').find('input').prop("checked", false);

          // clear boolean
          IONUX2.Views.boolean.render();
          disableMapEventHandling = false;
        });
        
      });

      var disableMapEventHandling = false;

      IONUX2.openSpatialAccordion = function() {
        if(!disableMapEventHandling){
          if($("#spatialElem").find('.leftAccordionContents').not(':visible')){
            $("#spatialElem").find('.accordionTitle').click();
          }
        }
      }

      function set_temporal_form(){

          var tYear = $("#tempFromYear").val();
          var tMonth = $("#tempFromMonth").val();
          var tDay = $("#tempFromDay").val();

          if(tYear.length > 0 && tMonth.length > 0 && tDay.length > 0){
            $("#tempFromFm").val(tYear + '-' + (parseInt(tMonth) + 1) + '-' + tDay);
          }

          var tYear2 = $("#tempToYear").val();
          var tMonth2 = $("#tempToMonth").val();
          var tDay2 = $("#tempToDay").val();

          if(tYear2.length > 0 && tMonth2.length > 0 && tDay2.length > 0){
            $("#tempToFm").val(tYear2 + '-' + (parseInt(tMonth2) + 1) + '-' + tDay2);
          }

          $("#temporal-field-ctrlFm").val($("#tempSelect").val());

      }

        function search_clicked() {

          IONUX2.clearSearchResults();

          set_temporal_form();

          var form_values = $('#searchForm').serializeArray();
          form_values.splice(0, 0, {name:'adv', value:1});

          var form_values_bool = $('#booleanForm').serializeArray();

          // switch into an object - much easier to access directly
          var formObj = _.object(_.map(form_values, function(v) {
            return [v.name, v.value];
          }));
          
          // normalize into "down" facing vertical if switched to up
          if (this.$('.vertical-bounds-positive').hasClass('toggle_sealevel_passive')) {
            if (formObj['vertical-lower-bound']) {
              formObj['vertical-lower-bound'] = -formObj['vertical-lower-bound'];
            }
            if (formObj['vertical-upper-bound']) {
              formObj['vertical-upper-bound'] = -formObj['vertical-upper-bound'];
            }
            if (formObj['vertical-upper-bound'] < formObj['vertical-lower-bound']) {
              var tmp = formObj['vertical-upper-bound'];
              formObj['vertical-upper-bound'] = formObj['vertical-lower-bound'];
              formObj['vertical-lower-bound'] = tmp;
            }
          }

          //Error checking advanced search input params
          function check_Vals() {

            var bValid = true;
            var errorString = '';

            if($('.latLongMenu').val() == "1"){
              //Check geospatial bounds (all or none)
              var all = form_values[1].value !== '' && form_values[2].value !== '' &&
                + form_values[3].value !== '' && form_values[4].value !== '';

              var none = form_values[1].value == '' && form_values[2].value == '' &&
                + form_values[3].value == '' && form_values[4].value == '';

              if (!(all || none)){
                errorString += 'Error in GEOSPATIAL BOUNDS:\nPartially filled form\n';
                bValid = false;
              }
            } else {
              //Check radial form (center point and radius)
              var all =  form_values[2].value !== '' &&
                + form_values[4].value !== '';

              var none =  form_values[2].value == '' &&
                +  form_values[4].value == '';

              if (!(all || none)){
                errorString += 'Error in Radial Point:\nPartially filled form\n';
                bValid = false;
              }

              if(form_values[10].value == '' || form_values[10].value.length == 0){
                if (!(all || none)){
                  errorString += 'Error in Radius Value:\nPartially filled form\n';
                  bValid = false;
                }
              }
            }

            //Check vertical bounds (all or none)
            var all_or_none = (form_values[5].value !== '' && form_values[6].value !== '') ||
              + (form_values[5].value == '' && form_values[6].value == '');

            if (!all_or_none){
              errorString += 'Error in VERTICAL BOUNDS:\nPartially filled form\n';
              bValid = false;
            }

            //Check temporal bounds (all or none)
            all_or_none = (form_values[7].value !== '' && form_values[8].value !== '') ||
              + (form_values[7].value == '' && form_values[8].value == '');

            if (!all_or_none){
              errorString += 'Error in TEMPORAL BOUNDS:\nPartially filled form\n';
              bValid = false;
            }

            if (!bValid){
              self.alert(errorString)
            }

            return bValid;
          }

          //Check input values
          var bValid = check_Vals();
          if (!bValid){
            return;
          }

          var search_term = $.param(form_values);
          var search_term2 = $.param(form_values_bool);

          search_term = search_term + '&' + search_term2;

          console.log('SEARCH CLICKED...' + search_term);

          IONUX.ROUTER.navigate('/search/?'+ search_term, {trigger:true});

        }

    </script>
