<div id="assetTracking">
	<div class="accordionWhite collapsed" id="accordionAssets">
		<div class="accordionWhiteLabel">Assets
			<div class="expandHide arrowRight blue"></div>
		</div>
		<div class="accordionWhitePin"></div>
		<div class="accordionContents" style="display:none;">
			<div id="___">___</div>
		</div>
	</div>
	<div class="accordionWhite collapsed" id="accordionData">
		<div class="accordionWhiteLabel">Data
			<div class="expandHide arrowRight blue"></div>
		</div>
		<div class="accordionWhitePin"></div>
		<div class="accordionContents" style="display:none;">
			<div id="___">___</div>
		</div>
	</div>
	<div class="accordionWhite collapsed" id="accordionPlatform">
		<div class="accordionWhiteLabel">Platform
			<div class="expandHide arrowRight blue"></div>
		</div>
		<div class="accordionWhitePin"></div>
		<div class="accordionContents" style="display:none;">
			<div id="___">___</div>
		</div>
	</div>
	<div class="accordionWhite collapsed" id="accordionInstruments">
		<div class="accordionWhiteLabel">Instrument
			<div class="expandHide arrowRight blue"></div>
		</div>
		<div class="accordionWhitePin"></div>
		<div class="accordionContents" style="display:none;">
			<div id="___">___</div>
		</div>
	</div>
	<div class="accordionWhite collapsed" id="accordionDataType">
		<div class="accordionWhiteLabel">Data Type
			<div class="expandHide arrowRight blue"></div>
		</div>
		<div class="accordionWhitePin"></div>
		<div class="accordionContents" style="display:none;">
			<div id="___">___</div>
		</div>
	</div>
</div>