<div id="searchResultsTabContainer" class="mainTabContainer">
	<div class="twoNavTabs">
		<div id="dataSearchResultsTab" class="twoNavTab active" tabContent="#dataSearchResultsAccordion">Data</div>
		<div id="assetsSearchResultsTab" class="twoNavTab" tabContent="#assetsSearchResultsAccordion">Platform &amp; Instrument</div>
		<div id="sitesSearchResultsTab" class="twoNavTab" tabContent="#siteSearchResultsAccordion">All</div>
		<div id="legacyFacePageTab" class="twoNavTab" tabContent="#legacyFacePageContent" style="display:none;">Face Page</div>
	</div>
</div>
<div id="searchResultsContainer" class="lowerMainContentContainer">
	<div id="dataSearchResultsAccordion"> 
		<div class="accordionContainerWhite">
		</div>
	</div>
	<div id="assetsSearchResultsAccordion" style="display:none;">
		<div class="accordionContainerWhite">
		</div>	
	</div>
	<div id="siteSearchResultsAccordion" style="display:none;">
		<div class="accordionContainerWhite">
		</div>	
	</div>
	<div id="legacyFacePageContent" style="display:none;">
		<div id="dynamic-container" style="display:none;"> </div>
	</div>
</div>

<script id="TABLE_searchResults">

	var TABLE_searchResults=[
		["text_short_ooi", "Name", "name", "T05", "0", "level-zero"], 
		["text_extended_ooi", "Description", "description", "T09", "0", "level-zero"], 
		["text_short_ooi", "Created", "ts_created", "T10", "2", "level-two"], 
		["text_short_ooi", "Modified", "ts_updated", "T11", "0", "level-zero"], 
		["text_short_ooi", "Lifecycle State", "lcstate", "T13", "0", "level-zero"]
	];

</script>

<script id="TABLE_allSearchResults">

	var TABLE_allSearchResults=[
		["text_short_ooi", "Type", "type_", "T04", "0", "level-zero"],
		["text_short_ooi", "Name", "name", "T05", "0", "level-zero"], 
		["text_extended_ooi", "Description", "description", "T09", "0", "level-zero"], 
		["text_short_ooi", "Created", "ts_created", "T10", "2", "level-two"], 
		["text_short_ooi", "Modified", "ts_updated", "T11", "0", "level-zero"], 
		["text_short_ooi", "Lifecycle State", "lcstate", "T13", "0", "level-zero"]
	];

</script>

<script id="TABLE_allDataSearchResults">

	var TABLE_allDataSearchResults=[
		["text_short_ooi", "Type", "ooi_product_name", "T04", "0", "level-zero"],
		["text_short_ooi", "Name", "name", "T05", "0", "level-zero"], 
		["text_extended_ooi", "Description", "description", "T09", "0", "level-zero"], 
		["text_short_ooi", "Created", "ts_created", "T10", "2", "level-two"], 
		["text_short_ooi", "Modified", "ts_updated", "T11", "0", "level-zero"], 
		["text_short_ooi", "Lifecycle State", "lcstate", "T13", "0", "level-zero"]
	];

</script>

<script>
	IONUX2.dataTypesList = [
		{'name':"Conductivity", 'id':"CONDWAT", 'type':["CONDWAT"]},
		{'name':"Density", 'id':"DENSITY", 'type':["DENSITY"]},
		{'name':"Fluorometric CDOM Concentration", 'id':"CDOMFLO", 'type':["CDOMFLO"]},
		{'name':"Fluorometric Chlorophyll-a Concentration", 'id':"CHLAFLO", 'type':["CHLAFLO"]},
		{'name':"Optical Absorbance Signal Intensity at 434nm", 'id':"PH434SI", 'type':["PH434SI"]},
		{'name':"Optical Absorbance Signal Intensity at 578nm", 'id':"PH578SI", 'type':["PH578SI"]},
		{'name':"Optical Backscatter (Red Wavelengths)", 'id':"FLUBSCT", 'type':["FLUBSCT"]},
		{'name':"Oxygen Concentration from Stable DO Instrument", 'id':"DOCONCS", 'type':["DOCONCS"]},
		{'name':"PHSEN Thermistor Temperature", 'id':"ABSTHRM", 'type':["ABSTHRM"]},
		{'name':"Practical Salinity", 'id':"PRACSAL", 'type':["PRACSAL"]},
		{'name':"Pressure (Depth)", 'id':"PRESWAT", 'type':["PRESWAT"]},
		{'name':"Temperature", 'id':"TEMPWAT", 'type':["TEMPWAT"]},
		{'name':"Velocity Profile", 'id':"VELPROF", 'type':["VELPROF"]},
		{'name':"pH",'id':"PHWATER", 'type':["PHWATER"]},
		{'name':"All", 'id':"ALL_DATA", 'type':["ALL_DATA"]}
	];

	IONUX2.assetTypesList = [
		{'name':"Platforms", 'id':"Platforms", 'type':["PlatformDevice"]},
		{'name':"Instruments", 'id':"Instruments", 'type':["InstrumentDevice"]},
		{'name':"All", 'id':"ALL_ASSETS", 'type':["ALL_ASSETS"]}
	];

	IONUX2.siteTypesList = [
		{'name':"Facilities", 'id':"Facility", 'type':["Org"]},
		{'name':"Sites", 'id':"Observatory", 'type':["Observatory"]},
		{'name':"Stations", 'id':"AllSites", 'type':["StationSite","PlatformSite"]},
		{'name':"Portals", 'id':"Portals", 'type':["InstrumentSite"]},
		{'name':"Deployments", 'id':"Deployments", 'type':["Deployment"]},
		{'name':"All", 'id':"ALL_RESULTS", 'type':["ALL_RESULTS"]}
	];

	IONUX2.statusDataReferenceList = [
		{'resourceType' : 'InstrumentDevice', 'statusColumn':'computed.instrument_status.value.@index'},
		{'resourceType' : 'PlatformDevice', 'statusColumn':'computed.platform_status.value.@index'},
		{'resourceType' : 'StationSite', 'statusColumn':'computed.station_status.value.@index'},
		{'resourceType' : 'Deployment', 'statusColumn':'deployment_info.@index.device_status'},
		{'resourceType' : 'Negotiation', 'statusColumn':'computed.platform_status.value.@index'}
	];

	IONUX2.clearSearchResults = function() {
		IONUX.ROUTER.navigate('');
		$('.searchResultTable').html('');

		_.each(IONUX2.dataTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			accordionLabel.html(resourceType.name);
			accordionLabel.append('<div class="expandHide arrowRight blue">');
			$(accordion_contents).hide();
		});

		_.each(IONUX2.assetTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			accordionLabel.html(resourceType.name);
			accordionLabel.append('<div class="expandHide arrowRight blue">');
			$(accordion_contents).hide();
		});

		_.each(IONUX2.siteTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			accordionLabel.html(resourceType.name);
			accordionLabel.append('<div class="expandHide arrowRight blue">');
			$(accordion_contents).hide();
		});

	}

	IONUX2.parseSearchResults = function(response_data) {
		/* PROCESS DATA PRODUCT TYPES */

		var dataList = {};
		dataList['ALL_DATA'] = [];
		_.each(response_data, function(resource) {
			_.each(IONUX2.dataTypesList, function(resourceType) {
				key = resource['ooi_short_name'];
				id = resourceType.id;
				if (resourceType.type.indexOf(key) > -1){ // == resourceType.type){
					if (!(id in dataList)){
						dataList[id] = [];
					}
					dataList[id].push(resource);
					dataList['ALL_DATA'].push(resource);
				}
			});
		});
		console.log(response_data);
		console.log('DATA PRODUCTS!!!!');
		// console.log(dataList);

		var hasDataContent = false;
		_.each(IONUX2.dataTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			var table_elem = '#table' + resourceType.id;
			var table_data = dataList[resourceType.type];
			// console.log(table_data);
			if(resourceType.id in dataList){
				hasDataContent = true;
				new IONUX.Views.DataTable({el: table_elem, data: table_data, visibility_level:2});
				accordionLabel.html(resourceType.name + ' (' + table_data.length + ')');
			} else {
				accordionLabel.html(resourceType.name + ' (0)');
			}
			accordionLabel.append('<div class="expandHide arrowRight blue">');
		});

		/* PROCESS ASSETS TYPES */
		
		var assetsList = {};
		assetsList['ALL_ASSETS'] = [];
		_.each(response_data, function(resource) {
			_.each(IONUX2.assetTypesList, function(resourceType) {
				key = resource['type_'];
				id = resourceType.id;
				if (resourceType.type.indexOf(key) > -1){ // == resourceType.type){
					if (!(id in assetsList)){
						assetsList[id] = [];
					}
					assetsList[id].push(resource);
					assetsList['ALL_ASSETS'].push(resource);
				}
			});
		});
		console.log(response_data);
		console.log('ASSETS!!!!');
		//console.log(assetsList);
		var hasAssetContent = false;
		_.each(IONUX2.assetTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			var table_elem = '#table' + resourceType.id;
			var table_data = assetsList[resourceType.id];
			//console.log(table_data);
			if(resourceType.id in assetsList){
				hasAssetContent = true;
				new IONUX.Views.DataTable({el: table_elem, data: table_data, visibility_level:2});
				accordionLabel.html(resourceType.name + ' (' + table_data.length + ')');
			} else {
				accordionLabel.html(resourceType.name + ' (0)');
			}
			accordionLabel.append('<div class="expandHide arrowRight blue">');
		});

		/* PROCESS SITES TYPES */

		var sitesList = {};
		sitesList['ALL_RESULTS'] = response_data;
		_.each(response_data, function(resource) {
			_.each(IONUX2.siteTypesList, function(resourceType) {
				key = resource['type_'];
				id = resourceType.id;
				// console.log('Key => ' + key);
				// console.log(resourceType.type.indexOf(key));
				if (resourceType.type.indexOf(key) > -1){ // == resourceType.type){
					if (!(id in sitesList)){
						sitesList[id] = [];
					}
					sitesList[id].push(resource);
				}
			});
		});
		console.log('SITES!!!!');
		// console.log(sitesList);
		var hasSiteContent = false;
		_.each(IONUX2.siteTypesList, function(resourceType) {
			var accordion_contents = "#accordion" + resourceType.id;
			var accordion = $(accordion_contents).closest('.accordionWhite');
			var accordionLabel = accordion.find('.accordionWhiteLabel');
			var table_elem = '#table' + resourceType.id;
			var table_data = sitesList[resourceType.id];
			// console.log(table_data);
			if(resourceType.id in sitesList){
				hasSiteContent = true;
				new IONUX.Views.DataTable({el: table_elem, data: table_data, visibility_level:2});
				accordionLabel.html(resourceType.name + ' (' + table_data.length + ')');
			} else {
				accordionLabel.html(resourceType.name + ' (0)');
			}
			accordionLabel.append('<div class="expandHide arrowRight blue">');
		});
	}

	console.log('****  parseSearchResults instantiated!');

	$('#searchResultsContainer').jScrollPane({autoReinitialise: true});

	var tableScriptTemplate = 'var TABLE_table<%= id %> = TABLE_searchResults;';
	var tableAllScriptTemplate = 'var TABLE_table<%= id %> = TABLE_allSearchResults;';
	var tableAllDataScriptTemplate = 'var TABLE_table<%= id %> = TABLE_allDataSearchResults;';

	var accordionWhiteTemplate = '<div class="accordionWhite collapsed" id="<%= id %>">\
			<div class="accordionWhiteLabel">\
				<%= name %>\
				<div class="expandHide arrowRight blue"> </div>\
			</div>\
			<div class="accordionContents" style="display:none;" id="accordion<%= id %>">\
				<div class="searchResultTable" id="table<%= id %>"> </div>\
			</div>\
		</div>';

	_.each(IONUX2.dataTypesList, function(type) {
		var script=document.createElement('script');
		script.id='TABLE_table' + type.id;
		if(type.id == "ALL_DATA") {
			script.text=_.template(tableAllDataScriptTemplate, type);
		} else {
			script.text=_.template(tableScriptTemplate, type);
		}
		$("#searchResultsTabContainer").parent().append(script);
		var blah = $(_.template(accordionWhiteTemplate, type));
	    $('#dataSearchResultsAccordion').children('.accordionContainerWhite').append(blah);
	});

	_.each(IONUX2.assetTypesList, function(type) {
		var script=document.createElement('script');
		script.id='TABLE_table' + type.id;
		if(type.id == "ALL_ASSETS") {
			script.text=_.template(tableAllScriptTemplate, type);
		} else {
			script.text=_.template(tableScriptTemplate, type);
		}
		$("#searchResultsTabContainer").parent().append(script);
		var blah = $(_.template(accordionWhiteTemplate, type));
	    $('#assetsSearchResultsAccordion').children('.accordionContainerWhite').append(blah);
	});

	_.each(IONUX2.siteTypesList, function(type) {
		var script=document.createElement('script');
		script.id='TABLE_table' + type.id;
		if((type.id == "ALL_RESULTS") || (type.id == "AllSites")) {
			script.text=_.template(tableAllScriptTemplate, type);
		} else {
			script.text=_.template(tableScriptTemplate, type);
		}
		$("#searchResultsTabContainer").parent().append(script);
		var blah = $(_.template(accordionWhiteTemplate, type));
	    $('#siteSearchResultsAccordion').children('.accordionContainerWhite').append(blah);
	});

	$("#searchResultsTabContainer .twoNavTab").click(function(e){
		var target = $(e.target);
		target.addClass('active').siblings().removeClass('active');
		tab_content = target.attr("tabContent");
		$(tab_content).siblings().hide();
		$(tab_content).show();
	});

	console.log("**** MAKING RESULTS ACCORDIONS ****");
    $('.accordionContainerWhite').sortable({
    	items: ".accordionWhite",
    	update: function( event, ui ) {}
    });

    $('.accordionContainerWhite').on( "sortupdate", function( event, ui ) {
          var sortable_order = $(this).sortable( "toArray" );
          IONUX2.Models.sortBottomModelInstance.set({'sort_order': sortable_order});
    });

    function toggleAccordion(accordion_contents){
		accordion_contents.slideToggle('fast', function() {
			if ($(this).is(':visible')) {
				$(this).parent().removeClass('collapsed');
				$(this).parent().find('.expandHide').removeClass('arrowRight');
				$(this).parent().find('.expandHide').addClass('arrowDown');
			} else {
				$(this).parent().addClass('collapsed');
				$(this).parent().find('.expandHide').removeClass('arrowDown');
				$(this).parent().find('.expandHide').addClass('arrowRight');
			}
		});
    }

	$('.accordionWhiteLabel').click(function(e){
		e.preventDefault();
		var link = $(e.currentTarget);
		var accordion = link.closest('.accordionWhite');
		toggleAccordion( accordion.find('.accordionContents'));
	});

</script>
