<div id="_adminMgmtTabContainer" style="position:relative; height:28px; width:100%;">
	<div class="twoNavTabs" style="left:24px;width:calc(100% - 24px);">
		<div id="_firstTab" class="twoNavTab active" tabContent="#_firstTabContent">Assets</div>
		<div id="_secondTab" class="twoNavTab" tabContent="#_secondTabContent" style="display: none;">View</div>
		<div id="_thirdTab" class="twoNavTab" tabContent="#_thirdTabContent" style="display: none;">Edit</div>
	</div>
</div>
<div id="adminMgmtMainContainer" class="lowerMainContentContainer">
	<div id="_firstTabContent" style="display:block;"> 
	</div>
	<div id="_secondTabContent" style="display:none;">
	</div>
	<div id="_thirdTabContent" style="display:none;">
	</div>
</div>

<script>
	// Option one, for just simple html template.
	//$("#_firstTabContent").html(IONUX2.getTemplate("templates/partials/_____.html"));
	//$("#_secondTabContent").html(IONUX2.getTemplate("templates/partials/_____.html"));
	//$("#_thirdTabContent").html(IONUX2.getTemplate("templates/partials/_____.html"));

	// Option two, for Backbone View that renders already loaded models.  There are
	// multiple syntax ways to do the same thing with this as follows:

	// Syntax one:
	//IONUX2.Views._____Instance = new IONUX2.Views._____({el: "#_firstTabContent", model: IONUX2.Models._____Instance}).render();
	// Syntax two: (assumes the view is already instantiated with a reference to the 
	// model.)
	//IONUX2.Views._____.el = "#_firstTabContent";
	//IONUX2.Views._____.render();

	// Option three, for loading data from server with a Backbone model that
	// automatically triggers view to render (as demonstrated in tutorial files.
	// In all these cases can be model or collection depending on 
	// loaded data structure.  List or simple structure.)
	//IONUX2.Collections._____Instance = new IONUX2.Collections._____();
	//IONUX2.Views._____Instance = new IONUX2.Views._____({el: "#_secondTabContent", collection: IONUX2.Collections._____Instance});
	//IONUX2.Collections._____Instance.fetch({
	//	async: false
	//});

	$("#_adminMgmtTabContainer .twoNavTabs").click(function(e){  //pluralized .twoNavTab ; needs to be verified against CSS
		var target = $(e.target);
		target.addClass('active').siblings().removeClass('active');
		tab_content = target.attr("tabContent");
		$(tab_content).siblings().hide();
		$(tab_content).show();
	});


</script>
