{% extends "lca.html" %}

{% block content %}

	Hello there.

	<div class="grid_15 alpha">
		<h3 class="top_heading">Location</h3>
		<div class="panel map grid_15 alpha omega">
			<h4>Current Location</h4>
			<iframe id="dashboard_map" width="900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=46.243501,-124.042511&amp;spn=0.883279,1.9487&amp;t=h&amp;z=10&amp;output=embed"></iframe>
		</div>
		
		<div class="clear">&nbsp;</div>
		
		<div class="grid_4 alpha panel">
			word.
		</div>
		
		<div class="grid_2 panel">
			word. word.
		</div>
		
		<div class="grid_9 omega panel">
			word. word.
		</div>
		
	</div>
	
	<div class="grid_5 omega">
		<h3 class="top_heading">Dashboard</h3>
		<div class="dashboard panel">
			<h4>Recent Images</h4>
			<ul>
				<li>Image One</li>
				<li>Image Two</li>
				<li>Image Three</li>
				<li>Image Four</li>
			</ul>
			<h4>Popular Resources</h4>
			<ul>
				<li>Resource One</li>
				<li>Resource Two</li>
				<li>Resource Three</li>
				<li>Resource Four</li>
			</ul>
			<h4>Unusual Events</h4>
			<ul>
				<li>Unusual Event One</li>
				<li>Unusual Event Two</li>
				<li>Unusual Event Three</li>
				<li>Unusual Event Four</li>
			</ul>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
{% endblock content %}