{% extends "ion_ux.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_templates %}
    <script type="text/template" id="images-dev-tmpl">
        <p>
            <image class="image_ooi"></image>
        </p>
        <p>
            <image class="image_ooi status"></image>
        </p>
        
    </script>
{% endblock %}


{% block extra_vendor_js %}
{% endblock %}


{% block extra_ionux_js %}
    <script type="text/javascript" src="/static/js/ux-views.js"></script>
{% endblock %}

{% block document_ready %}
  $(function(){
      
  });
{% endblock %}
