{% extends "ion_ux.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_templates %}
    <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
{% endblock %}


{% block extra_vendor_js %}
{% endblock %}


{% block extra_ionux_js %}

    <script id="TABLE_56789">
    var TABLE_56789=[
        ["icon_ooi", "Type", "type_", "T20", "0"],
        ["icon_ooi", "NO LABEL", "aggregated_status", "T20", "0"],
        ["text_short_ooi", "Modified", "timestamp", "T11", "0"],
        ["text_short_ooi", "UUID", "uuid", "T12", "2"], 
        ["text_short_ooi", "Calibrated", "last_calibration_datetime", "T14", "2"],
        ["text_extended_ooi", "Description", "description", "T16", "2"]
    ];
    </script>
{% endblock %}

{% block document_ready %}
  $(function(){
    IONUX.init();
    $("#dynamic-container").append($("<div>").attr("id", "56789"));
    new IONUX.Views.DataTable({data:TEST_TABLE_DATA, el:'#56789', visibility_level:2});
  });
{% endblock %}
