<html>
  <head>
    <script src="/static/js/jquery-1.7.1.min.js"> </script>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCcEp2hQdftRhaYgonh1Vyv0JYi5KVvFI&amp;sensor=false"> </script>
    <script src="/static/visualization/js/markerclusterer.js"> </script>
  </head>
  <body>
    <div id="map_canvas">Hey there.</div>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        default_map_options = {
            center: new google.maps.LatLng(0, 0),
            zoom: 3,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            disableDefaultUI: true
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), default_map_options);
      });
    </script>
  </body>
</html>