{% extends "ion_ux.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_templates %}
    <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
{% endblock %}


{% block extra_vendor_js %}
{% endblock %}


{% block extra_ionux_js %}

    <script id="TABLE_56789">
    var TABLE_56789=[
        ["icon_ooi", "Type", "type_", "T04", "0", "level-zero"], 
        ["icon_ooi", "NO LABEL", "aggregated_status", "T01", "0", "level-zero"],
        ["icon_ooi", "Type", "type_", "T04", "0", "level-zero"], 
        ["text_short_ooi", "Name", "name", "T05", "0", "level-zero"],
        ["text_extended_ooi", "Description", "description", "T09", "0", "level-zero"],
        ["text_short_ooi", "Created", "unknown1219", "T10", "2", "level-two"],
        ["text_short_ooi", "Modified", "ts_updated", "T11", "0", "level-zero"],
        ["text_short_ooi", "Lifecycle State", "lcstate", "T13", "0", "level-zero"]
    ];
    </script>
{% endblock %}

{% block document_ready %}
  $(function(){
    IONUX.init();
    $("#dynamic-container").append($("<div>").attr("id", "56789"));
    new IONUX.Views.DataTable({data:TEST_TABLE_DATA, el:'#56789', visibility_level:2});
  });
{% endblock %}
