{% extends "ion_ux.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_templates %}
{% endblock %}


{% block extra_vendor_js %}
{% endblock %}


{% block extra_ionux_js %}
    <script src="/static/js/underscore.mixin.deepExtend.js"></script>
    <script src="/static/js/backbone.bootstrap-modal.js"></script>
    <script src="/static/js/deep-model.js"></script>
    <script src="/static/js/ux-editform.js"></script>
    <script>
    var TEST_MODEL_DATA = {
"resource": {
  "message_controllable": true, 
  "addl": {}, 
  "description": "Simulator 1 providing CTD data in the R2 Demonstration", 
  "name": "CTD Simulator 1 Demo", 
  "alt_ids": [
    "PRE:ID3"
  ], 
  "_rev": "3-18d1c0cc26fcc01f4df472b5a883bd3a", 
  "contacts": [{
      "individual_names_given": "Mike", 
      "city": "Some Place", 
      "roles": [ "primary" ], 
      "administrative_area": "", 
      "url": "www.yahoo.com", 
      "country": "USA", 
      "variables": [ { "name": "", "value": "" } ], 
      "organization_name": "UNoIt", 
      "type_": "ContactInformation", 
      "postal_code": "02392", 
      "street_address": "123 Anytown Rd", 
      "phones": [ {
          "phone_number": "619-555-1212", 
          "phone_type": "office", 
          "type_": "Phone", 
          "sms": 0
        } ], 
      "position_name": "Manager", 
      "email": "mikemanagerooi@gmail.com", 
      "individual_name_family": "Manager"
    }, 
    {
      "individual_names_given": "Owen", 
      "city": "Some Place", 
      "roles": [
        "alternate"
      ], 
      "administrative_area": "", 
      "url": "www.yahoo.com", 
      "country": "USA", 
      "variables": [{
          "name": "", 
          "value": ""
        }
      ], 
      "organization_name": "Univ. of Washington", 
      "type_": "ContactInformation", 
      "postal_code": "02392", 
      "street_address": "123 Anytown Rd", 
      "phones": [
        {
          "phone_number": "222-555-1212", 
          "phone_type": "home", 
          "type_": "Phone", 
          "sms": 0
        }, 
        {
          "phone_number": "858-822-6379", 
          "phone_type": "office", 
          "type_": "Phone", 
          "sms": 0
        }
      ], 
      "position_name": "Representative", 
      "email": "owenownerrep@gmail.com", 
      "individual_name_family": "Ownerrep"
    }
  ], 
  "uuid": "", 
  "custom_attributes": {}, 
  "hardware_version": "0-00", 
  "ts_updated": "1360001527015", 
  "type_": "InstrumentDevice", 
  "monitorable": true, 
  "controllable": true, 
  "serial_number": "10003", 
  "firmware_version": "0-00", 
  "_id": "1b0e725ac49946efa7e64aeeed40d1a8", 
  "ts_created": "1360001526734", 
  "reference_urls": [], 
  "last_calibration_datetime": "", 
  "lcstate": "DEPLOYED_AVAILABLE"
}};


    </script>
{% endblock %}

{% block document_ready %}
  $(function(){
    IONUX.init();
    var black_list = ['resource._id', 'resource._rev', 'resource.ts_created', 'resource.ts_updated', 'lcstate', 'resource.type_', 'resource.alt_ids'];

    // After refactor
    // var m = new IONUX.Models.EditResourceModel({
    //   resource_type: 'InstrumentDevice',
    //   resource_id: '3b377afaed3c4362b8bad0d7de7df76e'
    // });
    // 
    // m.fetch({
    //   success: function(resp) {
    //     nform = new Backbone.Form({model: resp}).render();
    //     $("#dynamic-container").show().append(nform.el);
    //   }
    // });

    
    // WORKING EXPERIMENT
    // var test_data = new IONUX.Models.Resource({resource_id: '0103c463b6314f5ab818c05f55576e6c'});
    // test_data.fetch({
    //   async: false,
    //   success: function(resp) {
    //     resp.set('resource_type', resp.get('type_'));
    //     resp.set('black_list', black_list);
    //   },
    // });
    // 
    // var nmodel = new IONUX.Models.EditResourceModel(test_data.toJSON());
    // // nmodel.fetch();
    // // new_model.fetch();
    // // test_data['resource_type'] = "InstrumentDevice";
    // // test_data['black_list'] = black_list;
    // // console.log('test_data', test_data);
    // // nfmodel = new EditResourceModel(test_data);
    // nform = new Backbone.Form({model: nmodel}).render();
    // $("#dynamic-container").show().append(nform.el);
    // nform.commit();

    // - - - - - - - - 
    
    // EXPERIMENT TWO
    
    test_data = _.clone(TEST_MODEL_DATA['resource']);
    test_data['resource_type'] = "InstrumentDevice";
    test_data['black_list'] = black_list;

    nfmodel = new IONUX.Models.EditResourceModel(test_data);
    //nfmodel = new EditResourceModel({resource_type:"InstrumentAgentInstance", black_list:black_list});
    nform = new Backbone.Form({model: nfmodel }).render();
    // nfmodel.fetch();
    console.log('nform', nform.schema)
    
    $("#dynamic-container").show().append(nform.el);



    
    // ORIGINAL
    // nfmodel = new EditResourceModel({resource_type:"InstrumentDevice", black_list:black_list});
    // //nfmodel = new EditResourceModel({resource_type:"InstrumentAgentInstance", black_list:black_list});
    // nform = new Backbone.Form({model: nfmodel }).render();
    // nfmodel.fetch();
    // 
    // $("#dynamic-container").append(nform.el);
    
    // - - - - - - - - 

//TEMP STYLING:
$(".form-horizontal .control-label").css({"width":"300px", "margin-right":"10px"});
$(".form-horizontal ul li").css({"display":"inline", "margin-right":"10px"});
$(".form-horizontal ul li label").css({"display":"inline"});
$(".bbf-add").css({"margin-left":"120px"});


});
{% endblock %}
