{% extends "ion-ux.html" %}

{% block extra_css %}
    <style type='text/css'>
     div.header {
        border:1px solid #555;
        margin:4px;
        padding:6px;
        width:90%;
     }
     #view {
        width:95%;
    }
    .btn-group {
      float: right;
      position: relative;
      top: 0px;
      right: 4px;
      margin:0px;
    }
    .btn-group a {
      padding: 0;
      font-size: 11px;
      margin: 0;
    }
    .dropdown-menu li {
      color: black;
      cursor:pointer;
      padding:2px 6px;
      margin:0px;
    }
    .dropdown-menu li:hover {
        font-weight:bold;
        background-color:#ddd;
    }

    </style>
{% endblock %}

{% block extra_templates %}
<script type="text/template" id="actionmenu-tmpl">

  <div class="row-fluid">  
        <div id="view" class='header span12'>VIEW</div>
  </div>

  <div class="row-fluid">

    <div class='group1 span6'>
        <div id="group1" class='header'>GROUP1</div>
        <div class='block1'>
         <div id="block1group1" class='header'>block1</div>
         <p>...group1-block1-placeholdertext...</p>
         <p>...group1-block1-placeholdertext...</p>
         <p>...group1-block1-placeholdertext...</p>
        </div>
        <div class='block2'>
         <div id="block2group1" class='header'>block2</div>
         <p>...group1-block2-placeholdertext...</p>
         <p>...group1-block2-placeholdertext...</p>
         <p>...group1-block2-placeholdertext...</p>
        </div>
   </div><!-- END group1 -->

    <div class='group2 span6'>
         <div id="group2" class='header'>GROUP2</div>

        <div class='block1'>
         <div id="block1group2" class='header'>block1</div>
           <p>...group2-block1-placeholdertext...</p>
           <p>...group2-block1-placeholdertext...</p>
           <p>...group2-block1-placeholdertext...</p>
        </div>
          <div class='block2'>
           <div id="block2group2" class='header'>block2</div>
           <p>...group2-block2-placeholdertext...</p>
           <p>...group2-block2-placeholdertext...</p>
           <p>...group2-block2-placeholdertext...</p>
          </div>
    </div><!-- END group2 -->

  </div>


</script>
{% endblock %}


{% block extra_vendor_js %}
{% endblock %}


{% block extra_ionux_js %}
    <script type="text/javascript" src="/static/js/ux-views-actionmenu.js"></script>
    <script type="text/javascript"></script>
{% endblock %}


{% block document_ready %}
  $(function(){
    var template = _.template($('#actionmenu-tmpl').html());
    $("#dynamic-container").html(template());

    new IONUX.Views.ViewActions({el:"#view"});

    new IONUX.Views.GroupActions({el:"#group1"});
    new IONUX.Views.GroupActions({el:"#group2"});

    new IONUX.Views.BlockActions({el:"#block1group1"});
    new IONUX.Views.BlockActions({el:"#block2group1"});
    new IONUX.Views.BlockActions({el:"#block1group2"});
    new IONUX.Views.BlockActions({el:"#block2group2"});
  });
{% endblock %}
