{% extends "base.html" %}

{% block content %}
	<div class="grid_5 alpha rounded_5">
		<h5>Information</h5>
		<p>	
			Indentification<br />
			Picture<br />
			Name: CISN<br />
			ID: Unique ID<br />
			Type: Obj<br />
			Reigstered: YYYY-MM-DDD
		</p>
		
		<h5>Location</h5>
		<p>
			Dropdown menu<br />
			Google Map
		</p>
		
		<h5>Description</h5>
		<p>Lorem ipsum...</p>
		
		<h5>Provenance</h5>
		<p>
			Owner: Dr. Manager<br />
			Email: drmanager@univ.edu<br />
			Phone: 555-1212<br />
			PI: PI Name<br />
			Email: PI Email<br />
			Phone: 555-1212
		</p>
	</div>



	<div id="data-resources" class="grid_15 beta rounded_5 ">Hello</div>
	<div class="clear">&nbsp;</div>
	
{% endblock content %}


<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=46.243501,-124.042511&amp;spn=0.883279,1.9487&amp;t=h&amp;z=10&amp;output=embed"></iframe>
