<div>
	<img id="img_a" src="/static/img/ooinet-header-background-02.png" alt="background" border="0" />
	<a href="http://www.oceanobservatories.org/" title="Ocean Observatories Initiative"><img id="ooi-logo" src="/static/img/newbanner_ooilogo.png" alt="OOI" /></a>
</div>
<div id="login"> login </div> <!-- User navigation -->
<div id="headerLinks"> 
  <a id="btn-map" class="btn-view active" href="#">Map</a>
  <a id="btn-resources" class="btn-view" href="#">Resources</a>
</div>

<script type="text/javascript">
	$(function(){
		IONUX2.Models.LoginTemplateInstance = new IONUX2.Models.LoginTemplate();
		IONUX2.Models.LoginInstance = new IONUX2.Models.Login();
		IONUX2.Models.LoginInstance.setModels(IONUX2.Models.LoginTemplateInstance, IONUX2.Models.SessionInstance);

		IONUX2.Views.LoginInstance = new IONUX2.Views.Login({model: IONUX2.Models.LoginInstance});

	    IONUX2.Models.LoginInstance.fetch();
	});
</script>
