<span class="accordionTitle">
  <div class="expandHide arrowRight"></div><div class="accordion_label">Instruments</div>
</span>
<div id="instrument_list" class="leftAccordionContents">
    <!--<div class="select_all">
        <input class="checkAllSites" type="checkbox"/> Select All
    </div>-->
    <div class="list_instruments">
        test instrument
    	<form action="">
    		<ul>
        	<% _.each(this.collection, function(instrument) { %>
                <li><%= instrument %></li>
			<% }); %> 
			</ul>
		</form>
	</div>
</div>