<!DOCTYPE HTML>
<!-- filename ion_ux3.html proto=ion_ux2.html
last edited 04-13 04-09 03-05 2014-03-02
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles/ooinet-04.css">
    <title>OOINet</title>
</head>

<body>
	<div id="header" align="center">header</div>
	<div id="left-subheader" align="center">left-subheader</div>
	<div id="main-subheader" align="left">main-subheader</div>

    <div id="left">left side menu here<br />
    </div>
    <div id="main">
       <div id="upper-main">&nbsp;
	   </div>
	   <div id="lower-main">&nbsp;
	   </div>
	</div>
</body>
</html>
