<!DOCTYPE HTML>
<!-- filename ion_ux3.html proto=ion_ux2.html
last edited 05-15 05-11 04-13 04-09 03-05 2014-03-02
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>OOINet</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    {% block inherit_css %}

    <link rel="stylesheet" href="/static/bootstrap/less/bootstrap.min.css" type="text/css" />
    <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.css' />
    <link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />

        <link rel="stylesheet" href="/static/css/common.css" type="text/css" />

    <link rel="stylesheet/less" class="salt" href="/static/css/salt_images.less" />
    <link rel="stylesheet" type="text/css" href="/static/css/salt.css"/>
    {% endblock %}

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/ooinetLayout04.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ooinetAppearance04.css"/>

</head>

<body>
	<div id="header2" align="left">
        <div>
            <img id="img_a" src="/static/img/ooinet-header-background-02.png" border="0" />
            <a href="/" title="Ocean Observatories Initiative"><img id="ooi-logo" src="/static/img/newbanner_ooilogo.png"  border="0"  /></a>
        </div>
        <div id="adminMenu">
        </div>
        <div id="login"> login </div> <!-- User navigation -->
        <div id="saveConfiguration" style="display:none;">
            <button class="textRight" id="resetConfigBtn">Reset Config</button>
            <button class="textRight" id="saveConfigBtn">Save Config</button>
        </div>
    </div>
	<div id="leftSubheader" align="left">
        <div id="twoNavTabs" class="twoNavTabs">
            <div id="searchTab" class="twoNavTab active" href="#searchTabContent">Search</div>
            <div id="mySearchesTab" class="twoNavTab" href="#mySearchesTabContent">My Searches</div>
        </div>
    </div>
    <div id="mainSubheader" align="left">
        <div id="mapToolbar" state="mapSplit">  <!-- states are mapFull, mapSplit, and mapHidden -->
            <div class="mapButtonFull" title="Full Map View"> </div>
            <div class="mapButtonSplit" title="Split View"> </div>
            <div class="mapButtonHidden" title="Hidden Map View"> </div>
        </div>
    </div>

    <div id="navLeftMinimizeArrow"><div id="searchChevron"> </div></div>
    <div id="left2">
        <div id="searchTabContent"> </div>
        <div id="mySearchesTabContent" style="display:none;">
            <h2>Recent Searches</h2>
            <ul class="recent_searches">
            </ul>
            <h2>My Saved Searches</h2>
        <ul class="list_mysearches">
        </ul>
        </div>
    </div>
    <div id="main">
        <div id="mainNewTab">
           <div id="upperMain">
           </div>
           <div id="lowerMain">
           </div>
        </div>
        <div id="mainLegacyTab" style="display:none;">
            
        </div>
	</div>

    {% block inherit_templates %} {% endblock %}

    {% block extra_templates %}
        <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
    {% endblock %}
    
    {% block inherit_vendor_js %}
    <!-- Vendor JavaScripts -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCcEp2hQdftRhaYgonh1Vyv0JYi5KVvFI&amp;sensor=false&amp;libraries=drawing"> </script>
    <script src="/static/visualization/js/markerclusterer.js"> </script>
    <script src="/static/js/jquery-1.9.1.min.js"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
    <script type='text/javascript' src='http://www.google.com/jsapi'> </script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1'}]}"> </script>
            
    <script src="/static/js/underscore-1.4.4.min.js "> </script>
    <script src="/static/js/backbone-1.0.min.js"> </script>
    <script src="/static/js/bootstrap.min.js"> </script>
    <script src="/static/js/backbone.bootstrap-modal.js"> </script>
    <script src="/static/js/less-1.3.3.min.js"> </script>
    <script src="/static/js/jquery.dataTables-1.9.3.js"> </script>
    <script src="/static/js/jquery.dataTables-api-extensions.js"> </script>
    <script src="/static/js/jquery.jscrollpane.min.js"> </script>

    {% endblock %}

    {% block extra_vendor_js %}{% endblock %}

    <!-- UX JavaScripts --> 
    {% block inherit_ionux_js %} {% endblock %}

    <script src="/static/js/ion_ux2.js"> </script>
    <script src="/static/js/ux_bootstrap_models2.js"> </script>
    <script src="/static/js/ux_bootstrap_views2.js"> </script>
    <script src="/static/js/ux-models-map2.js"> </script>
    <script src="/static/js/ux-views-map2.js"> </script>
    <script src="/static/js/ux-views-datatable2.js"> </script>
    <script src="/static/js/uinav.js"> </script>

    {% block extra_ionux_js %}
    {% endblock %}

        
    <script>
        function buildAdminMenu(){
            $('#adminMenu').html('');
            $('#adminMenu').append('<div id="myDashboard" class="adminMenuTab" style="display:inline-block;">Search Results</div>');
            $('#myDashboard').click(function(e) {
                IONUX2.setPageView("searchResults");
                if(IONUX2.getMapState() == "mapHidden"){
                    IONUX2.setMapState('mapSplit');
                }
            });

            // ***** These menu items not added yet until functionality is available for them. ****
            if(false){
                // commenting out the temporary load lines so the page doesn't do unexpected shocking
                // things that might upset testers and customers.

                $('#adminMenu').append('<div id="dataProcessing" class="adminMenuTab" style="display:none;">Data Processing</div>');

                $('#adminMenu').append('<div id="instrumentManagement" class="adminMenuTab" style="display:none;">Instrument Mgmt</div>');
            
                $("#dataProcessing").click(function(e){
                    // $("#lowerMain").html(IONUX2.getTemplate('templates/blockDataProcessing.html')).show();
                    $(".mapButtonHidden").click();
                });

                $("#instrumentManagement").click(function(e){
                    // $("#lowerMain").html(IONUX2.getTemplate('templates/blockInstrumentManagement.html')).show();
                    $(".mapButtonHidden").click();
                });
            }

            if(IONUX2.has_permission(['INSTRUMENT_OPERATOR','DATA_OPERATOR','OBSERVATORY_OPERATOR','ORG_MANAGER','ION_MANAGER'])){

                $('#adminMenu').append('<div id="assetTracking" class="adminMenuTab" style="display:inline-block;">Asset Tracking</div>');

                $('#assetTracking').click(function(e) {
                    IONUX2.setPageView("assetTracking");
                });
                
                $('#adminMenu').append('<div id="resourceManagement" class="adminMenuTab" style="display:inline-block;">Resource Mgmt</div>');
                $('#resourceManagement').click(function(e) {
                    IONUX2.setPageView("createResource");
                });
            }

            // ***** These menu items not added yet until functionality is available for them. ****
            if(false){
                $('#adminMenu').append('<div id="deployments" class="adminMenuTab" style="display:none;">Deployments</div>');

                $("#deployments").click(function(e){
                    // $("#lowerMain").html(IONUX2.getTemplate('templates/blockDeployments.html')).show();
                    $(".mapButtonHidden").click();
                });
            }
            
        }

        var viewStates = {
            'searchResults' : {
                landingPageId:'searchResultsLandingPage',
                tab:'dataSearchResultsTab',
                block: 'templates/block_search_results2.html',
                mapState: 'mapSplit'
            },
            'facePage' : {
                landingPageId:'searchResultsLandingPage',
                tab:'legacyFacePageTab',
                block: '',
                mapState: 'mapHidden'
            },
            'createResource' : {
                landingPageId:'resourceManagementLandingPage',
                tab:'createResourceTab',
                block: 'templates/block_create_resource.html',
                mapState: 'mapHidden'
            },
            'editResource' : {
                landingPageId:'resourceManagementLandingPage',
                tab:'editResourceTab',
                block: 'templates/block_create_resource.html',
                mapState: 'mapHidden'
            },
            'assetTracking' : {
                landingPageId:'assetTrackingLandingPage',
                tab:'',
                block: 'templates/block_asset_tracking.html',
                mapState: 'mapHidden'
            }
        };

        /* page view states are searchResults, resourceManagement */

        IONUX2.setPageView = function(viewState, tab) {

            tab = typeof tab !== 'undefined' ? tab : "";
            console.log(viewState);
            console.log(viewStates[viewState]);
            landing_id = viewStates[viewState].landingPageId;
            // console.log(landingPages[viewState]);
            // landing_id = landingPages[viewState].id;
            if($('#'+landing_id).length == 0){
                var newDiv = $('<div/>', {
                    id : landing_id
                });
                $('#lowerMain').append(newDiv);
                newDiv.html(IONUX2.getTemplate(viewStates[viewState].block));
            }
            $('#'+landing_id).show().siblings().hide();

            if(!viewStates[viewState].mapState == ''){
                IONUX2.setMapState(viewStates[viewState].mapState);
            }

            if(tab == ""){
                if(!viewStates[viewState].tab == ""){
                    tab = viewStates[viewState].tab;
                }
            }

            // any special situation handling...
            switch(viewState){
                case "searchResults": if($("#legacyFacePageTab").hasClass('active')){
                                            tab = "dataSearchResultsTab";
                                        } else {
                                            tab = "";
                                        }
                                    break;
                case "resourceManagement" : break;
                case "assetTracking" : break;

            }

            if(!tab == ""){
                jqTab = $("#" + tab);
                jqTab.show();
                jqTab.addClass('active').siblings().removeClass('active');
                tab_content = jqTab.attr("tabContent");
                $(tab_content).siblings().hide();
                $(tab_content).show();
            }
            
        }

        /* states are mapFull, mapSplit, and mapHidden */

        IONUX2.getMapState = function() {
            return $('#mapToolbar').attr('state');
        }

        IONUX2.setMapState = function(state) {
            if(!(IONUX2.getMapState() == state)){
                $('#mapToolbar').attr('state', state);
                var center = IONUX2.Dashboard.MapView.map.getCenter();
                var zoom = IONUX2.Dashboard.MapView.map.getZoom();
                console.log('** STATE **' + state);
                switch(state){
                    case "mapFull": $("#upperMain").css("height", "100%");
                                    $("#lowerMain").css("height", "0%");
                                    $("#lowerMain").css("top", "100%");
                                    break;
                    case "mapSplit": $("#upperMain").css("height", "60%");
                                    $("#lowerMain").css("height", "40%");
                                    $("#lowerMain").css("top", "60%");
                                    break;
                    case "mapHidden": $("#upperMain").css("height", "0%");
                                    $("#lowerMain").css("height", "100%");
                                    $("#lowerMain").css("top", "0%");
                                    break;
                    default: $("#upperMain").css("height", "100%");
                            $("#lowerMain").css("height", "0%");
                            $("#lowerMain").css("top", "100%");
                            break;
                }                
                $(window).trigger('resize');
                google.maps.event.trigger(IONUX2.Dashboard.MapView.map,'resize');
                IONUX2.Dashboard.MapView.map.setCenter(center);
                IONUX2.Dashboard.MapView.map.setZoom(zoom);
            }
        }

        // Initialize the page now.
        $(function(){

            IONUX2.init();

            buildAdminMenu();

            IONUX2.setPageView('searchResults');

            //Backbone.history.start(/*{pushState:true, hashChange: false}*/);

            $(".mapButtonFull").click(function(){
                IONUX2.setMapState('mapFull');
            });

            $(".mapButtonSplit").click(function(){
                IONUX2.setMapState('mapSplit');
            });
            
            $(".mapButtonHidden").click(function(){
                IONUX2.setMapState('mapHidden');
            });

           
        IONUX2.Views.loadSearchCollection = new IONUX2.Views.LoadSearchCollection({collection: IONUX2.Collections.userProfileInstance});
        IONUX2.Views.loadRecentSearches = new IONUX2.Views.LoadRecentSearches({collection: IONUX2.Collections.recentSearches});

        IONUX2.executeSearchFromModel = function(searchModel, index){
            //reset search results
            IONUX2.resetSearch();

            UINAV.disableMapEventHandling = true;

            console.log('Executing search at list index:');
            console.log(index);

            var reverseIndex = searchModel.length - index - 1;
            console.log('Model index:');
            console.log(reverseIndex);
            console.log('Model length:');
            console.log(searchModel.length);
            
            UINAV.loadLeftNav(searchModel.models[reverseIndex].toJSON(), 0);
                
            // open Search tab
            $('#searchTab').trigger('click');
            // execute search
            $('#searchBtn').click();

            UINAV.disableMapEventHandling = false;
        }

        var disableMapEventHandling = false;
        $('#mySearchesTab').on('click', function(e) {
            e.preventDefault();

            IONUX2.Views.loadSearchCollection.render();
            IONUX2.Views.loadRecentSearches.render();
            
            // loop through list of saved searches
            $('.savedSearch').each(function(index) {
                
                $(this).on('click', function(e) {
                    e.preventDefault();

                    var searchModel = IONUX2.Collections.userProfileInstance;

                    IONUX2.executeSearchFromModel(searchModel, index);

                });
            });

            $('.recentSearch').each(function(index) {
                $(this).on('click', function(e) {
                    e.preventDefault();
                    var searchModel = IONUX2.Collections.recentSearches;

                    IONUX2.executeSearchFromModel(searchModel, index);

                });
            });
            
            // delete saved search
            $('.list_mysearches li').each(function(index) {
                $(this).find('.deleteSearch').on('click', function(e) {
                    e.preventDefault();
                    // store saved search in temp collection
                    IONUX2.Collections.deleteSearch.set(IONUX2.Collections.userProfileInstance.models[0].attributes.saved_searches);
                    // get model to delete
                    var deleteModel = IONUX2.Collections.deleteSearch.at(index);
                    // remove model from temp collection
                    IONUX2.Collections.deleteSearch.remove(deleteModel);
                    // set temp collection to main collection
                    IONUX2.Collections.userProfileInstance.models[0].set({saved_searches: IONUX2.Collections.deleteSearch.toJSON()});
                    // remove model from the view
                    $(this).parent().remove();
                    // post main collection to server
                    var savedSearches = JSON.stringify(IONUX2.Collections.userProfileInstance);
                    UINAV.postSavedSearches(savedSearches);
                });
            });
        });

            // ********** Nav Tabs support **************
            // tab support for the nav section.
            $("#leftSubheader .twoNavTab").click(function(e){
                var target = $(e.target);
                target.addClass('active').siblings().removeClass('active');
                tab_content = target.attr("href");
                $(tab_content).siblings().hide();
                $(tab_content).show();
            });

            // ****** Hide/Show of search left side ******
            // when the hide/show button is clicked, some jquery animation is triggered
            // to slide several page sections around.
            $('#navLeftMinimizeArrow').click(function(e){
                var center = IONUX2.Dashboard.MapView.map.getCenter();
                var zoom = IONUX2.Dashboard.MapView.map.getZoom();
                if ($(this).hasClass('collapsed')) {
                    $(this).animate({
                       left: '275px'
                    }, { 
                        duration: 200, 
                        queue: false,
                        complete: function(){
                            $(this).removeClass('collapsed');
                            $(this).attr('style', 'left:250px');
                            $(this).html('<div id="searchChevron"> </div>');
                        }
                    });
                    $('#left2').animate({
                       left: '0px',
                    }, { duration: 200, 
                        queue: false,
                        complete: function(){
                            $("#main").css({left:'275px', width:'calc(100% - 275px)'});
                            $("#mainSubheader").css({left:'275px', width:'calc(100% - 275px)'});
                            $(window).trigger('resize');
                            google.maps.event.trigger(IONUX2.Dashboard.MapView.map,'resize');
                            IONUX2.Dashboard.MapView.map.setCenter(center);
                            IONUX2.Dashboard.MapView.map.setZoom(zoom);
                        }
                    });
                    $("#leftSubheader").animate({
                       left: '0px'
                    }, { duration: 200, queue: false });
                    
                    /*$("#main").animate({
                       left: '275px',
                       width: '-=275px'
                    }, { duration: 200, queue: false });*/
                    
                    /*$("#mainSubheader").animate({
                       left: '275px',
                       width: '-=275px'
                    }, { duration: 200, queue: false });*/
                } else {
                    $(this).addClass('collapsed');
                    $(this).attr('style', 'left:275px');
                    $(this).html('Search<div id="searchChevron"> </div>');
                    
                    $(this).animate({
                       left: '0px'
                    }, { duration: 200, queue: false });
                    $('#left2').animate({
                       left: '-275px',
                    }, { duration: 200, queue: false });
                    $("#leftSubheader").animate({
                       left: '-275px'
                    }, { duration: 200, queue: false });
                    $("#main").css({left:'0px', width:'100%'});
                    /*$("#main").animate({
                       left: '0px',
                       width: '100%'
                    }, { duration: 200, queue: false });*/
                    $("#mainSubheader").css({left:'0px', width:'100%'});
                    /*$("#mainSubheader").animate({
                       left: '0px',
                       width: '100%'
                    }, { duration: 200, queue: false });*/
                    $(window).trigger('resize');
                    google.maps.event.trigger(IONUX2.Dashboard.MapView.map,'resize');
                    IONUX2.Dashboard.MapView.map.setCenter(center);
                    IONUX2.Dashboard.MapView.map.setZoom(zoom);
                }
                
            });
            
            // ************ Save UI state. *************
            // Collect information about UI state which is then put into one big
            // JSON to be sent to server and saved there (by whatever means it chooses.)
           $('#saveConfigBtn').on('click', function(e) {
                e.preventDefault();

                var sortable_order = $( "#searchTabContent" ).children('.accordionContainer').sortable( "toArray" );
                // var tabs = $('#searchResultsTabContainer .twoNavTab.active').attr('tabcontent');

                var accordions = $(".accordionContainerWhite");
                console.log("****  Accordions ****");
                console.log(accordions);

                var searchResultSortables = {};
                accordions.each(function(index) {
                    console.log(index);
                    console.log($(this)); // accordion
                    var accordion = $(this);
                    var id = accordion.parent().attr("id");
                    console.log(id);
                    searchResultSortables[id] = accordion.sortable("toArray");
                });

                IONUX2.Collections.userConfiguration.set({
                    'configuration': {
                        'spatialElem': $('#spatial').is(':visible'),
                        'temporalElem': $('#temporal').is(':visible'),
                        'orgSelectorElem': $('#orgSelector').is(':visible'),
                        'siteElem': $('#site').is(':visible'),
                        'platformTypesListElem': $('#platformTypesList').is(':visible'),
                        'dataTypesListElem': $('#dataTypesList').is(':visible'),
                        'boolean_expressionElem': $('#boolean_expression').is(':visible'),
                        'instrumentElem': $('#instrument').is(':visible')
                    },
                    'sortable_order': sortable_order,
                    'searchResultSortables': searchResultSortables
                });

                var userConfiguration = JSON.stringify(IONUX2.Collections.userConfiguration);
                UINAV.postUserConfiguration(userConfiguration);
            });
            
            // ************ Load UI state. *************
            // !! Intended to be temporary for testing!!!
            // Load server JSON of UI state (and saved searches) and then set UI to match.
            $('#resetConfigBtn').on('click', function(e) {
                e.preventDefault();
                UINAV.postUserConfiguration("");
                location.reload();
            });

        });

        {% block document_ready %}
        {% endblock %}

    </script>
</body>
</html>
