<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>OOI Integrated Observatory Network</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />
		
		<!-- CSS themes will be a user preference (light and dark) -->
		<link rel="stylesheet" href="/static/css/dark.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/dark-datatable.css" type="text/css" />
		{% block extra_css %}{% endblock %}
	</head>
	<body>
	    
	    <div class="wrapper">
    		<div class="loader">Loading...</div>
            <div id="header" class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6"><img id="ooi-logo" src="/static/img/ooi-logo.png" alt="OOI" width="100" /></div>
                        <div class="span6 navigation">
                            <a id="signup" href="#" class="btn-navigation filter">Create Account</a>
                            <a id="login" href="https://ux-dev.oceanobservatories.org/login/" class="external btn-navigation filter">Sign In</a>
    						<a id="userprofile" href="/userprofile/" class="btn-navigation filter">User Profile</a>
                            <a id="logout" href="/logout/" class="btn-navigation filter">Logout</a>
                            <a id="help" href="#" class="btn-navigation-plain">Help</a>
                        </div>
                    </div>                
                </div>
            </div>
    		<div id="container" class="container-fluid">
    		    <div class="row-fluid">
    				<div id="sidebar" class="span2">
    					<div class="sidebar-map">
    						<img src="/static/img/r2/placeholder_map.png" />
    					</div>
    					<input id="sidebar-search" class="textfield" type="text" /><br />
                        <a class="btn-advanced-search" href="#">Advanced Search</a>
                        <span class="sidebar-section">OOI Collections (Dev)</span>
    					<ul class="main-nav">
    						<li class="data"><a href="/DataProduct/list/">Data Product</a></li>
    						<li class="observatories"><a href="/Observatory/list/">Observatory</a></li>
    						<li class="platforms"><a href="/PlatformDevice/list/">Platform</a></li>
    						<li class="instruments"><a href="/InstrumentDevice/list/">Instrument</a></li>
    						<li class="users"><a href="/UserInfo/list/">User</a></li>
    					</ul>
    					<span class="sidebar-section">OOI Facepages (Dev)</span>
    					<ul class="main-nav">
    						<li class="data"><a href="/DataProduct/face/123/">Data Product</a></li>
    						<li class="observatories"><a href="/Observatory/face/123/">Observatory</a></li>
    						<li class="platforms"><a href="/PlatformDevice/face/123/">Platform</a></li>
    						<li class="instruments"><a href="/InstrumentDevice/face/123/">Instrument</a></li>
    						<li class="users"><a href="/UserInfo/face/123/">User</a></li>
    					</ul>
    			    </div> <!-- div#sidebar -->
    				<div id="info" class="span10">
    	                <div id="dynamic-container" class="viewcontainer"> </div>
    				</div>
    			</div> <!-- div.row -->
    		 </div> <!-- div.container-fluid -->
	    </div> <!-- div.wrapper -->

        <!-- Kept for reference/use -->
		<script type="text/template" id="hybrid-instrument-tmpl"><![CDATA[{% include 'partials/hybrid_instrument_facepage.html' %}]]></script>
		<script type="text/template" id="hybrid-platform-tmpl"><![CDATA[{% include 'partials/hybrid_platform_facepage.html' %}]]></script>
		<script type="text/template" id="hybrid-observatory-tmpl"><![CDATA[{% include 'partials/hybrid_observatory_facepage.html' %}]]></script>
        <script type="text/template" id="hybrid-data-product-tmpl"><![CDATA[{% include 'partials/hybrid_data_product_facepage.html' %}]]></script>
        <script type="text/template" id="hybrid-user-tmpl"><![CDATA[{% include 'partials/hybrid_user_facepage.html' %}]]></script>
        <script type="text/template" id="hybrid-resource-tmpl"><![CDATA[{% include 'partials/hybrid_resource_facepage.html' %}]]></script>
        <script type="text/template" id="hybrid-information-resource-tmpl"><![CDATA[{% include 'partials/hybrid_information_resource_facepage.html' %}]]></script>
		<script type="text/template" id="instrument-command-facepage-tmpl"><![CDATA[{% include 'partials/instrument_command_facepage.html' %}]]></script>
		<script type="text/template" id="user-request-item-tmpl"><![CDATA[{% include 'partials/user_request_item.html' %}]]></script>
        <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>

        <!-- Widgets -->
        <script type="text/template" id="collection"><![CDATA[{% include 'partials/collection.html' %}]]></script>
		<script type="text/template" id="dyn-attr-group-tmpl"><![CDATA[{% include 'partials/dyn_attr_group.html' %}]]></script>
		<script type="text/template" id="dyn-table-tmpl"><![CDATA[{% include 'partials/dyn_table.html' %}]]></script>
		<script type="text/template" id="dyn-chart-tmpl"><![CDATA[{% include 'partials/dyn_chart.html' %}]]></script>
		<script type="text/template" id="dyn-graph-tmpl"><![CDATA[{% include 'partials/dyn_graph.html' %}]]></script>
		<script type="text/template" id="dyn-image-tmpl"><![CDATA[{% include 'partials/dyn_image.html' %}]]></script>
		<script type="text/template" id="dyn-map-tmpl"><![CDATA[{% include 'partials/dyn_map.html' %}]]></script>
		<script type="text/template" id="dyn-pdf-tmpl"><![CDATA[{% include 'partials/dyn_pdf.html' %}]]></script>
		<script type="text/template" id="dyn-text-tmpl"><![CDATA[{% include 'partials/dyn_text.html' %}]]></script>
		<script type="text/template" id="dyn-text-icon-tmpl"><![CDATA[{% include 'partials/dyn_text_icon.html' %}]]></script>
		<script type="text/template" id="dyn-undefined-tmpl"><![CDATA[{% include 'partials/dyn_undefined.html' %}]]></script>
        {% block extra_templates %} {% endblock %}

		<!-- Vendor JavaScripts -->
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"> </script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"> </script>
		<script type="text/javascript" src="/static/js/json2.js"> </script>
		<script type="text/javascript" src="/static/js/underscore-1.3.3.min.js "> </script>
		<script type="text/javascript" src="/static/js/backbone-0.9.2.min.js"> </script>
        <script type="text/javascript" src="/static/js/jquery.dataTables-1.9.3.js"> </script>
        <script type="text/javascript" src="/static/js/jquery.dataTables-api-extensions.js"> </script>
		<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"> </script>
		<script type="text/javascript" src="/static/js/jquery.mousewheel.js"> </script>
		<script src="/static/js/less-1.2.1.min.js" type="text/javascript"> </script>
        {% block extra_vendor_js %} {% endblock %}

		<!-- UX JavaScripts -->	
		<script src="/static/js/ion-ux.js" type="text/javascript"> </script>
        <script src="/static/js/ux-interactions.js" type="text/javascript"> </script>
		<script src="/static/js/ux-models.js" type="text/javascript"> </script>
		<script src="/static/js/ux-collections.js" type="text/javascript"> </script>
		<script src="/static/js/ux-views.js" type="text/javascript"> </script>
		<script src="/static/js/ux-router.js" type="text/javascript"> </script>
		<script src="/static/js/init.js" type="text/javascript"> </script>
        <script type="text/javascript" src="/static/js/ux-views-datatable.js"> </script>
        
        {% block extra_ionux_js %} {% endblock %}
		
		<script type="text/javascript" charset="utf-8">
            {% block document_ready %}
                
            {% endblock %}
		</script>
		
	</body>
</html>
