<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>OOI Integrated Observatory Network</title>

        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <!-- <link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" /> -->
        <link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap/less/bootstrap.min.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />


        <link rel="stylesheet" href="/static/css/common.css" type="text/css" />

        {% if production %}
            <link rel="stylesheet" class="pepper" href="/static/css/pepper_images.css" disabled="true" />
            <link rel="stylesheet" class="salt" href="/static/css/salt_images.css" />
        {% else %}
            <link rel="stylesheet/less" class="pepper" href="/static/css/pepper_images.less" disabled="true" />
            <link rel="stylesheet/less" class="salt" href="/static/css/salt_images.less" />
        {% endif %}

        <link rel="stylesheet" class="pepper" href="/static/css/pepper.css" type="text/css" disabled="true" />
        <link rel="stylesheet" class="salt" href="/static/css/salt.css" type="text/css"/>
        
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
          <div class="navbar navbar-fixed-top">
            <div id="header">
              <div class="container-fluid">
                <div class="row-fluid">
                  <div class="span6">
                    <a href="http://www.oceanobservatories.org/" title="Ocean Observatories Initiative"><img id="ooi-logo" src="/static/img/newbanner_ooilogo.png" alt="OOI" /></a>
                  </div>
                  <div id="topbar" class="span6 user-nav"> </div> <!-- User navigation -->
                </div>
              </div>
            </div> <!-- header -->
          </div>
        <div id="container" class="container-fluid">
          <div class="row-fluid dashboard-search">
            <div id="view-controls" class="span2" style="display:none;">
              <button id="btn-map" class="btn-view active">Map</button>
              <button id="btn-resources" class="btn-view">Resources</button>
            </div>
            <div id="search-production" class="span10"> </div>
          </div>
          <div class="row-fluid" style="height:100%">

            <div id="left" class="span2">
              <div class="map-view" style="display:none;">
                <div id="observatory-selector" class=""> </div>
                <h3 id="map-filter-heading">Filter</h3>
                <div id="map-asset-data-menu" class="" style=""> </div>
                <div id="map-data-filter" class="dataproduct-mode"> </div>
                <div id="map-filter" class="asset-mode" style="display:none;"> </div>
              </div> <!-- .map-view -->
              
              <div class="resources-view" style="display:none;">
                <div id="org-selector" class="resources-view" style=""> </div>
                <div id="list-filter" class="resources-view" style=""> </div>
              </div> <!-- .resources-view -->
              
              <div class="nsf-ol">
                <div class="logos">
                  <div class="nsf"> </div>
                  <div class="ol"> </div>
                </div>
                <div class="about">
                  Funding for the <a href="http://www.oceanobservatories.org/" target="OOI">Ocean Observatories Initiative</a> is provided by the <a href="http://www.nsf.gov" target="NSF">National Science Foundation</a> through a Cooperative Agreement with the <a href="http://www.oceanleadership.org/" target="COL">Consortium for Ocean Leadership</a>.
                </div>
              </div>
              
              
            </div> <!-- div#sidebar -->
            <div id="dynamic-container" class="span10" style="display:none;height:100%"> </div>
          </div> <!-- div.row -->
        </div> <!-- div.container-fluid -->
	    </div> <!-- div.wrapper -->
        
        <!-- <div id="footer"> </div> -->
        <script type="text/template" id="dashboard-map-tmpl">
          <div id="map_canvas" style="display:none;"> </div>
          <div id="map_bounds"></div>
          <div id="2163993" style="display:none;"> </div>
        </script>
        <script type="text/template" id="dashboard-resources-tmpl">
          <div id="2163993">
            <p id="select-facility">Select a Facility</p>
          </div>
        </script>
        
        
        <script type="text/template" id="dashboard-content-tmpl"><![CDATA[{% include 'partials/dashboard_content.html' %}]]></script>
        <script type="text/template" id="dashboard-observatory-list-tmpl"><![CDATA[{% include 'partials/dashboard_observatory_list.html' %}]]></script>
        <script type="text/template" id="dashboard-org-list-tmpl"><![CDATA[{% include 'partials/dashboard_org_list.html' %}]]></script>
        
        <script type="text/template" id="topbar-tmpl"><![CDATA[{% include 'partials/topbar.html' %}]]></script>
        <script type="text/template" id="edit-resource-tmpl"><![CDATA[{% include 'partials/edit_resource.html' %}]]></script>
        <script type="text/template" id="user-profile-modal-tmpl"><![CDATA[{% include 'partials/user_profile_modal.html' %}]]></script>
        <script type="text/template" id="create-account-modal-tmpl"><![CDATA[{% include 'partials/create_account_modal.html' %}]]></script>
        <script type="text/template" id="create-resource-modal-tmpl"><![CDATA[{% include 'partials/create_resource_modal.html' %}]]></script>
        <script type="text/template" id="resource-add-attachment-tmpl"><![CDATA[{% include 'partials/attachment.html' %}]]></script>
        <script type="text/template" id="attachment-zoom-tmpl"><![CDATA[{% include 'partials/attachment_zoom.html' %}]]></script>
        <script type="text/template" id="sidebar-production-tmpl"><![CDATA[{% include 'partials/sidebar_production.html' %}]]></script>
        <script type="text/template" id="sidebar-development-tmpl"><![CDATA[{% include 'partials/sidebar_development.html' %}]]></script>
        <script type="text/template" id="taskable-command-facepage-tmpl"><![CDATA[{% include 'partials/taskable_command_facepage.html' %}]]></script>
        <script type="text/template" id="instrument-command-facepage-tmpl"><![CDATA[{% include 'partials/instrument_command_facepage.html' %}]]></script>
        <script type="text/template" id="instrument-command-tmpl"><![CDATA[{% include 'partials/instrument_command.html' %}]]></script>
        <script type="text/template" id="platform-command-facepage-tmpl"><![CDATA[{% include 'partials/platform_command_facepage.html' %}]]></script>
        <script type="text/template" id="user-request-item-tmpl"><![CDATA[{% include 'partials/user_request_item.html' %}]]></script>
        <script type="text/template" id="advanced-search-tmpl"><![CDATA[{% include 'partials/adv_search.html' %}]]></script>
        <script type="text/template" id="filter-item-tmpl"><![CDATA[{% include 'partials/filter_item.html' %}]]></script>
        <script type="text/template" id="resource-add-event-tmpl"><![CDATA[{% include 'partials/resource_add_event.html' %}]]></script>
        <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
        <script type="text/template" id="attribute-group-tmpl"><![CDATA[<div class="content-wrapper"><% if (label != 'NO LABEL') { %><h4><%= label %></h4><% } %></div>]]></script>
        <script type="text/template" id="text-static-tmpl"><![CDATA[<%= text_static %>]]></script>
        <script type="text/template" id="text-short-tmpl"><![CDATA[<span class="upcase" style="width: 100px; display:inline;"><%= label %></span>: <%= text_short %>]]></script>
        <script type="text/template" id="icon-tmpl"><i class="icon-cog icon-white"></i></script>
        <script type="text/template" id="image-tmpl"><i class="icon-picture icon-white"></i></script>
        <script type="text/template" id="badge-tmpl"><![CDATA[<span class="label label-important" style="background-color:#3a87ad;color:white;"><%= badge %></span>]]></script>
        <script type="text/template" id="list-tmpl"><![CDATA[{% include 'partials/list.html' %}]]></script>
        <script type="text/template" id="checkbox-tmpl"><![CDATA[{% include 'partials/checkbox.html' %}]]></script>
        <script type="text/template" id="subscribe-tmpl"><![CDATA[{% include 'partials/subscribe.html' %}]]></script>
        <script type="text/template" id="notifications-tmpl"><![CDATA[{% include 'partials/notifications.html' %}]]></script>
        <script type="text/template" id="notification-item-tmpl"><![CDATA[{% include 'partials/notification_item.html' %}]]></script>
        <script type="text/template" id="lifecycle-tmpl"><![CDATA[{% include 'partials/lifecycle.html' %}]]></script>
        <script type="text/template" id="extent-geospatial-tmpl"><![CDATA[{% include 'partials/extent_geospatial.html' %}]]></script>
        <script type="text/template" id="extent-geospatial2-tmpl"><![CDATA[{% include 'partials/extent_geospatial2.html' %}]]></script>
        <script type="text/template" id="extent-vertical-tmpl"><![CDATA[{% include 'partials/extent_vertical.html' %}]]></script>
        <script type="text/template" id="extent-vertical2-tmpl"><![CDATA[{% include 'partials/extent_vertical2.html' %}]]></script>
        <script type="text/template" id="extent-temporal-tmpl"><![CDATA[{% include 'partials/extent_temporal.html' %}]]></script>
        <script type="text/template" id="enroll-request-tmpl"><![CDATA[{% include 'partials/enroll_request.html' %}]]></script>
        <script type="text/template" id="request-role-tmpl"><![CDATA[{% include 'partials/request_role.html' %}]]></script>
        <script type="text/template" id="invite-user-tmpl"><![CDATA[{% include 'partials/invite_user.html' %}]]></script>
        <script type="text/template" id="offer-user-role-tmpl"><![CDATA[{% include 'partials/offer_user_role.html' %}]]></script>
        <script type="text/template" id="request-exclusive-access-tmpl"><![CDATA[{% include 'partials/request_exclusive_access.html' %}]]></script>
        <script type="text/template" id="negotiation-commands-tmpl"><![CDATA[{% include 'partials/negotiation_commands.html' %}]]></script>
        <script type="text/template" id="activate-as-primary-deployment"><![CDATA[{% include 'partials/activate_primary_deployment.html' %}]]></script>
        <script type="text/template" id="activate-as-primary-deployment-confirm"><![CDATA[{% include 'partials/activate_primary_deployment_confirm.html' %}]]></script>
        <script type="text/template" id="deactivate-as-primary-deployment"><![CDATA[{% include 'partials/deactivate_primary_deployment.html' %}]]></script>
        <script type="text/template" id="new-roles-tmpl"><![CDATA[{% include 'partials/new_roles.html' %}]]></script>
        <script type="text/template" id="error-tmpl"><![CDATA[{% include 'partials/error.html' %}]]></script>

        {% block extra_templates %} {% endblock %}
        
        <!-- Vendor JavaScripts -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCcEp2hQdftRhaYgonh1Vyv0JYi5KVvFI&amp;sensor=false&amp;libraries=drawing"> </script>
        <script src="/static/visualization/js/markerclusterer.js"> </script>
        
        <script type='text/javascript' src='http://www.google.com/jsapi'> </script>
        <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1'}]}"> </script>
                
        <script src="/static/js/jquery-1.9.1.min.js"> </script>
        <script src="/static/js/bootstrap-datepicker.js"> </script>
        <script src="/static/js/jquery.cookie.js"> </script>
        
        <script src="/static/js/spin.min.js"> </script>
        <script src="/static/js/bootstrap.min.js"> </script>
        <script src="/static/js/json2.js"> </script>
        <script src="/static/js/underscore-1.4.4.min.js "> </script>
        <script src="/static/js/backbone-1.0.min.js"> </script>
        <script src="/static/js/backbone-forms.js"> </script>
        <script src="/static/js/bootstrap-forms.js"> </script>
        <script src="/static/js/list.js"> </script>
        <script src="/static/js/jquery.dataTables-1.9.3.js"> </script>
        <script src="/static/js/jquery.dataTables-api-extensions.js"> </script>
        <script src="/static/js/jquery.jscrollpane.min.js"> </script>
        <script src="/static/js/jquery.mousewheel.js"> </script>
        <script src="/static/js/jquery.iframe-transport.js"> </script>
        <script src="/static/js/jquery.ui.widget.js"> </script>
        <script src="/static/js/jquery.fileupload.js"> </script>
        <script src="/static/js/less-1.3.3.min.js"> </script>
        <script src="/static/js/spin.min.js"> </script>
        <script src="/static/js/underscore.mixin.deepExtend.js"> </script>
        <script src="/static/js/backbone.bootstrap-modal.js"> </script>
        <script src="/static/js/deep-model.js"> </script>
        
        <script src="/static/visualization/js/highcharts/js/highcharts.js"> </script>
        <script src="/static/visualization/js/highcharts/js/modules/exporting.js"> </script>

        {% block extra_vendor_js %} {% endblock %}
        
        <!-- UX JavaScripts -->	
        <script src="/static/js/ion-ux.js"> </script>
        <script src="/static/js/ux-templates.js"> </script>
        <script src="/static/js/ux-interactions.js"> </script>
        <script src="/static/js/ux-models.js"> </script>
        <script src="/static/js/ux-collections.js"> </script>
        <script src="/static/js/ux-views.js"> </script>
        <script src="/static/js/ux-views-errors.js"> </script>
        <script src="/static/js/ux-router.js"> </script>
        <script src="/static/js/init.js"> </script>
        <script src="/static/js/ux-views-datatable.js"> </script>
        <script src="/static/js/ux-views-actionmenu.js"> </script>
        <script src="/static/js/ux-views-helpmenu.js"> </script>
        <script src="/static/js/ux-views-chart.js"> </script>

        <script src="/static/js/ux-views-notifications.js"> </script>
        <script src="/static/js/ux-views-instrument-command.js"> </script>
        <script src="/static/js/ux-views-platform-command.js"> </script>
        <script src="/static/js/ux-views-taskable-command.js"> </script>
        <script src="/static/js/ux-views-dashboard.js"> </script>
        <script src="/static/js/ux-views-thumbnail-chart.js"> </script>
        <script src="/static/js/ux-views-negotiations.js"> </script>
        <script src="/static/js/ux-editform.js"> </script>
        
        {% block extra_ionux_js %} {% endblock %}
        
        <script>
          {% block document_ready %}
          {% endblock %}
        </script>
	</body>
</html>
