<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>OOI Integrated Observatory Network</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />

        <!-- CSS themes will be a user preference (light and dark) -->
        <link rel="stylesheet" href="/static/css/dark.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/dark-datatable.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/dark-geospatial.css" type="text/css" />
        <link rel="stylesheet/less" href="/static/css/images.less" />
        <!-- Development styles -->
        <link rel="stylesheet" href="/static/css/dark-integration.css" type="text/css" />
        
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="loader">Loading...</div>
            <div id="header" class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6"><br /><!-- <img id="ooi-logo" src="/static/img/ooi-logo.png" alt="OOI" width="100" /> --></div>
                        <div id="topbar" class="span6 user-nav"> </div> <!-- User navigation -->
                    </div>                
                </div>
            </div>
    		<div id="container" class="container-fluid">
    		    <div class="row-fluid">
    				<div id="sidebar" class="span2"> </div> <!-- div#sidebar -->
    				<div id="info" class="span10">
    				    <div id="error" style="display:none;"><h1>Error occurred.</h1></div>
    	          <div id="dynamic-container" class="viewcontainer"> </div>
    				</div>
    			</div> <!-- div.row -->
    		 </div> <!-- div.container-fluid -->
	    </div> <!-- div.wrapper -->
        
        <div id="footer"> </div>

        <script type="text/template" id="topbar-tmpl"><![CDATA[{% include 'partials/topbar.html' %}]]></script>
        <script type="text/template" id="edit-resource-tmpl"><![CDATA[{% include 'partials/edit_resource.html' %}]]></script>
        <script type="text/template" id="user-profile-modal-tmpl"><![CDATA[{% include 'partials/user_profile_modal.html' %}]]></script>
        <script type="text/template" id="create-account-modal-tmpl"><![CDATA[{% include 'partials/create_account_modal.html' %}]]></script>
        <script type="text/template" id="resource-add-attachment-tmpl"><![CDATA[{% include 'partials/attachment.html' %}]]></script>
        <script type="text/template" id="sidebar-production-tmpl"><![CDATA[{% include 'partials/sidebar_production.html' %}]]></script>
        <script type="text/template" id="sidebar-development-tmpl"><![CDATA[{% include 'partials/sidebar_development.html' %}]]></script>
        <script type="text/template" id="instrument-command-facepage-tmpl"><![CDATA[{% include 'partials/instrument_command_facepage.html' %}]]></script>
        <script type="text/template" id="user-request-item-tmpl"><![CDATA[{% include 'partials/user_request_item.html' %}]]></script>
        <script type="text/template" id="resource-add-event-tmpl"><![CDATA[{% include 'partials/resource_add_event.html' %}]]></script>
        <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
        <script type="text/template" id="attribute-group-tmpl"><![CDATA[<div class="content-wrapper"><% if (label != 'NO LABEL') { %><h4><%= label %></h4><% } %></div>]]></script>
        <script type="text/template" id="text-static-tmpl"><![CDATA[<%= text_static %>]]></script>
        <script type="text/template" id="text-short-tmpl"><![CDATA[<span class="upcase" style="width: 100px; display:inline;"><%= label %></span>: <%= text_short %>]]></script>
        <script type="text/template" id="icon-tmpl"><i class="icon-cog icon-white"></i></script>
        <script type="text/template" id="image-tmpl"><i class="icon-picture icon-white"></i></script>
        <script type="text/template" id="badge-tmpl"><![CDATA[<span class="label label-important" style="background-color:#3a87ad;color:white;"><%= badge %></span>]]></script>
        <script type="text/template" id="list-tmpl"><![CDATA[{% include 'partials/list.html' %}]]></script>
        <script type="text/template" id="checkbox-tmpl"><![CDATA[{% include 'partials/checkbox.html' %}]]></script>
        <script type="text/template" id="subscribe-tmpl"><![CDATA[{% include 'partials/subscribe.html' %}]]></script>
        <script type="text/template" id="notifications-tmpl"><![CDATA[{% include 'partials/notifications.html' %}]]></script>
        <script type="text/template" id="notification-item-tmpl"><![CDATA[{% include 'partials/notification_item.html' %}]]></script>
        <script type="text/template" id="lifecycle-tmpl"><![CDATA[{% include 'partials/lifecycle.html' %}]]></script>
        <script type="text/template" id="extent-geospatial-tmpl"><![CDATA[{% include 'partials/extent_geospatial.html' %}]]></script>
        <script type="text/template" id="extent-vertical-tmpl"><![CDATA[{% include 'partials/extent_vertical.html' %}]]></script>
        <script type="text/template" id="extent-temporal-tmpl"><![CDATA[{% include 'partials/extent_temporal.html' %}]]></script>
        <script type="text/template" id="enroll-request-tmpl"><![CDATA[{% include 'partials/enroll_request.html' %}]]></script>
        <script type="text/template" id="error-tmpl"><![CDATA[{% include 'partials/error.html' %}]]></script>
        {% block extra_templates %} {% endblock %}
        
        <!-- Vendor JavaScripts -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCcEp2hQdftRhaYgonh1Vyv0JYi5KVvFI&amp;sensor=false"> </script>

        <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1'}]}"> </script>
        <script charset="utf-8">
          google.load('visualization', '1', {'packages': ['annotatedtimeline']});
        </script>
      
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"> </script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"> </script>
        <script type="text/javascript" src="/static/js/json2.js"> </script>
        <script type="text/javascript" src="/static/js/underscore-1.4.4.min.js "> </script>
        <script type="text/javascript" src="/static/js/backbone-0.9.2.min.js"> </script>
        <script src="/static/js/backbone-forms.js"> </script>
        <script src="/static/js/bootstrap-forms.js"> </script>
        <script src="/static/js/list.js"> </script>
        <script src="/static/js/jquery.dataTables-1.9.3.js"> </script>
        <script src="/static/js/jquery.dataTables-api-extensions.js"> </script>
        <script src="/static/js/jquery.jscrollpane.min.js"> </script>
        <script src="/static/js/jquery.mousewheel.js"> </script>
        <script src="/static/js/jquery.iframe-transport.js"> </script>
        <script src="/static/js/jquery.ui.widget.js"> </script>
        <script src="/static/js/jquery.fileupload.js"> </script>
        <script src="/static/js/less-1.2.1.min.js"> </script>

        {% block extra_vendor_js %} {% endblock %}`
        
        <!-- UX JavaScripts -->	
        <script src="/static/js/ion-ux.js"> </script>
        <script src="/static/js/ux-templates.js"> </script>
        <script src="/static/js/ux-interactions.js"> </script>
        <script src="/static/js/ux-models.js"> </script>
        <script src="/static/js/ux-collections.js"> </script>
        <script src="/static/js/ux-views.js"> </script>
        <script src="/static/js/ux-views-errors.js"> </script>
        <script src="/static/js/ux-router.js"> </script>
        <script src="/static/js/init.js"> </script>
        <script src="/static/js/ux-views-datatable.js"> </script>
        <script src="/static/js/ux-views-actionmenu.js"> </script>
        <script src="/static/js/ux-views-helpmenu.js"> </script>
        <script src="/static/js/ux-views-chart.js"> </script>
        <script src="/static/js/ux-views-edit-resource.js"> </script>
        <script src="/static/js/ux-views-notifications.js"> </script>
        <script src="/static/js/ux-views-instrument-command.js"> </script>
        <script src="/static/js/ux-views-platform-command.js"> </script>
        <script src="/static/js/ux-views-negotiations.js"> </script>

        {% block extra_ionux_js %} {% endblock %}
        
        <script>
          {% block document_ready %}
          {% endblock %}
        </script>
	</body>
</html>
