
	<div class="select_all">
		<input class="checkAll" type="checkbox"/> Select All
	</div>
	<div class="list_regions">
		<!-- <div class="accordionContainer"> -->
			<form action="">
			
    		<% _.each(resources, function(nested_resources, san) { %>
    			<!-- <article class="leftAccordion">
					<span class="accordionTitle">
					  <div class="expandHide arrowRight"> </div><div class="accordionLabel"><%= san %></div>
					</span>
					<div class="leftAccordionContents align_left" style="display:none;"> -->
    				<input id="region_item" type="checkbox" data-spatial="<%= san %>"/><span> <%= san %></span>
    					<% var count = 0; %>
		    			<% _.each(nested_resources, function(nest) { %>
		    				<% count++; %>
			                <% if (nest.local_name) { %>
			                	<!-- <input class="region_item" type="checkbox" /><div class="resourceLink" data-id="<%= nest._id %>"> <%= nest.local_name %></div><br/> -->
			                  	<div style="display: none"><%= nest.local_name %></div>
			                <% } else { %>
			                	<!-- <input class="region_item" type="checkbox" /><div class="resourceLink" data-id="<%= nest._id %>"> <%= nest.name %></div><br/> -->
			                  	<div style="display: none"><%= nest.name %></div>
			                <% }; %>
		    			<% }); %>
		    			<span> (<%= count %>)</span><br/>
		    		<!-- </div>
		    	</article> -->
    		<% }); %>
			</form>
		<!-- </div> -->
	</div>
 </div>

<!-- <script>
    $(function(){
        $(".list_regions .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate(url, {trigger:true});
        });
    });
</script> -->
