<div class="select_all">
    <input class="checkAllSites" type="checkbox"/> Select All
</div>
<div class="list_sites">
    <form action="">
        <% _.each(this.collection.models, function(site) { %>
        	<input id="site_item" class="resource_id" data-id="<%= site.attributes._id %>" data-sites="<%= site.attributes.spatial_area_name %>" type="checkbox"/><div class="resourceLink" data-id="<%= site.attributes._id %>">
        	<% if (site.attributes.local_name) { %>
        		<%= site.attributes.local_name %><br/>
            <% } else { %>
    			<%= site.attributes.name %><br/>
            <% }; %>
            </div><br/>
        <% }) %>
    </form>
</div>

<script>
    $(function(){
        $(".list_sites .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate('');
            IONUX.ROUTER.navigate(url, {trigger:true});
            $('#mapButtonHidden').click();
        });
    });
</script>