    <div class="leftNaviSelectContainer">
      <select class="temporal_menu" id="tempSelect">
        <option value="temporal_range">Temporal Range</option>
        <option value="ts_created">Time Created</option>
        <option value="ts_updated">Time Updated</option>
        <!--
        <option value="1">Data Collection</option>
        <option value="2">Planned Timestamps</option>
         <option value="3">Deployed Timestamps</option>
         <option value="4">Activated Timestamps</option>
       -->
      </select>
      <div class="leftNaviSelectArrow"></div>
    </div>
		<div>From</div>
		<div class='date-dropdown from_date_menu' >
			<select class="dateMenu year" id="tempFromYear"></select>
			<select class="dateMenu month" id="tempFromMonth"></select>
   		<select class="dateMenu day" id="tempFromDay"></select>
      <select class="dateMenu hour" id="tempFromHour"></select>
    </div>
		<div>To</div>
		<div class='date-dropdown to_date_menu'>
			<select class="dateMenu year" id="tempToYear"></select>
			<select class="dateMenu month" id="tempToMonth"></select>
   		<select class="dateMenu day" id="tempToDay"></select>
      <select class="dateMenu hour" id="tempToHour"></select>
    </div>
  <script type="text/javascript">
  
  /** Init **/
  $(function(){
    initDatePicker();
    initDateDropDown();
  });
  
  /** Date Picker **/
  function initDatePicker() {
    $('#datepicker').datepicker({
      showOn: 'button',
      buttonImage: 'calendar.png',
      buttonImageOnly: true,
      beforeShow: function(input, inst) {            
        setTimeout(function() {
        var $calendar = inst.dpDiv;            
        $calendar.position({
          my: 'left top',              
          at: 'left bottom+5',
          of: $('#date-dropdown')
        });
        }, 1);
      },
      onSelect: function() {
        syncDateDropdownWithDatePicker();
      }
    });        
  }
      
  /** Date Dropdown **/
  function initDateDropDown() {
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    var currentMonth = currentDate.getMonth();
    var currentDay = currentDate.getDate();
    var numberOfDays = daysInMonth(currentYear, currentMonth);
    var numberofHours = 24;
    var currentHour = currentDate.getHours();
    
    populateYearDropdown(1900, currentYear+10);
    populateMonthDropdown();
    populateDayDropdown(numberOfDays, '');
    populateHourDropdown(numberofHours);
               
    //selectYearDropdown(currentYear);
    //selectMonthDropdown(currentMonth);
    //selectDayDropdown(currentDay);
    //selectHourDropdown(currentHour);
        
    bindYearDropdownEvent();
    bindMonthDropdownEvent();
    //bindDayDropdownEvent();
    //bindHourDropdownEvent();
  }      
      
  function populateYearDropdown(startYear, endYear) {
    var yearOptions = [];
    yearOptions.push('<option value="">Year</option>');
    for (var y = startYear; y <= endYear; y++) {          
      yearOptions.push('<option value="' + y + '">' + y + '</option>');
    }
        
    $('.year').html(yearOptions.join());
  }
      
  function populateMonthDropdown() {
    var monthOptions = [];
    monthOptions.push('<option value="">Month</option>');
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    for (var m = 0; m < months.length; m++) {          
      monthOptions.push('<option value="' + m + '">' + months[m] + '</option>');
    }
        
    $('.month').html(monthOptions.join());
  }

  function populateDayDropdown(numberOfDays, toFrom) {
    var dayOptions = [];
    dayOptions.push('<option value="0">Day</option>');        
    for (var d = 1; d <= numberOfDays; d++) {          
      dayOptions.push('<option value="' + d + '">' + d + '</option>');
    }
    if(toFrom == 'from'){ 
      $('#tempFromDay').html(dayOptions.join());
    } else if (toFrom == 'to'){
      $('#tempToDay').html(dayOptions.join());
    } else {
      $('#tempFromDay').html(dayOptions.join());
      $('#tempToDay').html(dayOptions.join());
    }
  }

  function populateHourDropdown(numberOfHours) {
    var hourOptions = [];
    hourOptions.push('<option value="">Hour</option>');
    for (var h=1; h<=numberOfHours; h++) {
      hourOptions.push('<option value="' + h + '">' + h + ':00</option>');
    }
    $('.hour').html(hourOptions.join());
  }
      
  function selectDayDropdown(day, toFrom) {
    $('#temp'+toFrom+'Day option[value=' + day + ']').attr('selected', true);
  }
     
  function refreshDayDropdown(toFrom) {
    if(toFrom == 'from'){
      var year = $('#tempFromYear').val();
      var month = $('#tempFromMonth').val();
      var day = $('#tempFromDay').val();

      if(year.length > 0 && month.length > 0){  
        var numberOfDays = daysInMonth(year, parseInt(month));
            
        populateDayDropdown(numberOfDays, 'from');
            
        if (day <= numberOfDays && day != null) {
          selectDayDropdown(day, 'From');
        } else {
          selectDayDropdown(0, 'From');
        }  
      }
    } else if(toFrom =='to'){
      var year = $('#tempToYear').val();
      var month = $('#tempToMonth').val();
      var day = $('#tempToDay').val();

      if(year.length > 0 && month.length > 0){  
        var numberOfDays = daysInMonth(year, parseInt(month));
            
        populateDayDropdown(numberOfDays, 'to');
            
        if (day <= numberOfDays && day != null) {
          selectDayDropdown(day, 'To');
        } else {
          selectDayDropdown(0, 'To');
        }  
      }
    }      
  }
      
  /*** Event handlers ***/
  function bindYearDropdownEvent() {
    $('#tempToYear').on('change', function() {
      refreshDayDropdown('to');
    });
    $('#tempFromYear').on('change', function() {
      refreshDayDropdown('from');
    });
  }
      
  function bindMonthDropdownEvent() {
    $('#tempFromMonth').on('change', function() {
      refreshDayDropdown('from');
    });
    $('#tempToMonth').on('change', function() {
      refreshDayDropdown('to');
    });
  }

  /** Utility Function **/
  // Reference: http://stackoverflow.com/a/315767 + fguillen's comment
  function daysInMonth(year, month) {
    return new Date(year, month+1, 0).getDate();
  }

  // NO LONGER NEEDED
/*
  function populateDayDropdown(numberOfDays) {
    var dayOptions = [];
    dayOptions.push('<option value="0">Day</option>');        
    for (var d = 1; d <= numberOfDays; d++) {          
      dayOptions.push('<option value="' + d + '">' + d + '</option>');
    }
    $('.day').html(dayOptions.join());
  }

  function selectYearDropdown(year) {
    $('.year option[value=' + year + ']').attr('selected', true);
  }
      
  function selectMonthDropdown(month) {
    $('.month option[value=' + month + ']').attr('selected', true);
  }

  function selectHourDropdown(hour) {
    $('.hour option[value=' + hour + ']').attr('selected', true);
  }
      
  function bindDayDropdownEvent() {
    $('#day').on('change', function() {
      syncDatePickerWithDateDropdown();
    });
  }

  function bindHourDropdownEvent() {
    $('#hour').on('change', function() {
      syncDatePickerWithDateDropdown();
    });
  }
      
  //Sync Functions 
  function syncDateDropdownWithDatePicker() {
    var datePickerDate = $('#datepicker').datepicker('getDate');
    selectYearDropdown(datePickerDate.getFullYear());
    selectMonthDropdown(datePickerDate.getMonth());
    refreshDayDropdown();
    selectDayDropdown(datePickerDate.getDate());
    selectHourDropdown(dataPickerDate.getHours());
  }
      
  function syncDatePickerWithDateDropdown() {
    var dropdownYear = parseInt($('.year').val());
    var dropdownMonth = parseInt($('.month').val());
    var dropdownDay = parseInt($('.day').val());
    var dropdownHour = parseInt($('.hour').val());
    var dropdownDate = new Date(dropdownYear, dropdownMonth, dropdownDay, dropdownHour);
    $('#datepicker').datepicker('setDate', dropdownDate);
  }
*/   
  
  </script>