<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>OOI Integrated Observatory Network</title>

		<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />

		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/ux-datatable-table-jui.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/ux-datatable-page.css" type="text/css" />
		<link rel="stylesheet/less" href="/static/bootstrap/less/bootstrap.less" type="text/css" />
		<link rel="stylesheet/less" href="/static/css/lca.css" type="text/css" />
	</head>
	<body>
		<div id="app">
			<div id="header">
				<img id="logo" src="/static/img/r2/ooi_logo.png" alt="Ocean Observatories Initiative" />
			</div> <!-- div#header -->
			<div class="clear"></div>
			<div id="sidebar" class="xgrid_3 xalpha">
				<span class="sidebar-section">Search</span>

				<span class="sidebar-section">Filters</span>
				<ul>
					<li class="filter"><a href="#">This Month</a>
					<li class="filter"><a href="#">North Atlantic</a></li>
					<li class="filter_disabled">Weather Instruments</li>
				</ul>

				<span class="sidebar-section">OOI Resources</span>
				<ul>
					<li class="all_resources"><a href="#">All Resources</a>
					<li class="data"><a href="#">Data</a></li>
					<li class="observatories"><a href="#">Observatories</a></li>
					<li class="facilities"><a href="#">Facilities</a></li>
					<li class="platforms"><a href="#">Platforms</a></li>
					<li class="instruments"><a href="#">Instruments</a></li>
				</ul>

				<span class="sidebar-section">My Resources</span>
				<ul>
					<li class="notifications"><a href="#">Notifications</a></li>
					<li class="publications"><a href="#">Publications</a></li>
				</ul>


				<span class="sidebar-section">My Collections</span>
				<ul>
					<li class="right"><a href="#">Notifications</a></li>
					<li class="down"><a href="#">Undeployed Instruments</a>
						<ul>
							<li><a href="#">abc instrument</a></li>
							<li><a href="#">def instrument</a></li>
						</ul>
					</li>
					<li class="down"><a href="#">Available Policies</a>
						<ul>
							<li><a href="#">My Class 0101</a></li>
							<li><a href="#">Police 034956</a></li>
						</ul>
					</li>
				</ul>
			</div> <!-- div#sidebar -->
			
			<div id="main" class="xgrid_17 xbeta">
				
				<div id="container" class="container_20">

					<div id="data-resources" class="viewcontainer grid_20 height_200 rounded_5" style="overflow:scroll"> </div>
					<div class="clear">&nbsp;</div>
						
					<div id="data-resource-detail" class="viewcontainer grid_20 height_200 rounded_5" style="overflow:scroll"> </div>
					<div class="clear">&nbsp;</div>

        <div id="marine-facilities-container" class="viewcontainer">
					<div class="data-list grid_20 height_200 rounded_5" style="overflow:scroll"> </div>
          <button class='btn create_new'>New Marine Facility</button>
          <div id="marine-facilities-new"></div>
					<div class="clear">&nbsp;</div>
        </div>
	
				</div> <!-- div.container_20 -->
			</div> <!-- div#main -->
		</div> <!-- div#app -->


<!-- templates -->
<script type="text/template" id="marine-facilities-item-tmpl">{% include 'partials/marine_facilities_item.html' %}</script>
<script type="text/template" id="marine-facilities-detail-tmpl">{% include 'partials/marine_facilities_detail.html' %} </script>
<script type="text/template" id="data-resource-item-tmpl">{% include 'partials/data_resource_item.html' %}</script>
<script type="text/template" id="data-resource-detail-tmpl">{% include 'partials/data_resource_detail.html' %}</script>
<script type="text/template" id="new-marine-facility-tmpl">{% include 'partials/new_marine_facility.html' %}</script>


<!-- Vendor JavaScripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/underscore-1.2.2.min.js "></script>
<script type="text/javascript" src="/static/js/backbone-0.5.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/less-1.2.1.min.js" type="text/javascript"></script>

<!-- UX JavaScripts -->	
<script src="/static/js/ion-ux.js" type="text/javascript"></script>
<script src="/static/js/ux-models.js" type="text/javascript"></script>
<script src="/static/js/ux-collections.js" type="text/javascript"></script>
<script src="/static/js/ux-views.js" type="text/javascript"></script>
<script src="/static/js/ux-router.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('.scrollpane').jScrollPane({autoReinitialise: true});
    IONUX.init();
  });
</script>

	</body>
</html>
