
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>1440px grid system | 20 columns ~ margin left: 0px ~ margin right: 10px — based on 960.gs</title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/ux1440.css">
</head>
<body>
<div class="container_20">
 
  <h2>20 columns ~ margin left: 0px ~ margin right: 10px</h2>
    <div class="grid_20"><p>1430px</p></div>
    <!-- end .grid_20 -->
    <div class="clear">&nbsp;</div>
  <div class="grid_1">
    <p>62px</p>
  </div>
  <!-- end .grid_1 -->
  <div class="grid_19">
    <p>1358px</p>
  </div>
  <!-- end .grid_19 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_2">
    <p>134px</p>
  </div>
  <!-- end .grid_2 -->
  <div class="grid_18">
    <p>1286px</p>
  </div>
  <!-- end .grid_18 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_3">
    <p>206px</p>
  </div>
  <!-- end .grid_3 -->
  <div class="grid_17">
    <p>1214px</p>
  </div>
  <!-- end .grid_17 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_4">
    <p>278px</p>
  </div>
  <!-- end .grid_4 -->
  <div class="grid_16">
    <p>1142px</p>
  </div>
  <!-- end .grid_16 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_5">
    <p>350px</p>
  </div>
  <!-- end .grid_5 -->
  <div class="grid_15">
    <p>1070px</p>
  </div>
  <!-- end .grid_15 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_6">
    <p>422px</p>
  </div>
  <!-- end .grid_6 -->
  <div class="grid_14">
    <p>998px</p>
  </div>
  <!-- end .grid_14 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_7">
    <p>494px</p>
  </div>
  <!-- end .grid_7 -->
  <div class="grid_13">
    <p>926px</p>
  </div>
  <!-- end .grid_13 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_8">
    <p>566px</p>
  </div>
  <!-- end .grid_8 -->
  <div class="grid_12">
    <p>854px</p>
  </div>
  <!-- end .grid_12 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_9">
    <p>638px</p>
  </div>
  <!-- end .grid_9 -->
  <div class="grid_11">
    <p>782px</p>
  </div>
  <!-- end .grid_11 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_10">
    <p>710px</p>
  </div>
  <!-- end .grid_10 -->
  <div class="grid_10">
    <p>710px</p>
  </div>
  <!-- end .grid_10 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_11">
    <p>782px</p>
  </div>
  <!-- end .grid_11 -->
  <div class="grid_9">
    <p>638px</p>
  </div>
  <!-- end .grid_9 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_12">
    <p>854px</p>
  </div>
  <!-- end .grid_12 -->
  <div class="grid_8">
    <p>566px</p>
  </div>
  <!-- end .grid_8 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_13">
    <p>926px</p>
  </div>
  <!-- end .grid_13 -->
  <div class="grid_7">
    <p>494px</p>
  </div>
  <!-- end .grid_7 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_14">
    <p>998px</p>
  </div>
  <!-- end .grid_14 -->
  <div class="grid_6">
    <p>422px</p>
  </div>
  <!-- end .grid_6 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_15">
    <p>1070px</p>
  </div>
  <!-- end .grid_15 -->
  <div class="grid_5">
    <p>350px</p>
  </div>
  <!-- end .grid_5 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_16">
    <p>1142px</p>
  </div>
  <!-- end .grid_16 -->
  <div class="grid_4">
    <p>278px</p>
  </div>
  <!-- end .grid_4 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_17">
    <p>1214px</p>
  </div>
  <!-- end .grid_17 -->
  <div class="grid_3">
    <p>206px</p>
  </div>
  <!-- end .grid_3 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_18">
    <p>1286px</p>
  </div>
  <!-- end .grid_18 -->
  <div class="grid_2">
    <p>134px</p>
  </div>
  <!-- end .grid_2 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_19">
    <p>1358px</p>
  </div>
  <!-- end .grid_19 -->
  <div class="grid_1">
    <p>62px</p>
  </div>
  <!-- end .grid_1 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 suffix_19">
    <p>62px</p>
  </div>
  <!-- end .grid_1.suffix_19 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_1 suffix_18">
    <p>62px</p>
  </div>
  <!-- end .grid_1 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_2 suffix_17">
    <p>62px</p>
  </div>
  <!-- end .grid_2 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_3 suffix_16">
    <p>62px</p>
  </div>
  <!-- end .grid_3 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_4 suffix_15">
    <p>62px</p>
  </div>
  <!-- end .grid_4 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_5 suffix_14">
    <p>62px</p>
  </div>
  <!-- end .grid_5 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_6 suffix_13">
    <p>62px</p>
  </div>
  <!-- end .grid_6 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_7 suffix_12">
    <p>62px</p>
  </div>
  <!-- end .grid_7 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_8 suffix_11">
    <p>62px</p>
  </div>
  <!-- end .grid_8 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_9 suffix_10">
    <p>62px</p>
  </div>
  <!-- end .grid_9 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_10 suffix_9">
    <p>62px</p>
  </div>
  <!-- end .grid_10 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_11 suffix_8">
    <p>62px</p>
  </div>
  <!-- end .grid_11 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_12 suffix_7">
    <p>62px</p>
  </div>
  <!-- end .grid_12 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_13 suffix_6">
    <p>62px</p>
  </div>
  <!-- end .grid_13 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_14 suffix_5">
    <p>62px</p>
  </div>
  <!-- end .grid_14 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_15 suffix_4">
    <p>62px</p>
  </div>
  <!-- end .grid_15 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_16 suffix_3">
    <p>62px</p>
  </div>
  <!-- end .grid_16 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_17 suffix_2">
    <p>62px</p>
  </div>
  <!-- end .grid_17 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_18 suffix_1">
    <p>62px</p>
  </div>
  <!-- end .grid_18 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_19 suffix_0">
    <p>62px</p>
  </div>
  <!-- end .grid_19 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_1 push_19">
    <p>Push (62px)</p>
  </div>
  <!-- end .grid_1 .push_19 -->
  <div class="grid_19 pull_1">
    <p>Pull (1358px)</p>
  </div>
  <!-- end .grid_19.pull_1 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_2 push_18">
    <p>Push (134px)</p>
  </div>
  <!-- end .grid_2 .push_18 -->
  <div class="grid_18 pull_2">
    <p>Pull (1286px)</p>
  </div>
  <!-- end .grid_18.pull_2 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_3 push_17">
    <p>Push (206px)</p>
  </div>
  <!-- end .grid_3 .push_17 -->
  <div class="grid_17 pull_3">
    <p>Pull (1214px)</p>
  </div>
  <!-- end .grid_17.pull_3 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_4 push_16">
    <p>Push (278px)</p>
  </div>
  <!-- end .grid_4 .push_16 -->
  <div class="grid_16 pull_4">
    <p>Pull (1142px)</p>
  </div>
  <!-- end .grid_16.pull_4 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_5 push_15">
    <p>Push (350px)</p>
  </div>
  <!-- end .grid_5 .push_15 -->
  <div class="grid_15 pull_5">
    <p>Pull (1070px)</p>
  </div>
  <!-- end .grid_15.pull_5 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_6 push_14">
    <p>Push (422px)</p>
  </div>
  <!-- end .grid_6 .push_14 -->
  <div class="grid_14 pull_6">
    <p>Pull (998px)</p>
  </div>
  <!-- end .grid_14.pull_6 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_7 push_13">
    <p>Push (494px)</p>
  </div>
  <!-- end .grid_7 .push_13 -->
  <div class="grid_13 pull_7">
    <p>Pull (926px)</p>
  </div>
  <!-- end .grid_13.pull_7 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_8 push_12">
    <p>Push (566px)</p>
  </div>
  <!-- end .grid_8 .push_12 -->
  <div class="grid_12 pull_8">
    <p>Pull (854px)</p>
  </div>
  <!-- end .grid_12.pull_8 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_9 push_11">
    <p>Push (638px)</p>
  </div>
  <!-- end .grid_9 .push_11 -->
  <div class="grid_11 pull_9">
    <p>Pull (782px)</p>
  </div>
  <!-- end .grid_11.pull_9 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_10 push_10">
    <p>Push (710px)</p>
  </div>
  <!-- end .grid_10 .push_10 -->
  <div class="grid_10 pull_10">
    <p>Pull (710px)</p>
  </div>
  <!-- end .grid_10.pull_10 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_11 push_9">
    <p>Push (782px)</p>
  </div>
  <!-- end .grid_11 .push_9 -->
  <div class="grid_9 pull_11">
    <p>Pull (638px)</p>
  </div>
  <!-- end .grid_9.pull_11 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_12 push_8">
    <p>Push (854px)</p>
  </div>
  <!-- end .grid_12 .push_8 -->
  <div class="grid_8 pull_12">
    <p>Pull (566px)</p>
  </div>
  <!-- end .grid_8.pull_12 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_13 push_7">
    <p>Push (926px)</p>
  </div>
  <!-- end .grid_13 .push_7 -->
  <div class="grid_7 pull_13">
    <p>Pull (494px)</p>
  </div>
  <!-- end .grid_7.pull_13 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_14 push_6">
    <p>Push (998px)</p>
  </div>
  <!-- end .grid_14 .push_6 -->
  <div class="grid_6 pull_14">
    <p>Pull (422px)</p>
  </div>
  <!-- end .grid_6.pull_14 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_15 push_5">
    <p>Push (1070px)</p>
  </div>
  <!-- end .grid_15 .push_5 -->
  <div class="grid_5 pull_15">
    <p>Pull (350px)</p>
  </div>
  <!-- end .grid_5.pull_15 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_16 push_4">
    <p>Push (1142px)</p>
  </div>
  <!-- end .grid_16 .push_4 -->
  <div class="grid_4 pull_16">
    <p>Pull (278px)</p>
  </div>
  <!-- end .grid_4.pull_16 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_17 push_3">
    <p>Push (1214px)</p>
  </div>
  <!-- end .grid_17 .push_3 -->
  <div class="grid_3 pull_17">
    <p>Pull (206px)</p>
  </div>
  <!-- end .grid_3.pull_17 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_18 push_2">
    <p>Push (1286px)</p>
  </div>
  <!-- end .grid_18 .push_2 -->
  <div class="grid_2 pull_18">
    <p>Pull (134px)</p>
  </div>
  <!-- end .grid_2.pull_18 -->
  <div class="clear">&nbsp;</div>
  <div class="grid_19 push_1">
    <p>Push (1358px)</p>
  </div>
  <!-- end .grid_19 .push_1 -->
  <div class="grid_1 pull_19">
    <p>Pull (62px)</p>
  </div>
  <!-- end .grid_1.pull_19 -->
  <div class="clear">&nbsp;</div>
    <div class="grid_20">
      <p>This valid css/xhtml grid system is created by the <a href="http://www.gridsystemgenerator.com">Grid System Generator</a><br>
      Based on the 960.gs grid system.<br>
      <a href="http://validator.w3.org/check/referer">XHTML</a> - <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>
    </div>
    <!-- end .grid_20 -->
    <div class="clear">&nbsp;</div>
</div>
<!-- end .container_20 -->
</body></html>